Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Correct the regenerated-path count to ten
  .claude/skills/add-price-model/SKILL.md
  AGENTS.md
Due: none

Refresh agent-facing docs for the v2 data contract (#534)
  .claude/skills/add-price-model/SKILL.md
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.md
  AGENTS.md
  README.md
  packages/js/README.md
  prices/README.md
  prices/units.yml
Due: build, check-for-price-discrepancies, inject-providers

fix: preserve GPT-5.6 Luna price history
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fix four broken pipeline paths and close the gaps that hid them
  .github/scripts/check_version_not_downgraded.py
  .github/workflows/ci.yml
  .gitignore
  Makefile
  package-lock.json
  package.json
  packages/js/eslint.config.mjs
  packages/js/package.json
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/cli.ts
  packages/js/src/engine.ts
  packages/js/vitest.config.ts
  packages/python/genai_prices/types.py
  prices/src/prices/price_discrepancies.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/source_simonw_prices.py
  pyproject.toml
  tests/dataset/extract_usages.py
  tests/fixtures/__init__.py
  tests/fixtures/huggingface_models.json
  tests/fixtures/litellm_models.json
  tests/fixtures/openrouter_models.json
  tests/fixtures/ovhcloud_models.json
  tests/fixtures/simonw_current_v1.json
  tests/test_dataset.py
  tests/test_lifecycle.py
  tests/test_package_schema.py
  tests/test_price_calc.py
  tests/test_source_huggingface.py
  tests/test_source_litellm.py
  tests/test_source_openrouter.py
  tests/test_source_ovhcloud.py
  tests/test_source_simonw.py
  uv.lock
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

fix: preserve GPT-5.6 Terra price history
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Keep the coverage html report scoped to the strict tree
  .github/workflows/ci.yml
  Makefile
Due: none

Address cubic review: UTC-normalize before taking time of day, guard the CLI entry point
  packages/python/genai_prices/types.py
  tests/dataset/extract_usages.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

fix: set prices_checked to the date the prices were actually checked
  prices/providers/aws.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Revert "fix: set prices_checked to the date the prices were actually checked"
  prices/providers/aws.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

fix: harden JavaScript provider data activation (#522)
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

feat: add support for cursor models
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cursor.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Harden the price importers against a compromised upstream
  prices/helicone_get/README.md
  prices/helicone_get/deno.json
  prices/helicone_get/pull.sh
  prices/src/prices/source_guard.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_litellm.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/source_ovhcloud.py
  prices/src/prices/source_prices.py
  prices/src/prices/source_simonw_prices.py
  tests/test_source_guard.py
Due: format-python, lint-python, build, typecheck-python

Mark every generated artifact linguist-generated, pin the frozen v1 snapshots
  .gitattributes
  AGENTS.md
  tests/test_frozen_v1_data.py
Due: format-python, lint-python, typecheck-python

Address cubic review: validate parsed models, and validate all providers before writing any
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_ovhcloud.py
Due: format-python, lint-python, build, typecheck-python

Fix GPT-5.6 Luna and Terra price history (#535)
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Drop the explicit timeouts: httpx2 already defaults to 5s
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_litellm.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/source_simonw_prices.py
Due: format-python, lint-python, build, typecheck-python

Document preserving price history on a provider rate change
  .claude/skills/add-price-model/SKILL.md
  AGENTS.md
Due: none

fix(security): missing timeout on http requests to external apis
  prices/src/prices/source_simonw_prices.py
Due: format-python, lint-python, build, typecheck-python

Collapse generated diffs, pin the frozen v1 snapshots, document price-history preservation (#542)
  .claude/skills/add-price-model/SKILL.md
  .gitattributes
  AGENTS.md
  tests/test_frozen_v1_data.py
Due: format-python, lint-python, typecheck-python

fix(js): normalize downloaded price constraints
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

Address review: contextual constraint errors, observable async rejection, wire-type boundary
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

Harden the engine's constraint conditional against representation leaks
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Make the engine's constraint dispatch an exhaustive switch
  packages/js/src/api.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Restore the else-if shape with a type guard instead of a lint suppression
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Inline the wire conditional-price type into normalizeConditionalPrice
  packages/js/src/api.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

Validate constraint values, not just their shape, during normalization
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

Normalize caller-supplied providers in calcPrice
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Drop the WeakSet memoization from normalizeProvider
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

Reject constraints with extra or mixed fields, and year-zero start dates
  packages/js/pydantic-genai-prices-0.1.0.tgz
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

fix(js): normalize downloaded price constraints (#544)
  packages/js/pydantic-genai-prices-0.1.0.tgz
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Prep 0.1.1 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Read the CLI version from package.json instead of a hardcoded literal
  packages/js/src/cli.ts
  packages/js/tsconfig.json
Due: lint-fix, typecheck-ts

Prep 0.1.1 release (#545)
  package-lock.json
  packages/js/package.json
  packages/js/src/cli.ts
  packages/js/tsconfig.json
  packages/python/pyproject.toml
  uv.lock
Due: lint-fix, typecheck-ts

Drop the SHA pin, keep the scoped write permission
  prices/helicone_get/README.md
  prices/helicone_get/deno.json
  prices/helicone_get/pull.sh
  prices/src/prices/source_guard.py
Due: format-python, lint-python, build, typecheck-python

Add gpt-5.6-sol-<date> dated snapshot alias
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add dated snapshot aliases for gpt-5.6-luna and gpt-5.6-terra too
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add batch API prices
  AGENTS.md
  packages/js/README.md
  packages/js/src/__tests__/batchPrices.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/python/README.md
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  prices/README.md
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
  prices/providers/groq.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/providers/x_ai.yml
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  tests/test_batch_prices.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Restrict batch prices to models the provider will actually batch
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  prices/providers/groq.yml
  prices/providers/openai.yml
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Drop the mistral batch prices the previous commit missed
  prices/providers/mistral.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Document each provider's batch discount rule on the provider
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
  prices/providers/groq.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts
