Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Align the JS batch path with Python and guard batch price history
  packages/js/src/__tests__/batchPrices.test.ts
  packages/js/src/cli.ts
  packages/js/src/engine.ts
  prices/src/prices/collapse.py
  prices/src/prices/prices_types.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Document that batch prices must repeat a dated price change
  AGENTS.md
  prices/README.md
Due: build

Teach the add-price-model skill about batch prices
  .claude/skills/add-price-model/SKILL.md
Due: none

Treat empty batch prices as no batch prices
  packages/js/src/__tests__/batchPrices.test.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  tests/test_batch_prices.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Mention the JS CLI batch flag in its README
  packages/js/README.md
Due: none

Reject an empty batch price mapping at build time
  AGENTS.md
  prices/src/prices/prices_types.py
Due: format-python, lint-python, build, typecheck-python

Generalise batch prices into context-keyed price variants
  .claude/skills/add-price-model/SKILL.md
  AGENTS.md
  packages/js/README.md
  packages/js/src/__tests__/priceVariants.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/python/README.md
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  prices/README.md
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
  prices/providers/groq.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/providers/x_ai.yml
  prices/src/prices/collapse.py
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  tests/test_price_variants.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Apply the first matching when group, not the last
  packages/js/src/__tests__/priceVariants.test.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/python/genai_prices/types.py
  prices/src/prices/prices_types.py
  tests/test_price_variants.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Match the model IDs xAI's Batch API actually accepts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
  prices/providers/groq.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Never match a variant that expects no value
  packages/js/src/__tests__/priceVariants.test.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  tests/test_price_variants.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Never match a variant that names no parameter
  packages/js/src/__tests__/priceVariants.test.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  tests/test_price_variants.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Drop the batch shorthand, keep the explicit pricing context
  AGENTS.md
  packages/js/README.md
  packages/js/src/__tests__/priceVariants.test.ts
  packages/js/src/api.ts
  packages/js/src/cli.ts
  packages/js/src/types.ts
  packages/python/README.md
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  tests/test_cli.py
  tests/test_price_variants.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Reject a repeated --price-context key
  packages/js/src/cli.ts
  packages/python/genai_prices/_cli.py
  tests/test_cli.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Use an own-property check for repeated --price-context keys
  packages/js/src/cli.ts
Due: lint-fix, typecheck-ts

feat: add Baseten provider with Model APIs pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/baseten.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(fireworks): add kimi-k3, inkling, and deepseek-v4-flash-0731 pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/fireworks.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Z.AI GLM-5.2 pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/zai.yml
  tests/dataset/usages.json
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Narrow Z.AI model matching
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/zai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Require explicit Z.AI provider selection
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/zai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Z.AI GLM-5.2 pricing (#551)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/zai.yml
  tests/dataset/usages.json
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Complete Fireworks serverless pricing coverage
  .pre-commit-config.yaml
  README.md
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/deepseek.yml
  prices/providers/fireworks.yml
  prices/src/prices/package_data.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Use canonical Prettier configuration
  .github/copilot/actions-setup-steps.yml
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  benchmarks/javascript/pricing.ts
  packages/js/src/data.ts
  prices/providers/cerebras.yml
  prices/providers/cohere.yml
  prices/providers/google.yml
  prices/providers/minimax.yml
  prices/providers/moonshotai.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/providers/voyageai.yml
  prices/providers/zai.yml
  prices/providers/zhipuai.yml
  prices/src/prices/package_data.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(fireworks): complete serverless pricing coverage (#552)
  .github/copilot/actions-setup-steps.yml
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  README.md
  benchmarks/javascript/pricing.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cerebras.yml
  prices/providers/cohere.yml
  prices/providers/deepseek.yml
  prices/providers/fireworks.yml
  prices/providers/google.yml
  prices/providers/minimax.yml
  prices/providers/moonshotai.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/providers/voyageai.yml
  prices/providers/zai.yml
  prices/providers/zhipuai.yml
  prices/src/prices/package_data.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Align Prettier configuration scopes
  .github/copilot/actions-setup-steps.yml
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  benchmarks/javascript/pricing.ts
  prices/providers/cerebras.yml
  prices/providers/cohere.yml
  prices/providers/google.yml
  prices/providers/minimax.yml
  prices/providers/moonshotai.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/providers/voyageai.yml
  prices/providers/zai.yml
  prices/providers/zhipuai.yml
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fix Prettier configuration scope drift (#553)
  .github/copilot/actions-setup-steps.yml
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  benchmarks/javascript/pricing.ts
  prices/providers/cerebras.yml
  prices/providers/cohere.yml
  prices/providers/google.yml
  prices/providers/minimax.yml
  prices/providers/moonshotai.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/providers/voyageai.yml
  prices/providers/zai.yml
  prices/providers/zhipuai.yml
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add gpt-5.6 dated snapshot aliases (Sol, Luna, Terra) (#546)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add realtime model pricing (#517)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Merge origin/main; restore frozen v1 data, regenerate v2 + bundled data
  prices/data.json
  prices/data_slim.json
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
Due: build

Add AWS Bedrock prices for Writer Palmyra X4 and X5 (#520)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

AWS Bedrock prices for gpt-5.6-family models. Includes price history for initial rates, and for 2026-07-30 price cuts.
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/dataset/usages.json
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add QuickSilver Pro provider
  prices/providers/quicksilverpro.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

fix: update long context prices for `gpt-5.6` models
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: key the provider-qualified lookup cache write to match its read
  packages/python/genai_prices/data_snapshot.py
  tests/test_snapshot_cache.py
Due: format-python, lint-python, build, typecheck-python

Add Modal Shared Endpoint pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/modal.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Modal Responses usage extraction
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/modal.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Address Modal provider review feedback
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/modal.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Match Modal chat reasoning usage
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/modal.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Modal Shared Endpoint pricing (#562)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/modal.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.1.2 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.1.2 release (#563)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
