Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Fix model pricing aliases
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/providers/x_ai.yml
  tests/dataset/usages.json
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Use Bedrock OpenAI prices
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  prices/providers/openai.yml
  tests/dataset/usages.json
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Sonnet 5 pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Sonnet 5 OpenRouter pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Sonnet 5 AWS Bedrock pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Sonnet 5 pricing (#431)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add type discriminator to price constraints so remote data.json works in JS engine
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Add Claude Sonnet 5 AWS Bedrock pricing (#432)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add auto-release workflow on data/source changes to main
  .github/workflows/release.yml
Due: none

Add Bedrock OpenAI GPT-5 prices
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add dated provider-prefixed model aliases
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  prices/providers/openrouter.yml
  prices/providers/x_ai.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Bedrock OpenAI GPT-5 prices (#435)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Limit Google prefix alias to OpenRouter
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add dated provider-prefixed model aliases (#436)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
  prices/providers/x_ai.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add MiniMax Anthropic and OpenAI-Responses usage extractors
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/minimax.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Regenerate usages.json dataset snapshot for new MiniMax extractors
  tests/dataset/usages.json
Due: none

Add MiniMax Anthropic and OpenAI-Responses usage extractors (#437)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/minimax.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.68 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Fix AWS Bedrock Converse extractor dropping cached tokens
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.68 release (#438)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Bucket cached tokens in Mistral and Groq usage extractors
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/groq.yml
  prices/providers/mistral.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add OVHcloud embeddings usage extractor
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/ovhcloud.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Model MiniMax-M3 length-based pricing tier and re-cite native source
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/minimax.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Map Mistral `cached_tokens` to `cache_read_tokens`
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/mistral.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Regenerate `usages.json` for Mistral cache mapping
  tests/dataset/usages.json
Due: none

Add request-level price modifiers
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
  packages/js/src/extractUsage.ts
  packages/js/src/types.ts
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, typecheck-python, typecheck-ts

Assert Mistral cache-read pricing in `test_mistral`
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Map Mistral `cached_tokens` to `cache_read_tokens` (#444)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/mistral.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Address price modifier review feedback
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, typecheck-python, typecheck-ts

Restore price modifier coverage
  packages/python/genai_prices/types.py
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Prep 0.0.69 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Use provider examples for batch modifier tests
  packages/js/src/__tests__/calcPrice.test.ts
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Prep 0.0.69 release (#446)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Use conditional prices for request context
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/openai.yml
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Introduce when/values conditional prices with per-unit first-match
  packages/js/src/__tests__/conditionalPrices.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/deepseek.yml
  prices/providers/openai.yml
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  tests/test_conditional_prices.py
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add provider-level prices inherited by models
  packages/js/src/__tests__/providerPrices.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/python/genai_prices/types.py
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
  tests/test_provider_prices.py
Due: format-python, lint-fix, lint-python, collapse-models, build, typecheck-python, typecheck-ts

Add reported cost support for OpenRouter usage
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/extractUsage.ts
  packages/js/src/types.ts
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/openrouter.yml
  prices/src/prices/prices_types.py
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Restore full coverage for reported cost paths
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Validate reported total price inputs
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/api.ts
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

fix: price AWS regional Claude Opus refs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
