Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Validate registry interval closure
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Validate registered price keys
  packages/python/genai_prices/validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Validate price ancestor coverage
  packages/python/genai_prices/units.py
  packages/python/genai_prices/validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Validate price join coverage
  packages/python/genai_prices/validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Compose model price validation
  packages/python/genai_prices/validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Validate extractor destinations
  packages/python/genai_prices/validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add decomposition descendant helper
  packages/python/genai_prices/decompose.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add priced leaf decomposition
  packages/python/genai_prices/decompose.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Load unit families during Python packaging
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Emit Python unit families data
  packages/python/genai_prices/data.py
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Carry bundled registry on data snapshot
  packages/python/genai_prices/data_snapshot.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add active registry helper
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Default custom snapshots to active registry
  packages/python/genai_prices/data_snapshot.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Make AbstractUsage a compatibility alias
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Fix package data TypeAlias import on Python 3.9
  prices/src/prices/package_data.py
Due: format-python, lint-python, build, typecheck-python

Replace Usage with reported value class
  packages/python/genai_prices/types.py
  tests/dataset/extract_usages.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add Usage raw wrapper
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Infer missing usage from descendants
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Reject ambiguous usage inference
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Loosen source extractor destination type
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
  tests/test_package_schema.py
  tests/test_source_prices_types.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Accumulate runtime extractors by destination string
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
  tests/test_package_schema.py
Due: format-python, lint-python, build, typecheck-python

Add generic unit price helper
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Add model price free helper
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Collect effective model price keys
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add registry-aware model price getattr
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Group model price units by family
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Fix provider data for registry validation
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  prices/providers/openai.yml
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Validate model prices on base calc
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Compute registry priced counts
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Update extracted usage dataset
  tests/dataset/usages.json
Due: none

Switch model price to registry decomposition
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Use inferable input totals for tiered prices
  packages/python/genai_prices/types.py
  tests/test_tiered_pricing.py
Due: format-python, lint-python, build, typecheck-python

Validate provider model prices during build
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Validate provider extractor destinations during build
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add standard price parity regressions
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

Add overlap price parity regressions
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

Add request price regressions
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

Add tiered price regression
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

Add custom price regression
  tests/test_custom_prices.py
Due: format-python, lint-python, typecheck-python

Add extraction parity regressions
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
