Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

feat: add registry units and pricing data
  README.md
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/dataset.test.ts
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/data.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_units.py
  prices/data_v2.json
  prices/data_v2.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/azure.yml
  prices/providers/google.yml
  prices/providers/groq.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/providers/perplexity.yml
  prices/providers/x_ai.yml
  prices/src/prices/source_litellm.py
  prices/src/prices/source_openrouter.py
  prices/units.yml
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
  tests/test_cli.py
  tests/test_end_to_end.py
  tests/test_extract_usage.py
  tests/test_google_extractors.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
  tests/test_source_litellm.py
  tests/test_source_openrouter.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: support conditional unit dimensions
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/dataUnits.ts
  packages/js/src/decompose.ts
  packages/python/genai_prices/data_units.py
  packages/python/genai_prices/decompose.py
  prices/data_v2.schema.json
  prices/providers/.schema.json
  prices/src/prices/export_validation.py
  prices/src/prices/package_data.py
  prices/units.yml
  tests/test_decompose.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

docs: add data-driven unit registry specs (#506)
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

feat: price Anthropic cache writes by TTL
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/providers/anthropic.yml
  tests/dataset/usages.json
  tests/test_cli.py
  tests/test_end_to_end.py
  tests/test_extract_usage.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

test: cover Python registry runtime boundaries
  tests/test_units.py
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

revert: keep CI-only tests out of runtime split
  tests/test_units.py
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

fix: restore omitted expanded-unit regressions
  prices/providers/openai.yml
  tests/test_lifecycle.py
Due: format-python, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python

build: generate static unit registry data (#507)
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/dataUnits.ts
  packages/js/src/types.ts
  packages/python/genai_prices/data_units.py
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  prices/units.yml
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

test: place Python runtime lifecycle coverage
  tests/test_units.py
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

test: place package validation coverage
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

test: align package validation test order
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

test: cover supplied runtime registry parsing
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

fix: decompose arbitrary unit containment graphs
  packages/python/genai_prices/decompose.py
  tests/test_decompose.py
Due: format-python, lint-python, build, typecheck-python

fix: freeze Python unit registry metadata
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

fix: preserve custom price keys in CLI output
  packages/python/genai_prices/_cli.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

fix: restore ModelPrice value equality
  packages/python/genai_prices/types.py
  tests/test_custom_prices.py
Due: format-python, lint-python, build, typecheck-python

test: cover review compatibility branches
  tests/test_cli.py
  tests/test_custom_prices.py
Due: format-python, lint-python, typecheck-python

Add realtime model pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

refactor: use unit registry in Python runtime (#509)
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/decompose.py
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  packages/python/genai_prices/update_prices.py
  packages/python/genai_prices/validation.py
  prices/src/prices/package_data.py
  tests/dataset/extract_usages.py
  tests/test_cli.py
  tests/test_custom_prices.py
  tests/test_decompose.py
  tests/test_extract_usage.py
  tests/test_lifecycle.py
  tests/test_package_schema.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
  tests/test_tiered_pricing.py
  tests/test_units.py
  tests/test_update_prices.py
  tests/test_usage.py
  tests/test_validation.py
  tests/unit_registry_helpers.py
Due: format-python, lint-python, build, typecheck-python

fix: subtract exclusive descendant usage
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/decompose.ts
Due: lint-fix, typecheck-ts

fix: ignore pricing-only usage during reads
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

fix: validate recognized model prices
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

fix: tolerate floating-point leaf residuals
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/decompose.ts
Due: lint-fix, typecheck-ts

fix: keep request synthesis in pricing
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

fix: validate Python model price values
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

fix: validate Python usage values
  packages/python/genai_prices/types.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

docs: require positive unit normalization
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

fix: validate unit normalization
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

fix: normalize JavaScript price tiers
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

refactor: remove obsolete v1 build helpers
  prices/src/prices/build.py
  prices/src/prices/prices_types.py
Due: format-python, lint-python, build, typecheck-python

fix: warn once for JavaScript usage keys
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

fix: accept integral usage values
  packages/python/genai_prices/types.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

refactor: use unit registry in JavaScript runtime (#510)
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/dataset.test.ts
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/tieredPricing.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/decompose.ts
  packages/js/src/engine.ts
  packages/js/src/extractUsage.ts
  packages/js/src/types.ts
  packages/js/src/units.ts
  packages/js/src/usage.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

docs: keep v1 updates until v2 exists
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

fix: validate Python pricing inputs (#519)
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

fix: keep v1 publication active
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/src/prices/build.py
  prices/src/prices/prices_types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

docs: describe registry schema metadata
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

feat: describe registry-derived schema prices
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/build.py
  tests/test_package_schema.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

docs: correct v1 build comment
  prices/src/prices/build.py
Due: format-python, lint-python, build, typecheck-python

test: remove transitional v1 build assertion
  tests/test_units.py
Due: format-python, lint-python, typecheck-python
