Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

feat: add gemini-3.1-pro-preview
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: use model description from google
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add AWS Bedrock pricing for Claude Opus 4.5, Opus 4.6, Sonnet 4.6
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add tiered long context pricing for AWS Bedrock Opus 4.6 and Sonnet 4.6
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Regenerate package data files for tiered pricing
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Add AWS Bedrock pricing for Claude Opus 4.5, Opus 4.6, Sonnet 4.6 (#294)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add Gemini 3.1 Pro (Preview) (#293)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: address remaining devin cli review issues
  packages/python/genai_prices/_cli_impl.py
  packages/python/genai_prices/types.py
  tests/test_cli.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Update packages/python/genai_prices/_cli_impl.py
  packages/python/genai_prices/_cli_impl.py
Due: format-python, lint-python, build, typecheck-python

docs: clarify python cli extra installation
  packages/python/README.md
Due: none

Add OpenRouter pricing for anthropic/claude-sonnet-4.6
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.55 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.55 release (#298)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Add openrouter qwen/qwen3.5-plus-02-15
  prices/providers/openrouter.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

feat: add gpt-5.3-codex pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add gpt-5.3-codex pricing (#301)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

refactor: simplify python cli wrapper
  packages/python/genai_prices/_cli.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

style: format cli tests
  tests/test_cli.py
Due: format-python, lint-python, typecheck-python

feat: add Gemini 3.1 Flash Lite (Preview) pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add Gemini 3.1 Flash Lite (Preview) pricing (#302)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: improve cli help and model suggestions
  packages/python/genai_prices/_cli_impl.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

test: use typed cli suggestion fixtures
  tests/test_cli.py
Due: format-python, lint-python, typecheck-python

feat: refactor python cli with rich output and pydantic-settings (#278)
  packages/python/README.md
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/_cli_impl.py
  packages/python/genai_prices/types.py
  packages/python/pyproject.toml
  pyproject.toml
  tests/test_cli.py
  tests/test_price_calc.py
  uv.lock
Due: format-python, lint-python, build, typecheck-python

feat: add Gemini 3.1 Flash Image Preview pricing
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

fix: simplify price_comments to match existing image model patterns
  prices/data.json
  prices/providers/google.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

chore: update generated package data and README
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Loosen matchers for regional-only AWS Claude 3.* models
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Loosen matchers for regional-only AWS Claude 3.* models (#305)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Allow AWS models to leave out version suffix
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

xfails
  tests/test_model_matching.py
Due: format-python, lint-python, typecheck-python

fix remaining bedrock xfails
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Allow leaving out region prefix
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

preserve model IDs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Allow leaving out AWS model version suffix (e.g. `-v1`) and/or regional prefix (e.g. `us.anthropic`) (#306)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/dataset/usages.json
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

adding XAI flavour
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

field correction
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Adding GPT 5.4 pricing
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

adding readme
  README.md
Due: none

Adding GPT 5.4 pricing (#308)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

adding snapshotted ids, dated
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
