Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Preserve tier boundaries through provider fallbacks
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  tests/test_custom_prices.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Preserve fallback pricing context
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  tests/test_custom_prices.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Handle positional-only price overrides
  packages/python/genai_prices/types.py
  tests/test_custom_prices.py
Due: format-python, lint-python, build, typecheck-python

Add Gemini 2.5 TTS pricing (#612)
  README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Honor positive Groq input duration
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/api.ts
  packages/python/genai_prices/types.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Apply Groq transcription billing minimums (#589)
  README.md
  packages/js/README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/python/README.md
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/groq.yml
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
  tests/test_price_regressions.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add OpenAI and Mistral transcription prices (#590)
  README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  prices/providers/openai.yml
  tests/test_price_regressions.py
  tests/test_provider_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Reprice Deepseek V4 flash/pro for the 2026-08-17 peak/off-peak split
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/deepseek.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add the long-context price tier to 4 Grok models and 2 GPT-5.5 models
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

xAI's 200k boundary is inclusive, so the tier starts at 199999
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add grok-4.6, which is missing entirely
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

xAI's 200k boundary is inclusive, so the tier starts at 199999
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Consolidate DeepSeek V4, Grok, and GPT-5.5 pricing updates (#615)
  README.md
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/deepseek.yml
  prices/providers/x_ai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: match compact dated model refs from LiteLLM/OpenRouter
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

test: cover compact dated refs end to end
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Preserve legacy JS constraint inputs
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

fix: validate compact calendar dates
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Regenerate JS data after main merge
  packages/js/src/data.ts
Due: lint-fix, typecheck-ts

Use one JavaScript constraint shape (#613)
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/examples/browser/main.ts
  packages/js/src/examples/node-script.ts
  packages/js/src/types.ts
  prices/src/prices/package_data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Add GLM-5.3 pricing for Zhipu AI
  README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  prices/providers/zai.yml
  prices/providers/zhipuai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

test: mirror fallback precedence in Python
  tests/test_model_matching.py
Due: format-python, lint-python, typecheck-python

Add Zhipu GLM-5.3 and GLM-5.3 Flash pricing (#617)
  README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  prices/providers/zai.yml
  prices/providers/zhipuai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Match compact dated model references (#616)
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Document HuggingFace optional usage shape
  prices/providers/huggingface.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Support usage-only HuggingFace extraction
  packages/js/src/__tests__/dataset.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/js/src/extractUsage.ts
  packages/js/src/types.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/huggingface.yml
  prices/src/prices/prices_types.py
  tests/dataset/extract_usages.py
  tests/test_extract_usage.py
  tests/test_pipeline_build.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Revert "Use one JavaScript constraint shape (#613)"
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/examples/browser/main.ts
  packages/js/src/examples/node-script.ts
  packages/js/src/types.ts
  prices/src/prices/package_data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Keep golden model extraction invariant
  packages/js/src/__tests__/dataset.test.ts
Due: lint-fix, typecheck-ts

Revert JavaScript constraint shape changes (#618)
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/examples/browser/main.ts
  packages/js/src/examples/node-script.ts
  packages/js/src/types.ts
  prices/src/prices/package_data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Preserve empty-string model paths
  packages/js/src/__tests__/extractUsage.test.ts
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Strengthen TypeScript contract checks
  .github/aw/actions-lock.json
  .github/aw/imports/.gitattributes
  .github/aw/imports/github/gh-aw/db25fdfdb4ad50c5b0d10de9977b709401760378/.github_workflows_shared_pydantic.md
  .github/scripts/typescript_review_eligibility.py
  .github/workflows/typescript-review.lock.yml
  .github/workflows/typescript-review.md
  .prettierignore
  package-lock.json
  package.json
  packages/js/api-extractor.json
  packages/js/api-report/genai-prices.api.md
  packages/js/eslint.config.mjs
  packages/js/package.json
  packages/js/scripts/check-packed-package.mjs
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/api.ts
  packages/js/src/cli.ts
  packages/js/src/engine.ts
  packages/js/src/examples/browser/main.ts
  packages/js/src/examples/node-script.ts
  packages/js/src/extractUsage.ts
  packages/js/src/index.ts
  packages/js/src/providerData.ts
  packages/js/test-d/public-api.test-d.ts
  packages/js/tsconfig.json
  pyproject.toml
  tests/test_typescript_review_eligibility.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Add a staged triage pilot on the pydantic-ai gh-aw engine
  .github/workflows/genai-prices-triage-pilot.lock.yml
  .github/workflows/genai-prices-triage-pilot.md
  .github/workflows/shared/pydantic.md
  .prettierignore
Due: none

Validate decoded provider data eagerly
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

Address TypeScript contract review
  package.json
  packages/js/package.json
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/providerData.ts
  pyproject.toml
Due: lint-fix, typecheck-ts

Grant issues: read so the triage agent can read what it triages
  .github/workflows/genai-prices-triage-pilot.lock.yml
  .github/workflows/genai-prices-triage-pilot.md
Due: none

Enforce conditional price ordering
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

Gate the pilot on AGENTIC_WORKFLOWS_ENABLED like the other agentic workflows
  .github/workflows/genai-prices-triage-pilot.lock.yml
  .github/workflows/genai-prices-triage-pilot.md
Due: none

Require own entries in decoded arrays
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

Exclude generated JSON from Macroscope review
  .macroscope/ignore.md
  .prettierignore
Due: none

Exclude generated JSON from Macroscope review (#621)
  .macroscope/ignore.md
  .prettierignore
Due: none

feat: staged triage pilot on the pydantic-ai gh-aw engine (#620)
  .github/workflows/genai-prices-triage-pilot.lock.yml
  .github/workflows/genai-prices-triage-pilot.md
  .github/workflows/shared/pydantic.md
  .prettierignore
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
