Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  83/3de9bdbf0c5992ef95ad148ad398505d87e8e9
Due: none

Spec: UnitDef and UnitFamily are dataclasses, not plain classes
  specs/data-driven-unit-registry/spec.md
Due: none

Notes added by 'git notes add'
  c6/96d5aa8bc9292580f5a7825d5dbede22848bff
Due: none

Code spec: slim UnitRegistry API — public dicts, cut getter methods, cut module-level wrappers
  specs/data-driven-unit-registry/code-spec.md
Due: none

Notes added by 'git notes add'
  ed/73e94ecfb06cfb6d0d169cae496eec1f1e56d9
Due: none

Code spec: use concrete type in calc_price signature, not AbstractUsage
  specs/data-driven-unit-registry/code-spec.md
Due: none

Notes added by 'git notes add'
  02/5f7c169841e1ae6f747dcbe892024dddd82a2b
Due: none

Code spec: calc_price accepts object, not AbstractUsage — getattr on any object
  specs/data-driven-unit-registry/code-spec.md
Due: none

Notes added by 'git notes add'
  91/4690c4b5a2b4b91318a7dcb19c36b4f2ffc147
Due: none

Spec: expand reasoning for usage type being object, not AbstractUsage
  specs/data-driven-unit-registry/spec.md
Due: none

Notes added by 'git notes add'
  73/5d88f1dfccfc2c4ed1a5767344132ddc6e102b
Due: none

Code spec: fix is_free() to check all values zero/None, not just empty dict
  specs/data-driven-unit-registry/code-spec.md
Due: none

Notes added by 'git notes add'
  98/904f387e7284e173bf3434c30eaa9d73366bd1
Due: none

Spec: price sanity checks start as errors, not warnings
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Notes added by 'git notes add'
  7c/f74098f62f36e69009ed6bff7e5edd9c97d252
Due: none

Spec: Usage becomes registry-aware — infers ancestors, owns decomposition, serves correct values
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Notes added by 'git notes add'
  c3/134badae74d10ffede56cfc109b1f357eeed21
Due: none

Code spec: clarify JS decompose.ts is standalone (no smart Usage in JS)
  specs/data-driven-unit-registry/code-spec.md
Due: none

Notes added by 'git notes add'
  54/b31d00bc363ca828a6f181cea84e06010bfc92
Due: none

Spec: leaf_value stays in calc_price, not on Usage — decomposition depends on priced set
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Notes added by 'git notes add'
  31/f90fde60a4791e984872529c809817981f7c90
Due: none

Add Gemma 4 31B pricing for Google and OpenRouter
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  prices/providers/openrouter.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Add Nvidia Nemotron Bedrock models pricing
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Add generated package data for Nvidia Nemotron models
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Address PR review: add version suffixes, fix naming, add prices_checked
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Nvidia Nemotron Bedrock models pricing (#336)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Specs: add Open Items sections for unresolved design/code gaps (requests default, stale plan tasks)
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Notes added by 'git notes add'
  84/0edb08821fbb431d2f7f916190167ee1650ac6
Due: none

Add colleague feedback deck for unit registry spec
  specs/data-driven-unit-registry/colleague-feedback-deck.html
  specs/data-driven-unit-registry/colleague-feedback-deck.md
  specs/data-driven-unit-registry/colleague-feedback-deck.pptx
Due: none

Notes added by 'git notes add'
  9d/632154a205c91cdee408ff84963392c6483192
Due: none

Add Claude Opus 4.7 pricing across all providers
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Rebuild data.json after removing research preview comments
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Add Claude Opus 4.7 pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Opus 4.7 pricing (#339)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix(aws): extract bedrock cache token usage
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

test: narrow bedrock cached model ref type
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Prep 0.0.57 release
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.57 release (#342)
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

simplify presentation
  specs/data-driven-unit-registry/colleague-feedback-deck.html
  specs/data-driven-unit-registry/colleague-feedback-deck.md
  specs/data-driven-unit-registry/colleague-feedback-deck.pptx
Due: none

tweak
  specs/data-driven-unit-registry/colleague-feedback-deck.md
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
