Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Add JSON Schema validation tooling
  pyproject.toml
  uv.lock
Due: none

Check v2 publication compatibility
  .github/scripts/check_v2_compatibility.py
  tests/test_v2_compatibility.py
Due: format-python, lint-python, typecheck-python

Require v2 compatibility in CI
  .github/workflows/ci.yml
Due: none

Document static unit registry rollout
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify v2 publication source projection
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
Due: none

Document wrapped JavaScript auto updates
  packages/js/README.md
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/examples/browser/main.ts
  packages/js/src/examples/node-script.ts
Due: lint-fix, typecheck-ts

Honor timezone-aware price intervals in JavaScript
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Separate JavaScript v2 wire types
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/decodeProviderData.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

Implement Python static unit registry
  Makefile
  README.md
  packages/js/src/dataUnits.ts
  packages/js/src/types.ts
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/data_units.py
  packages/python/genai_prices/decompose.py
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  packages/python/genai_prices/update_prices.py
  packages/python/genai_prices/validation.py
  prices/data_v2.json
  prices/data_v2.schema.json
  prices/providers/google.yml
  prices/src/prices/build.py
  prices/src/prices/export_validation.py
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_ovhcloud.py
  prices/units.yml
  tests/dataset/extract_usages.py
  tests/test_cli.py
  tests/test_custom_prices.py
  tests/test_decompose.py
  tests/test_extract_usage.py
  tests/test_google_extractors.py
  tests/test_lifecycle.py
  tests/test_package_schema.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
  tests/test_provider_array_integration.py
  tests/test_tiered_pricing.py
  tests/test_units.py
  tests/test_update_prices.py
  tests/test_usage.py
  tests/test_validation.py
  tests/unit_registry_helpers.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Cover atomic runtime edge paths
  tests/test_decompose.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_units.py
  tests/test_update_prices.py
  tests/test_usage.py
Due: format-python, lint-python, typecheck-python

Implement JavaScript static unit registry
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/dataset.test.ts
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/__tests__/tieredPricing.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/decompose.ts
  packages/js/src/engine.ts
  packages/js/src/extractUsage.ts
  packages/js/src/types.ts
  packages/js/src/units.ts
  packages/js/src/usage.ts
  packages/js/src/validation.ts
  prices/src/prices/package_data.py
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Harden static unit registry runtime
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/data.ts
  packages/js/src/decompose.ts
  packages/js/src/engine.ts
  packages/js/src/extractUsage.ts
  packages/js/src/types.ts
  packages/js/src/units.ts
  packages/js/src/usage.ts
  packages/js/src/validation.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  packages/python/genai_prices/validation.py
  prices/data_v2.json
  prices/providers/azure.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add reasoning and multimodal pricing units
  README.md
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/data.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_units.py
  prices/data_v2.json
  prices/data_v2.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/azure.yml
  prices/providers/google.yml
  prices/providers/groq.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/providers/perplexity.yml
  prices/providers/x_ai.yml
  prices/src/prices/source_litellm.py
  prices/src/prices/source_openrouter.py
  prices/units.yml
  tests/dataset/usages.json
  tests/test_end_to_end.py
  tests/test_extract_usage.py
  tests/test_google_extractors.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
  tests/test_source_litellm.py
  tests/test_source_openrouter.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add tool citation and search pricing units
  README.md
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/dataset.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/data.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_units.py
  prices/data_v2.json
  prices/data_v2.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
  prices/providers/perplexity.yml
  prices/units.yml
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
  tests/test_cli.py
  tests/test_end_to_end.py
  tests/test_extract_usage.py
  tests/test_google_extractors.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add cache write TTL pricing units
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/data.ts
  packages/js/src/dataUnits.ts
  packages/js/src/decompose.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_units.py
  packages/python/genai_prices/decompose.py
  packages/python/genai_prices/types.py
  prices/data_v2.json
  prices/data_v2.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/src/prices/export_validation.py
  prices/src/prices/package_data.py
  prices/units.yml
  tests/dataset/usages.json
  tests/test_cli.py
  tests/test_decompose.py
  tests/test_end_to_end.py
  tests/test_price_regressions.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Warn on unsupported runtime unit names
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
  packages/js/src/extractUsage.ts
  packages/js/src/usage.ts
  packages/js/src/validation.ts
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_units.py
  tests/test_update_prices.py
  tests/test_usage.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Switch auto-updates to v2 provider data
  README.md
  packages/js/README.md
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/api.ts
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  prices/README.md
  prices/src/prices/package_data.py
  tests/cassettes/test_update_prices/success.yaml
  tests/test_units.py
  tests/test_update_prices.py
Due: format-python, lint-fix, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(anthropic): add Claude Opus 5 pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(anthropic): add Claude Opus 5 pricing (#501)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Opus 5 pricing for Bedrock, Vertex and OpenRouter
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Opus 5 pricing for Bedrock, Vertex and OpenRouter (#502)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Skill: require covering every provider that hosts a model
  .claude/skills/add-price-model/SKILL.md
Due: none

Skill: require covering every provider that hosts a model (#503)
  .claude/skills/add-price-model/SKILL.md
Due: none

Synchronize initial price update attempt
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Validate remote time constraints during decode
  packages/js/src/__tests__/decodeProviderData.test.ts
  packages/js/src/decodeProviderData.ts
  packages/js/src/engine.ts
  packages/js/src/timeOfDay.ts
Due: lint-fix, typecheck-ts

Avoid exponential interval validation
  packages/js/src/__tests__/units.test.ts
  packages/js/src/unitRegistry.ts
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Reject invalid conditional price timestamps
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Ignore undefined prices in coverage validation
  packages/js/src/__tests__/providerData.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

Reserve Python pricing API unit keys
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Wake waiters when price updater stops early
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Serialize global price updater startup
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Handle prototype-named unit dimensions
  packages/js/src/__tests__/decodeProviderData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/decodeProviderData.ts
  packages/js/src/unitRegistry.ts
Due: lint-fix, typecheck-ts

docs: add data-driven unit registry specs
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

build: generate static unit registry data
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/dataUnits.ts
  packages/js/src/types.ts
  packages/python/genai_prices/data_units.py
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  prices/units.yml
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Honor timezone-aware price intervals
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
  packages/js/src/timeOfDay.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

refactor: use unit registry in Python runtime
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/decompose.py
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  packages/python/genai_prices/update_prices.py
  packages/python/genai_prices/validation.py
  prices/src/prices/package_data.py
  tests/dataset/extract_usages.py
  tests/test_cli.py
  tests/test_custom_prices.py
  tests/test_decompose.py
  tests/test_extract_usage.py
  tests/test_lifecycle.py
  tests/test_package_schema.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
  tests/test_tiered_pricing.py
  tests/test_units.py
  tests/test_usage.py
  tests/test_validation.py
  tests/unit_registry_helpers.py
Due: format-python, lint-python, build, typecheck-python

refactor: use unit registry in JavaScript runtime
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/dataset.test.ts
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/tieredPricing.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/decompose.ts
  packages/js/src/engine.ts
  packages/js/src/extractUsage.ts
  packages/js/src/types.ts
  packages/js/src/units.ts
  packages/js/src/usage.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

build: validate unit registry and provider usage
  prices/providers/.schema.json
  prices/src/prices/build.py
  prices/src/prices/export_validation.py
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_ovhcloud.py
  tests/test_package_schema.py
  tests/test_units.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Honor timezone-aware price intervals in JavaScript (#508)
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
  packages/js/src/timeOfDay.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

feat: publish and consume static-registry v2 data
  Makefile
  README.md
  packages/js/README.md
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  prices/README.md
  prices/data_v2.json
  prices/data_v2.schema.json
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  tests/cassettes/test_update_prices/success.yaml
  tests/test_lifecycle.py
  tests/test_provider_array_integration.py
  tests/test_update_prices.py
Due: format-python, lint-fix, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts
