Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

chore(voyageai): collapse models and rebuild data
  prices/data.json
  prices/data_slim.json
  prices/providers/voyageai.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

chore(voyageai): regenerate package data and README provider list
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

test(voyageai): regenerate usages.json test fixture
  tests/dataset/usages.json
Due: none

fix(voyageai): address review feedback
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/voyageai.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix(voyageai): align deprecated model flags
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/voyageai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(voyageai): add Voyage AI text embedding models (#412)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/voyageai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Avoid per-version coverage gating
  Makefile
Due: none

Assert exact repr values
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Cover price ref helper branches
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

Add "Part of the Pydantic Stack" footer to README
  README.md
Due: none

Add 'Part of the Pydantic Stack' footer to README (#413)
  README.md
Due: none

Add OpenRouter aliases and Zhipu GLM 5.2 (#409)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
  prices/providers/zhipuai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Kimi K2.7 Code HighSpeed pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/moonshotai.yml
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Document OpenRouter dated alias checks
  CLAUDE.md
Due: none

Add Fireworks minimax-m3 pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/fireworks.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add 6 new Fireworks models (#388)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/fireworks.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Fireworks minimax-m3 pricing (#417)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/fireworks.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: map Groq cached prompt tokens
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/groq.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add official support for Python 3.14
  .github/workflows/ci.yml
  Makefile
  packages/python/genai_prices/_cli.py
  packages/python/pyproject.toml
  uv.lock
Due: format-python, lint-python, build, typecheck-python

Add 4 new Fireworks models (June 2026)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/fireworks.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: extract OpenAI cached audio tokens
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/azure.yml
  prices/providers/openai.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: price compact GPT-5.2 date refs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: price AWS regional Claude Opus refs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: cover AWS regional Anthropic literal refs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add official support for Python 3.14 (#419)
  .github/workflows/ci.yml
  Makefile
  packages/python/genai_prices/_cli.py
  packages/python/pyproject.toml
  uv.lock
Due: format-python, lint-python, build, typecheck-python

Prep 0.0.67 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.67 release (#425)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

fix(groq): update groq extractors mappings to map cache_read_tokens
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/groq.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix(groq): map prompt_tokens_details.cached_tokens to cache_read_tokens
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/groq.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Collapse the background updater into a process-global singleton
  docs/adr/0001-singleton-background-updater.md
  packages/python/genai_prices/update_prices.py
  tests/test_custom_prices.py
  tests/test_tiered_pricing.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Update README for the singleton background updater
  packages/python/README.md
Due: none

Address review: timeout conflict warning, stop() re-raises, drop ADR
  docs/adr/0001-singleton-background-updater.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Prep 0.0.67 release (#425)
  README.md
  package-lock.json
  packages/js/package.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/pyproject.toml
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  uv.lock
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.67 release (#425)
  package-lock.json
  packages/js/package.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/pyproject.toml
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  uv.lock
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Make UpdatePrices the ref-counted lease; drop update_prices_in_background
  packages/python/README.md
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Fix: discarded fetch must not report success to waiters (Codex review)
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Fix GLM 5.2 Fireworks cache price
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/fireworks.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add 4 new Fireworks models (June 2026) (#420)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/fireworks.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Enforce 100% coverage (#383)
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  Makefile
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/types.py
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  tests/test_custom_prices.py
  tests/test_extract_usage.py
  tests/test_lifecycle.py
  tests/test_model_matching.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python
