Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Avoid usage inference caching
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Ignore irrelevant contradictory usage
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Do not audit tier input totals
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Add GPT-5.5 and GPT-5.5 Pro pricing (#343)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.58 release
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.58 release (#344)
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Fix compact dated LiteLLM model refs
  packages/python/genai_prices/data_snapshot.py
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Handle missing fallback providers
  packages/python/genai_prices/types.py
  tests/test_model_matching.py
Due: format-python, lint-python, build, typecheck-python

Handle missing fallback providers (#347)
  packages/python/genai_prices/types.py
  tests/test_model_matching.py
Due: format-python, lint-python, build, typecheck-python

fix(openrouter): add DeepSeek V3.2 pricing
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

chore: update provider count
  README.md
Due: none

fix(mistral): match Pixtral and Mixtral models
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/mistral.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix(mistral): avoid codespell false positive
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/mistral.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Align decomposition algorithm notes
  specs/data-driven-unit-registry/algorithm.md
Due: none

fix(openrouter): add DeepSeek V3.2 pricing (#348)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Remove family dimension declarations
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify snapshot editing workflow
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Use batch API for unit additions
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Resolve registry closure rules
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Split dense unit registry spec sections
  specs/data-driven-unit-registry/spec.md
Due: none

Split unit registry details into requirements
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify trusted price validation boundaries
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Preserve trusted prices across unit additions
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Fold answered unit registry decisions into specs
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Fix unit registry spec review issues
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Remove unit registry nice-to-have scope
  specs/data-driven-unit-registry/spec.md
Due: none

Preserve manual custom pricing in unit registry spec
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify dynamic ModelPrice keys in unit registry spec
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Capture global snapshot rationale
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify active snapshot execution guard
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Split runtime custom units into phase two spec
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify phase split purpose
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Split global snapshot enforcement into phase three
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/phase-3-global-snapshot-enforcement/code-spec.md
  specs/data-driven-unit-registry/phase-3-global-snapshot-enforcement/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Label phase one delivery slices
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Add OpenRouter usage extractor
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Move dynamic subclass support to polish slice
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Narrow phase one validation scope
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/phase-3-global-snapshot-enforcement/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Apply JS lint fix
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Clarify 1A current-unit registry scope
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Document accepted data payload break
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
