Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Notes added by 'git notes add'
  b538e7045c7f43446be0681218d2892f03d6a21c
Due: none

Rewire calc_price to use registry-driven decomposition
  packages/python/genai_prices/types.py
  tests/test_decompose.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Notes added by 'git notes add'
  887d11a3b82a42ff7d6747cc5b302f616666deb5
Due: none

Update test dataset for decomposition bugfix
  tests/dataset/usages.json
Due: none

Notes added by 'git notes add'
  0e3d754a5a074ac269270e78714f519b65f6a4c3
Due: none

Remove plan and reference doc from branch (keep only spec)
  specs/2026-03-23-token-unit-registry-plan.md
  specs/2026-03-23-unit-registry-reference.md
Due: none

Notes added by 'git notes add'
  0db8300d12fc824eacbfec5de961fa08882e32aa
Due: none

Add unit registry YAML as source of truth
  prices/units.yml
Due: build, check-for-price-discrepancies, inject-providers

Notes added by 'git notes add'
  6a72346be14728ed286aa6e56e8734a2c8cb4383
Due: none

Add build step to generate units JSON from YAML
  prices/src/prices/package_data.py
Due: format-python, lint-python, build, typecheck-python

Notes added by 'git notes add'
  3e935dd88446b2a82a97dc741f7ae4f17231df8a
Due: none

Load unit definitions from generated JSON instead of hardcoding
  packages/js/src/units-data.json
  packages/python/genai_prices/units.py
  packages/python/genai_prices/units_data.json
  prices/src/prices/package_data.py
Due: format-python, lint-python, build, typecheck-python

Notes added by 'git notes add'
  6762c2561f7d30230a24af3014c82e468bdc47b1
Due: none

Add JS unit registry types and loader
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Notes added by 'git notes add'
  0c7e2210152864356da35c46d2874daf452c6fc0
Due: none

Add JS decomposition engine with Mobius inversion
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/decompose.ts
Due: lint-fix, typecheck-ts

Notes added by 'git notes add'
  330320352d23655d8a821921a6291dd18882cf68
Due: none

Rewire JS calcPrice to use registry-driven decomposition
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Notes added by 'git notes add'
  9ce58b4f34e893a08260f938044aa592fb27680e
Due: none

Validate unit definitions with Pydantic
  packages/python/genai_prices/units.py
Due: format-python, lint-python, build, typecheck-python

Notes added by 'git notes add'
  5ac6b8a6308bafe881810ad020fd8510f53ffd99
Due: none

Symlink JS units JSON, add YAML schema, document prettier step
  packages/js/src/units-data.json
  packages/python/genai_prices/units.py
  prices/src/prices/package_data.py
  prices/units.schema.json
  prices/units.yml
Due: format-python, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python

Notes added by 'git notes add'
  afd7bd93fe978d33013a79033eb5450e78e16de9
Due: none

Document ancestor coverage precondition on compute_leaf_values
  packages/js/src/decompose.ts
  packages/python/genai_prices/decompose.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  94099450450afc4520e0ebe5290c2d705648e9c0
Due: none

Replace AbstractUsage Protocol with object type alias
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Notes added by 'git notes add'
  a59938626b2e361ede663c7d1b3629ed1c6f4fe4
Due: none

Add ancestor coverage validation on ModelPrice construction, fix 3 OpenAI models
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/decompose.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_decompose.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  06d971098e25ac76f722a542497f06a9b08bfffa
Due: none

Update test fixtures for ancestor coverage validation on audio models
  .pre-commit-config.yaml
  tests/cassettes/test_update_prices/success.yaml
  tests/dataset/usages.json
Due: build, check-for-price-discrepancies, inject-providers

Notes added by 'git notes add'
  14aba2b6f2e9feb37a6a612237e5d38a788f6e8e
Due: none

Add ancestor coverage validation in JS calcPrice
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/decompose.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Notes added by 'git notes add'
  650769665eccf6dac079c29f48c05b202b496dae
Due: none

Rename cache_read_audio_mtok unit ID to cache_audio_read_mtok to match existing field name
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
  packages/python/genai_prices/units.py
  packages/python/genai_prices/units_data.json
  prices/units.yml
  tests/test_decompose.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  4fb8596e6f31308a52678dedaac202eb8038819e
Due: none

Remove FIELD_TO_UNIT identity mapping, use TOKENS_FAMILY.units directly
  packages/js/src/__tests__/units.test.ts
  packages/js/src/engine.ts
  packages/js/src/units.ts
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  d2e63a12b8cd238a1f75b541ba1644e0e3bbf818
Due: none

Replace phase language with concrete descriptions, fix spec naming to match code
  packages/js/src/decompose.ts
  packages/python/genai_prices/decompose.py
  specs/2026-03-23-unit-registry-spec.md
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  3879dd2c5c0b3f3d4e0594250af032d1890204de
Due: none

Restore computed variable assertions in cache tokens test
  packages/js/src/__tests__/calcPrice.test.ts
Due: lint-fix, typecheck-ts
