Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, collapse-models, build, typecheck

format:
  name: format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - package-data
  language: system
  pass_filenames: false

typecheck:
  name: typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

add badges to readmes
  .github/workflows/ci.yml
  README.md
  packages/python/README.md
  packages/python/pyproject.toml
Due: none

fix badges
  README.md
  packages/python/README.md
Due: none

moves some types around
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
Due: format, lint, build, typecheck

reduce size of data.py
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  prices/src/prices/package_data.py
  pyproject.toml
  uv.lock
Due: format, lint, build, typecheck

add tests for custom pricing
  Makefile
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  prices/src/prices/package_data.py
  pyproject.toml
  tests/test_custom_prices.py
Due: format, lint, build, typecheck

write documentation
  packages/python/README.md
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/sources.py
  prices/README.md
Due: format, lint, build, typecheck

add async tests
  README.md
  pyproject.toml
  tests/conftest.py
  tests/test_auto_update.py
  tests/test_price_calc.py
  uv.lock
Due: format, lint, build, typecheck

improve coverage
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
Due: format, lint, build, typecheck

improvements to Python package (#23)
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  Makefile
  README.md
  packages/python/README.md
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  prices/README.md
  prices/src/prices/package_data.py
  pyproject.toml
  tests/conftest.py
  tests/test_auto_update.py
  tests/test_custom_prices.py
  tests/test_price_calc.py
  uv.lock
Due: format, lint, build, typecheck

add model_match to providers
  .gitignore
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/cohere.yml
  prices/providers/deepseek.yml
  prices/providers/google.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/providers/x_ai.yml
  prices/src/prices/build.py
  prices/src/prices/py.typed
  prices/src/prices/types.py
  tests/test_custom_prices.py
  tests/test_package_schema.py
  tests/test_price_calc.py
Due: format, lint, collapse-models, build, typecheck

add `model_match` to providers to improve matching without a provider (#25)
  .gitignore
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/cohere.yml
  prices/providers/deepseek.yml
  prices/providers/google.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/providers/x_ai.yml
  prices/src/prices/build.py
  prices/src/prices/py.typed
  prices/src/prices/types.py
  tests/test_custom_prices.py
  tests/test_package_schema.py
  tests/test_price_calc.py
Due: format, lint, collapse-models, build, typecheck

adding conditional pricing for o3 and test
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/openai.yml
  prices/src/prices/package_data.py
  prices/src/prices/types.py
  tests/test_package_schema.py
  tests/test_price_calc.py
Due: format, lint, collapse-models, build, typecheck

add time of day pricing for deepseek
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/deepseek.yml
  prices/providers/openai.yml
  prices/src/prices/package_data.py
  prices/src/prices/types.py
  tests/test_price_calc.py
Due: format, lint, collapse-models, build, typecheck

cleanup and stricter schema comparison tests
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  packages/python/genai_prices/types.py
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/types.py
  tests/test_package_schema.py
Due: format, lint, collapse-models, build, typecheck

adding conditional pricing for `o3` and `deekseek` and test (#26)
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/deepseek.yml
  prices/providers/openai.yml
  prices/src/prices/package_data.py
  prices/src/prices/types.py
  tests/test_package_schema.py
  tests/test_price_calc.py
Due: format, lint, collapse-models, build, typecheck

tests for failed auto-update
  pyproject.toml
  tests/__init__.py
  tests/cassettes/test_auto_update/fail.yaml
  tests/cassettes/test_auto_update/success.yaml
  tests/conftest.py
  tests/test_auto_update.py
Due: format, lint, build, typecheck

Tests for failed auto-update (#27)
  pyproject.toml
  tests/__init__.py
  tests/cassettes/test_auto_update/fail.yaml
  tests/cassettes/test_auto_update/success.yaml
  tests/conftest.py
  tests/test_auto_update.py
Due: format, lint, build, typecheck

switch to based pyright
  Makefile
  packages/python/genai_prices/types.py
  prices/src/prices/types.py
  pyproject.toml
  uv.lock
Due: format, lint, build, typecheck

more rules
  Makefile
  pyproject.toml
Due: none

switch from `pyright` to `basedpyright` (#28)
  Makefile
  packages/python/genai_prices/types.py
  prices/src/prices/types.py
  pyproject.toml
  uv.lock
Due: format, lint, build, typecheck

prep for release
  .github/workflows/ci.yml
Due: none

change job name
  .github/workflows/ci.yml
Due: none

prep for release (#29)
  .github/workflows/ci.yml
Due: none

Grok 4 pricing
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
Due: format, lint, collapse-models, build, typecheck

Grok 4 pricing (#30)
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
Due: format, lint, collapse-models, build, typecheck

Improve prices readme
  .pre-commit-config.yaml
  Makefile
  prices/README.md
  prices/src/prices/__main__.py
  prices/src/prices/price_discrepancies.py
Due: format, lint, build, typecheck

writing better READMEs
  README.md
  packages/python/LICENSE
  packages/python/README.md
  prices/README.md
Due: build

more readme improvements
  README.md
  packages/python/README.md
Due: none

change project description, improve links
  README.md
  packages/python/README.md
  packages/python/pyproject.toml
Due: none

move sections
  README.md
  packages/python/README.md
  prices/README.md
Due: build

README improvements (#31)
  .pre-commit-config.yaml
  Makefile
  README.md
  packages/python/LICENSE
  packages/python/README.md
  packages/python/pyproject.toml
  prices/README.md
  prices/src/prices/__main__.py
  prices/src/prices/price_discrepancies.py
Due: format, lint, build, typecheck

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  collapse-models: any of: prices/providers/
  build: (any of: prices/) or (any of: \.py$, \.json$)
  typecheck: any of: \.py$
