Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Prep 0.0.72 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.72 release (#497)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

spec minimal runtime unit metadata
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

clarify build-only unit validation metadata
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

strip build-only unit metadata from packages
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data_units.py
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

keep unit requirements build-only
  packages/js/src/__tests__/units.test.ts
  packages/js/src/types.ts
  packages/js/src/units.ts
  packages/python/genai_prices/units.py
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

tweaks
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

fix
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Match the GA Gemini Live model id (gemini-live-2.5-flash)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Record Gemini Live pricing check date
  prices/providers/google.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Ignore generated price JSON in reviews
  .gitattributes
Due: none

Ignore generated price JSON in reviews (#499)
  .gitattributes
Due: none

Match the GA Gemini Live model id (gemini-live-2.5-flash) (#498)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Specify runtime warnings for unknown units
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify runtime warning boundaries
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Align future runtime unit warnings
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Warn for unknown Python runtime units
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_units.py
  tests/test_update_prices.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Specify JavaScript usage warnings
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

Warn for unknown JavaScript runtime units
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
  packages/js/src/extractUsage.ts
  packages/js/src/usage.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

Make warning test cleanup failure-safe
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Avoid repeated extractor warnings
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

Warn instead of failing on unknown runtime units (#500)
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
  packages/js/src/extractUsage.ts
  packages/js/src/usage.ts
  packages/js/src/validation.ts
  packages/python/genai_prices/types.py
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
  specs/data-driven-unit-registry/spec.md
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_units.py
  tests/test_update_prices.py
  tests/test_usage.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Specify wrapped v2 phase 2 stack
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Publish units in wrapped v2 data
  prices/data_v2.json
  prices/data_v2.schema.json
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  tests/test_lifecycle.py
  tests/test_package_schema.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Validate append-only unit evolution
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add atomic Python runtime data state
  packages/python/genai_prices/runtime_state.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Route Python globals through runtime data state
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/runtime_state.py
  packages/python/genai_prices/units.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Capture Python registry per operation
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/decompose.py
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Validate untrusted runtime unit registries
  packages/python/genai_prices/units.py
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Decode wrapped v2 data strictly in Python
  packages/python/genai_prices/decode_provider_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Project unsupported remote provider fields
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Validate remote provider price coverage
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Activate wrapped Python updates atomically
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Move JavaScript unit registry indexes
  packages/js/src/unitRegistry.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Validate untrusted JavaScript unit registries
  packages/js/src/__tests__/units.test.ts
  packages/js/src/unitRegistry.ts
Due: lint-fix, typecheck-ts

Add atomic JavaScript runtime data state
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/api.ts
  packages/js/src/runtimeState.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Decode wrapped v2 data strictly in JavaScript
  packages/js/src/__tests__/decodeProviderData.test.ts
  packages/js/src/decodeProviderData.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

Prepare JavaScript provider candidates
  packages/js/src/__tests__/providerData.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

Activate JavaScript provider data by generation
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/api.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

Update integration fixtures for atomic v2 data
  tests/test_cli.py
  tests/test_provider_array_integration.py
Due: format-python, lint-python, typecheck-python

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
