Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Correctly account for output audio tokens in calculation (#156)
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Prep 0.0.31 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.31 release (#157)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

feat(aws): extract prices on AWS Bedrock models
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/js/src/extractUsage.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Apply suggestion from @Kludex
  prices/providers/aws.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Apply suggestion from @Kludex
  packages/js/src/extractUsage.ts
Due: lint-fix, typecheck-ts

Apply suggestion from @Kludex
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

python logic
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_end_to_end.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

python logic
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

enh: add embedding usage extractor
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Extend OpenRouter support for Google Gemini 2.5 models
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Create interface and undo python
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/extractUsage.ts
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  tests/test_end_to_end.py
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Update python side
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Update packages/python/genai_prices/types.py
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Use `required` parameter
  packages/js/src/extractUsage.ts
  packages/python/genai_prices/types.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

feat(aws): extract prices on AWS Bedrock models (#158)
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/js/src/extractUsage.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Version 0.0.32
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Version 0.0.32 (#161)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

fix: add `audio` field on OpenRouter script
  prices/src/prices/source_openrouter.py
Due: format-python, lint-python, build, typecheck-python

fix: add `audio` field on OpenRouter script (#162)
  prices/src/prices/source_openrouter.py
Due: format-python, lint-python, build, typecheck-python

fix(aws): update match statement
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

prices for claude haiku 4.5
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix(aws): update match statement (#163)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Version 0.0.33
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Version 0.0.33 (#166)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

prices for claude haiku 4.5 (#165)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Version 0.0.34
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Version 0.0.34 (#167)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Update simonw llm-prices url
  prices/src/prices/source_simonw_prices.py
Due: format-python, lint-python, build, typecheck-python

Update simonw llm-prices url (#168)
  prices/src/prices/source_simonw_prices.py
Due: format-python, lint-python, build, typecheck-python

Add anthropic extractor to Google Vertex
  packages/js/src/data.ts
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

pass pipeline
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Update tests
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/extractUsage.ts
  packages/python/genai_prices/types.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Add anthropic extractor to Google Vertex (#169)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/js/src/extractUsage.ts
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Version 0.0.35
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Version 0.0.35 (#170)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Extend OpenRouter support for Google Gemini 2.5 models (#160)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(openrouter): Add pricing details for GLM 4.5 and GLM 4.6 models to OpenRouter configuration.
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

feat(openrouter): add deepseek models that were missing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(google): update prices for gemini-2.5 family of models
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts
