Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, collapse-models, build, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format
        name: format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [package-data]
        types_or: [python, json]
        language: system
        pass_filenames: false
      - id: typecheck
        name: typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

remove redundant provider_match from openai.yml
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format, lint, collapse-models, build, typecheck

remove httpx dependency from pyproject.toml
  pyproject.toml
Due: none

move Claude models from google.yml to anthropic.yml
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  uv.lock
Due: format, lint, collapse-models, build, typecheck

revert claude-3-5-haiku model to simpler structure
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format, lint, collapse-models, build, typecheck

update Python tests to use actual provider data instead of mock providers
  packages/python/tests/test_normalization.py
Due: format, lint, build, typecheck

revert claude-3-5-haiku model to detailed structure
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format, lint, collapse-models, build, typecheck

move Claude models to Google provider since they are hosted by Google Cloud Vertex AI
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
Due: format, lint, collapse-models, build, typecheck

Update README.md
  README.md
Due: none

remove Provider and Model Matching section from README files
  README.md
  packages/js/README.md
Due: none

separate input and output prices
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  pyproject.toml
  tests/test_auto_update.py
  tests/test_cli.py
  tests/test_custom_prices.py
  tests/test_price_calc.py
Due: format, lint, build, typecheck

add project urls to pypi package
  packages/python/pyproject.toml
Due: none

add project urls to pypi package (#74)
  packages/python/pyproject.toml
Due: none

remove requests from Usage
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/types.py
Due: format, lint, build, typecheck

correct signature of PriceCalculation
  packages/python/genai_prices/types.py
Due: format, lint, build, typecheck

Update packages/python/genai_prices/types.py
  packages/python/genai_prices/types.py
Due: format, lint, build, typecheck

revert readme, google and anthropic
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
Due: format, lint, collapse-models, build, typecheck

remove unnecessary import
  packages/python/genai_prices/sources.py
Due: format, lint, build, typecheck

fix readme
  packages/js/README.md
Due: none

rename test file
  packages/python/tests/test_provider_matching.py
  prices/providers/anthropic.yml
  prices/providers/openai.yml
Due: format, lint, collapse-models, build, typecheck

fix
  packages/python/genai_prices/sources.py
Due: format, lint, build, typecheck

update js mather test
  packages/js/src/__tests__/matcher.test.ts
Due: none

remove unnecessary comments
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/matcher.ts
  packages/python/genai_prices/sources.py
  packages/python/tests/test_provider_matching.py
Due: format, lint, build, typecheck

separate input output in js package
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/priceCalc.test.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/index.ts
  packages/js/src/priceCalc.ts
  packages/js/src/sync/calcPriceSync.ts
  packages/js/src/types.ts
Due: none

remove unnecessary class from tests
  packages/python/tests/test_provider_matching.py
Due: format, lint, build, typecheck

normalize provider and model data (#72)
  .github/workflows/beta-release.yml
  .gitignore
  README.md
  package-lock.json
  packages/js/README.md
  packages/js/package.json
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/data.ts
  packages/js/src/matcher.ts
  packages/js/src/sync/calcPriceSync.ts
  packages/js/src/types.ts
  packages/js/tests/test-browser.html
  packages/js/tests/test-cli.js
  packages/python/genai_prices/data.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  packages/python/pyproject.toml
  packages/python/tests/test_provider_matching.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/google.yml
  prices/providers/mistral.yml
  prices/src/prices/types.py
  uv.lock
Due: format, lint, collapse-models, build, typecheck

remove pre.json from .changeset to use general release flow
  .changeset/pre.json
Due: build

remove pre.json from .changeset to use general release flow (#76)
  .changeset/pre.json
Due: build

bump js package version
  packages/js/package.json
Due: build

rename test file
  packages/js/src/__tests__/calcPrice.test.ts
Due: none

update tests
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/cli.ts
  packages/js/tests/test-browser.html
  packages/js/tests/test-cli.js
  packages/js/tests/test-error-handling.js
Due: none

update readme
  packages/js/README.md
  packages/python/README.md
Due: none

remove comment
  packages/js/src/types.ts
Due: none

fix time constraints
  packages/js/src/priceCalc.ts
Due: none

update js solution for input output
  packages/js/README.md
  packages/js/package.json
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/cli.ts
  packages/js/src/index.ts
  packages/js/src/priceCalc.ts
  packages/js/src/sync/calcPriceSync.ts
  packages/js/src/types.ts
  packages/js/tests/test-browser.html
  packages/js/tests/test-cli.js
  packages/js/tests/test-error-handling.js
Due: build
