Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, collapse-models, build, typecheck

format:
  name: format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - package-data
  language: system
  pass_filenames: false

typecheck:
  name: typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

bump version
  packages/js/package.json
Due: build

bump version (#63)
  packages/js/package.json
Due: build

simplify beta release
  .github/workflows/beta-release.yml
Due: none

simplify beta release (#67)
  .github/workflows/beta-release.yml
Due: none

smarter beta release
  .github/workflows/beta-release.yml
Due: none

smarter beta release (#69)
  .github/workflows/beta-release.yml
Due: none

add getProvider and getModel normalization helpers
  .github/workflows/beta-release.yml
  README.md
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/index.ts
  packages/js/src/matcher.ts
  packages/js/src/sync/calcPriceSync.ts
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  packages/python/tests/test_normalization.py
Due: format, lint, build, typecheck

fix tests
  packages/python/genai_prices/sources.py
Due: format, lint, build, typecheck

provider and model data normalization
  README.md
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/data.ts
  packages/js/src/index.ts
  packages/js/src/matcher.ts
  packages/js/src/sync/calcPriceSync.ts
  packages/js/src/types.ts
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  packages/python/tests/test_normalization.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/src/prices/types.py
Due: format, lint, collapse-models, build, typecheck

fix: ensure invalid providerId returns null instead of falling back to model matching
  packages/js/src/matcher.ts
Due: none

bump version
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
Due: build

Update packages/js/src/matcher.ts
  packages/js/src/matcher.ts
Due: none

Update prices/providers/mistral.yml
  prices/providers/mistral.yml
Due: collapse-models, build

fixes
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/matcher.ts
  pyproject.toml
  uv.lock
Due: none

fixes
  .DS_Store
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  uv.lock
Due: format, lint, collapse-models, build, typecheck

fixes
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/data.ts
  packages/js/src/index.ts
  packages/js/src/matcher.ts
  packages/js/src/sync/calcPriceSync.ts
Due: none

fixes
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/data.ts
  packages/js/src/index.ts
  packages/js/src/matcher.ts
  packages/js/src/sync/calcPriceSync.ts
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  packages/python/tests/test_normalization.py
Due: format, lint, build, typecheck

fixes
  packages/js/src/data.ts
  packages/js/src/matcher.ts
Due: none

fixes
  packages/js/src/data.ts
  packages/python/genai_prices/sources.py
Due: format, lint, build, typecheck

Update prices/providers/google.yml
  prices/providers/google.yml
Due: collapse-models, build

fix
  packages/python/genai_prices/types.py
Due: format, lint, build, typecheck

Update packages/python/genai_prices/types.py
  packages/python/genai_prices/types.py
Due: format, lint, build, typecheck

fixes
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
Due: format, lint, collapse-models, build, typecheck

fixes
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  packages/python/tests/test_normalization.py
Due: format, lint, build, typecheck

fixes
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  prices/providers/openai.yml
Due: format, lint, collapse-models, build, typecheck

fixes
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format, lint, collapse-models, build, typecheck

fixes
  packages/python/tests/test_normalization.py
Due: format, lint, build, typecheck

remove .DS_Store and add to gitignore
  .DS_Store
  .gitignore
Due: none

fixes
  packages/js/README.md
  packages/js/src/__tests__/matcher.test.ts
  packages/js/tests/test-browser.html
  packages/js/tests/test-cli.js
Due: none

undo httpx.Client() change
  packages/python/genai_prices/sources.py
Due: format, lint, build, typecheck

revert LookupError format to original debug f-string syntax
  packages/python/genai_prices/sources.py
Due: format, lint, build, typecheck

Update packages/python/genai_prices/sources.py
  packages/python/genai_prices/sources.py
Due: format, lint, build, typecheck

revert provider_api_url LookupError format to debug f-string syntax
  packages/python/genai_prices/sources.py
Due: format, lint, build, typecheck

move find_provider_by_id to sources.py and remove quotes from type hints
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  packages/python/tests/test_normalization.py
Due: format, lint, build, typecheck

fix provider_match configurations: remove redundant anthropic match, add gemini to google, remove claude models from google
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
Due: format, lint, collapse-models, build, typecheck

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  collapse-models: any of: prices/providers/
  build: (any of: prices/) or (any of: \.py$, \.json$)
  typecheck: any of: \.py$
