Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  51e795764dcfc57836c848346bbbbb0260d99269
Due: none

Replace units-data.json symlink with file copy
  packages/js/src/units-data.json
  prices/src/prices/package_data.py
Due: format-python, lint-python, build, typecheck-python

Notes added by 'git notes add'
  6ecaea0664ca643731a32acbc5efe6814ad35035
Due: none

Fix total_input_tokens to handle Mapping-type usage via get_usage_value
  packages/python/genai_prices/decompose.py
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Notes added by 'git notes add'
  b0cb6d852486904a1fff26e561afe2f4d8b4e52d
Due: none

Update spec: eliminate phases, require data-driven ModelPrice
  specs/2026-03-23-unit-registry-spec.md
Due: none

Notes added by 'git notes add'
  fb8de9f8666c6f4adaf6e58c3a6ab9874aad2275
Due: none

fix: background_task would get killed if _update_prices throws
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

unintentional import
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

reset background_exec on the happy path
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

fix: TOCTOU race in wait() — read _background_exc once into a local
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Keep `_background_task` alive to update_prices after failed attempts (#323)
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Add PLAN.md for AWS Bedrock default extractor cache token mapping fix
  PLAN.md
Due: none

Add PLAN.md for Cohere extractor billed_units vs tokens decision
  PLAN.md
Due: none

Add PLAN.md for HuggingFace extractor missing default flavor fix
  PLAN.md
Due: none

Add PLAN.md for Google Gemini toolUsePromptTokenCount mapping fix
  PLAN.md
Due: none

Update OpenRouter Claude 4.6 pricing and add dated model aliases
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Restore tiered pricing for Opus 4.6
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fix Opus 4.6 to flat pricing (no tiered pricing on OpenRouter)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add prices_checked and price_comments for Claude 4.6 models
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Remove x2
  prices/providers/openrouter.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Add prices_checked and price_comments for Sonnet 4.5
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Regenerate files after rebase to fix stale price_comments
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Add OpenRouter pricing for missing OpenAI models
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Add prices_checked to new OpenRouter model entries
  prices/providers/openrouter.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Add comment clarifying date suffix format in OpenRouter model IDs
  prices/providers/openrouter.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Update OpenRouter Claude 4.6 pricing and add dated aliases (#320)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add initial data-driven unit registry spec: axioms and derived principles
  specs/data-driven-unit-registry/spec.md
Due: none

Notes added by 'git notes add'
  570024cb302160ce2293a00143228d079817b376
Due: none

Spec: add unit distribution requirement and explicit validation rules
  specs/data-driven-unit-registry/spec.md
Due: none

Notes added by 'git notes add'
  07220677fd2bf199b27dc741caf0929f80ad219b
Due: none

Spec: add pricing accuracy as top-level goal, distinguish price vs usage completeness
  specs/data-driven-unit-registry/spec.md
Due: none

Notes added by 'git notes add'
  7a7d4e4fe0bd638de58b1a22e95c7819d11dde59
Due: none

Spec: add unit naming convention, acknowledge cache_audio_read inconsistency
  specs/data-driven-unit-registry/spec.md
Due: none

Notes added by 'git notes add'
  1f298fa63e15cb31cb8ed665cefc48f88def40c5
Due: none

Spec: replace naming convention with writability principle and schema generation
  specs/data-driven-unit-registry/spec.md
Due: none

Notes added by 'git notes add'
  2497cff181695015e9538334435064de811bdab4
Due: none

Rename cache units to cache_{modality}_{op} pattern (mechanical)
  packages/js/src/units-data.json
  packages/python/genai_prices/units_data.json
  prices/units.yml
  specs/2026-03-23-unit-registry-spec.md
  tests/test_decompose.py
  tests/test_units.py
Due: format-python, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python

Notes added by 'git notes add'
  298ac7458b653133c37fe4a4f5492bbe9fc7181c
Due: none

Spec: add dimension-filtered aggregate counts
  specs/data-driven-unit-registry/spec.md
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
