Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

feat(moonshotai): add price_comments and OpenRouter routing for Kimi K3
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/moonshotai.yml
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Include context_window, prices_checked and price reference on the OpenRouter Kimi K3 entry
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Match OpenRouter canonical dated slug for Kimi K3
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Store Usage values in __dict__ (#466)
  packages/python/genai_prices/types.py
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  tests/dataset/extract_usages.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Add Kimi K3 (`kimi-k3`) pricing (#467)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/moonshotai.yml
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Use Avian's documented provider-prefixed model ids, keep unprefixed aliases
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/avian.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Address cubic review: structural dimension key, JS reserved words, drop duplicate parity test
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
  prices/src/prices/export_validation.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Refresh Cerebras provider: add Gemma 4 31B and GLM 4.7, deprecate delisted Llama and Qwen models
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/cerebras.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Restructure unit registry release specs
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Remove obsolete unit registry phase specs
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/code-spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
Due: none

Address unit registry spec review
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Tighten versioned unit update boundaries
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Resolve deferred unit update edge cases
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Finalize deferred update consistency rules
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Preserve fetched units after updater stop
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Clarify rejected updater fetch ordering
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Align accepted fetch generation rules
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
Due: none

docs: restore shared unit registry constraints
  specs/data-driven-unit-registry/spec.md
Due: none

docs: restore phase one compatibility requirements
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

docs: restore phase one architecture details
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
Due: none

docs: clarify restored registry invariants
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

docs: complete restored phase one architecture
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
Due: none

docs: make phase one architecture link normative
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

docs: restore extractor and CLI compatibility
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

docs: map extractor and CLI compatibility
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
Due: none

docs: separate extractor and CLI requirements
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

docs: trace extractor and CLI requirements
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
Due: none

docs: defer slim v2 artifacts to phase 2
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Publish provider-array v2 artifacts
  prices/data_v2.json
  prices/data_v2.schema.json
  prices/src/prices/build.py
  tests/test_lifecycle.py
Due: format-python, lint-python, build, typecheck-python

Decouple Python package generator inputs
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Stop swapping registries during Python generation
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Decouple TypeScript package generator inputs
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Switch package generation to v2 inputs
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Stop building v1 artifacts
  prices/src/prices/build.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Restore and pin v1 artifacts
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  tests/test_lifecycle.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add Cohere Aya Expanse and Command Light pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/cohere.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Python provider-array fetch support
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Convert Python integration to provider arrays
  tests/test_provider_array_integration.py
  tests/test_wrapped_payload_integration.py
Due: format-python, lint-python, typecheck-python

Point Python updates at v2 data
  packages/python/genai_prices/update_prices.py
  tests/cassettes/test_update_prices/success.yaml
  tests/test_update_prices.py
Due: format-python, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python

Require provider arrays for Python updates
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python
