Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

test: restore legacy provider compatibility coverage
  tests/test_package_schema.py
Due: format-python, lint-python, typecheck-python

test: avoid pinning generated schema title
  tests/test_package_schema.py
Due: format-python, lint-python, typecheck-python

fix: ignore stale successful price updates
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

build: validate unit registry and provider usage (#511)
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/build.py
  prices/src/prices/export_validation.py
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_ovhcloud.py
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  tests/test_package_schema.py
  tests/test_units.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Add AWS Bedrock prices for Writer Palmyra X4 and X5
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.73 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.73 release (#521)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

docs: clarify v1 price data contents
  README.md
Due: none

fix: restore provider injection markers
  README.md
Due: none

fix: validate JavaScript provider activation
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

fix: order asynchronous price updates
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

refactor: split JavaScript activation hardening
  packages/js/README.md
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/updatePricesUrl.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

fix: observe unawaited update failures
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

docs: restore UpdatePrices introduction
  packages/python/README.md
Due: none

docs: de-emphasize v2 payload shape
  README.md
  packages/js/README.md
  packages/python/README.md
  prices/README.md
Due: build

docs: keep JavaScript update guidance unchanged
  packages/js/README.md
Due: none

docs: remove obsolete v1 build comment
  prices/src/prices/build.py
Due: format-python, lint-python, build, typecheck-python

docs: publish slim v2 data in phase 1
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

docs: preserve pricing data URL warning
  prices/README.md
Due: build

build: publish slim v2 price data
  prices/data_v2_slim.json
  prices/data_v2_slim.schema.json
  prices/src/prices/build.py
Due: format-python, lint-python, build, typecheck-python

test: verify slim v2 projection
  tests/test_lifecycle.py
Due: format-python, lint-python, typecheck-python

docs: list slim v2 artifacts
  README.md
Due: none

test: remove redundant v2 URL assertion
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

test: keep new-unit coverage scoped
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

test: restore registry validation coverage
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

test: restore registry pricing coverage
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

test: restore registry packaging coverage
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

test: restore registry lifecycle coverage
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

docs: define v1 compatibility contract
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

docs: trace v1 maintenance separately
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
Due: none

test: preserve v2 payload assertions after merge
  tests/test_lifecycle.py
Due: format-python, lint-python, typecheck-python

build: refresh slim v2 artifacts
  prices/data_v2_slim.json
  prices/data_v2_slim.schema.json
Due: build

test: cover full and slim v2 builds
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

docs: define the v1 compatibility oracle
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

docs: version remote data directories
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

fix: restore Claude Opus 5 Vertex pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/data_v2_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

chore: move v2 artifacts into version directory
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
Due: build

refactor: use versioned v2 artifact paths
  .prettierignore
  README.md
  packages/js/src/__tests__/updatePricesUrl.test.ts
  packages/js/src/api.ts
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  prices/README.md
  prices/data_v2.json
  prices/data_v2.schema.json
  prices/data_v2_slim.json
  prices/data_v2_slim.schema.json
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  tests/cassettes/test_update_prices/success.yaml
  tests/test_lifecycle.py
  tests/test_update_prices.py
Due: format-python, lint-fix, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

refactor: use boolean match for Gemini Flash Lite
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/data_v2_slim.json
  prices/providers/google.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

build: sync versioned v2 artifacts
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
Due: build
