Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, collapse-models, build, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format
        name: format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [package-data]
        types_or: [python, json]
        language: system
        pass_filenames: false
      - id: typecheck
        name: typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

update js solution for input output
  packages/js/README.md
  packages/js/package.json
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/cli.ts
  packages/js/src/index.ts
  packages/js/src/priceCalc.ts
  packages/js/src/sync/calcPriceSync.ts
  packages/js/src/types.ts
  packages/js/tests/test-browser.html
  packages/js/tests/test-cli.js
  packages/js/tests/test-error-handling.js
  packages/python/README.md
Due: build

improve tests
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/comprehensive.test.ts
Due: none

remove requests from js as well
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/priceCalc.ts
  packages/js/src/types.ts
Due: none

Separate input output (#77)
  packages/js/README.md
  packages/js/package.json
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/cli.ts
  packages/js/src/index.ts
  packages/js/src/priceCalc.ts
  packages/js/src/sync/calcPriceSync.ts
  packages/js/src/types.ts
  packages/js/tests/test-browser.html
  packages/js/tests/test-cli.js
  packages/js/tests/test-error-handling.js
  packages/python/README.md
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  pyproject.toml
  tests/test_auto_update.py
  tests/test_cli.py
  tests/test_custom_prices.py
  tests/test_price_calc.py
Due: format, lint, build, typecheck

common release management
  .changeset/README.md
  .changeset/config.json
  .github/workflows/beta-release.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test-release.yml
  README.md
  RELEASE.md
  package.json
  packages/js/package.json
  scripts/publish.js
  scripts/release.py
Due: format, lint, build, typecheck

remove WIP message
  README.md
Due: none

Remove WIP message (#81)
  README.md
Due: none

common release management with changesets
  .changeset/config.json
  .github/workflows/beta-release.yml
  .github/workflows/ci.yml
  README.md
  package-lock.json
  package.json
  packages/python/package.json
  packages/python/pyproject.toml
  packages/python/scripts/sync-versions.sh
  scripts/publish.js
Due: build

fix
  .github/workflows/ci.yml
  packages/python/package.json
Due: build

fix
  .github/workflows/ci.yml
Due: none

feat: Add new models and pricing for GPT-OSS in groq.yml
  prices/providers/groq.yml
Due: collapse-models, build

make sync-versions script safer
  packages/python/scripts/sync-versions.sh
Due: none

build and test before release
  .github/workflows/ci.yml
Due: none

add description, context_window and prices_checked
  prices/providers/groq.yml
Due: collapse-models, build

make build
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
Due: format, lint, build, typecheck

make build
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/providers/groq.yml
Due: format, lint, collapse-models, build, typecheck

feat: Add new models and pricing for GPT-OSS in groq.yml (#83)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/groq.yml
Due: format, lint, collapse-models, build, typecheck

update ci: add permissions and env, remove duplicated vars
  .github/workflows/ci.yml
Due: none

add comment regarding package.json in python package
  packages/python/README.md
Due: none

add release instructions
  README.md
  RELEASE.md
Due: none

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: none

remove unnecessary comment from readme and add description to package.json
  packages/python/README.md
  packages/python/package.json
Due: build

update check
  .github/workflows/ci.yml
Due: none

remove release block from readme
  README.md
Due: none

clean up
  .github/workflows/ci.yml
Due: none

fix steps
  .github/workflows/ci.yml
Due: none

remove unnecessary step
  .github/workflows/ci.yml
Due: none

common release management with changesets (#82)
  .changeset/config.json
  .github/workflows/beta-release.yml
  .github/workflows/ci.yml
  README.md
  RELEASE.md
  package-lock.json
  package.json
  packages/python/package.json
  packages/python/pyproject.toml
  packages/python/scripts/sync-versions.sh
  scripts/publish.js
Due: build

move changesets to deps
  package-lock.json
  package.json
Due: build

Add changeset for test release (bump to 0.0.9)
  .changeset/bright-walls-slide.md
Due: none

bump version with changesets (#84)
  .changeset/bright-walls-slide.md
  package-lock.json
  package.json
Due: build

fix ci permission
  .github/workflows/ci.yml
Due: none

fix ci permission (#85)
  .github/workflows/ci.yml
Due: none

fix publish flow
  .github/workflows/ci.yml
Due: none
