Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Prepare JavaScript price tests for validation
  packages/js/src/__tests__/calcPrice.test.ts
Due: lint-fix, typecheck-ts

Validate JavaScript model prices on use
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Price JavaScript token families through registry
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Price JavaScript requests through registry family
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Read JavaScript tier thresholds through usage helper
  packages/js/src/__tests__/tieredPricing.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Cover JavaScript engine error semantics
  packages/js/src/__tests__/calcPrice.test.ts
Due: lint-fix, typecheck-ts

Normalize JavaScript extractor output
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/extractUsage.ts
Due: lint-fix, typecheck-ts

Cover JavaScript extractor normalization edges
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Validate JavaScript embedded provider startup
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

Validate JavaScript synchronous provider updates
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

Validate JavaScript asynchronous provider updates
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

Cover JavaScript provider array updates
  packages/js/src/__tests__/activation.test.ts
Due: lint-fix, typecheck-ts

Cover JavaScript use-time price validation
  packages/js/src/__tests__/activation.test.ts
Due: lint-fix, typecheck-ts

Cover JavaScript public price parity
  packages/js/src/__tests__/calcPrice.test.ts
Due: lint-fix, typecheck-ts

Cover JavaScript Python decomposition parity
  packages/js/src/__tests__/decompose.test.ts
Due: lint-fix, typecheck-ts

Add gpt-5.3 chat-latest pricing as a separate entry from gpt-5.3-codex
  prices/providers/openai.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Regenerate package data for gpt-5.3 entry
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Add pricing for gpt-5.3-chat-latest (#360)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.59 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.59 release (#361)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Introduce zizmor
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Introduce zizmor (#362)
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
Due: none

Export shared unit-graph helpers from units.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Reuse units.ts isDescendantOrSelf in decompose
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/decompose.ts
Due: lint-fix, typecheck-ts

Reuse units.ts relationship helpers in usage
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

Reuse units.ts relationship helpers in validation
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

Drop redundant extractor-destination revalidation
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/api.ts
  packages/js/src/extractUsage.ts
Due: lint-fix, typecheck-ts

Trust build-validated embedded provider data at JS startup
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
Due: none

Specify JavaScript unit registry indexes
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/code-spec.md
Due: none

Add JavaScript unit registry class
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Migrate JavaScript validation to unit registry
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

Migrate JavaScript usage reads to unit registry
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

Remove parsed family compatibility
  packages/js/src/__tests__/units.test.ts
  packages/js/src/types.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Remove background update rejection sink
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

Update JS usage normalization spec
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
Due: none

Preserve caller usage during JS pricing
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/engine.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

Tighten JS price test precision
  packages/js/src/__tests__/calcPrice.test.ts
Due: lint-fix, typecheck-ts

Clarify request usage read
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

Loosen generated data key checks
  packages/js/src/__tests__/generatedData.test.ts
Due: lint-fix, typecheck-ts

Type build-time ModelPrice extras via __pydantic_extra__
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
Due: none
