Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Preserve dynamic image price keys
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_custom_prices.py
  tests/test_price_calc.py
  tests/test_units.py
  tests/unit_registry_helpers.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Hide internal extra price storage
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add Google image and video token extractors
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update extracted Google usage dataset
  tests/dataset/usages.json
Due: none

Add Google text token extractors
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update JS Google text extraction expectations
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Extract Google thinking output as text
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Support GA version of Gemini 3.1 Flash-Lite
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Extract Google tool-use output modalities
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Treat Google document usage as image tokens
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Assert Google modality extractor symmetry
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Dry Google modality symmetry test
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Cover full Google extractor mapping contract
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Fix Google extractor contract test
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Clarify Google extractor contract test
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Model Google extractor source symmetry in test
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Derive Google extractor paths from stems
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Move Google extractor contract test
  tests/test_extract_usage.py
  tests/test_google_extractors.py
Due: format-python, lint-python, typecheck-python

Treat family as ordinary dimension at runtime
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/engine.ts
  packages/js/src/units.ts
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  packages/python/genai_prices/validation.py
  prices/src/prices/export_validation.py
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/spec.md
  tests/test_decompose.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Guard package data registry cleanup
  prices/src/prices/package_data.py
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Align specs with family dimension registry
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Use value equality for unit definitions
  packages/python/genai_prices/units.py
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/spec.md
Due: format-python, lint-python, build, typecheck-python

Remove family object framing from specs
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

duplicate output_image_mtok not needed
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
Due: none

Require cross-runtime unit key identifiers
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify catch-all modality pricing examples
  specs/data-driven-unit-registry/examples.md
Due: none

Validate unit registry join closedness
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Require cross-runtime unit key identifiers
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Consolidate unit registry core specs
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Remove retired implementation flow doc
  specs/data-driven-unit-registry/implementation-flow.md
Due: none

Clarify registry structural closure spec
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify token registry symmetry scope
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

copy upstream spec updates
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/code-spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Fix registry algorithm dimension counts
  specs/data-driven-unit-registry/algorithm.md
Due: none

Fix unit normalization wording
  specs/data-driven-unit-registry/spec.md
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
