Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Validate extractor destinations on construction
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Keep build extractor schema unchanged in phase one
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
Due: none

Keep build extractor destinations hardcoded
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
  tests/test_package_schema.py
  tests/test_source_prices_types.py
  tests/test_units.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Explain tiered input threshold guard
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Move usage inference to phase 8 spec
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/phase-7-global-snapshot-enforcement/spec.md
  specs/data-driven-unit-registry/phase-8-usage-inference/code-spec.md
  specs/data-driven-unit-registry/phase-8-usage-inference/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Specify missing usage read errors
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-8-usage-inference/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify phase 1 missing usage reads
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
Due: none

Specify zero for safe missing usage reads
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify usage read ownership for pricing
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
Due: none

Use usage reads for tier thresholds
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-8-usage-inference/code-spec.md
  specs/data-driven-unit-registry/phase-8-usage-inference/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Reject missing usage ancestors
  packages/python/genai_prices/types.py
  tests/test_tiered_pricing.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Reject missing usage overlaps
  packages/python/genai_prices/types.py
  tests/test_price_regressions.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Remove usage inference solver
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Trim redundant missing usage tests
  tests/test_price_regressions.py
  tests/test_tiered_pricing.py
  tests/test_usage.py
Due: format-python, lint-python, typecheck-python

Defer usage inference to phase 8 (#357)
  packages/python/genai_prices/types.py
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/phase-7-global-snapshot-enforcement/spec.md
  specs/data-driven-unit-registry/phase-8-usage-inference/code-spec.md
  specs/data-driven-unit-registry/phase-8-usage-inference/spec.md
  specs/data-driven-unit-registry/spec.md
  tests/test_price_regressions.py
  tests/test_tiered_pricing.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Sync unit registry specs to base branch
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/code-spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/phase-7-global-snapshot-enforcement/spec.md
  specs/data-driven-unit-registry/phase-8-usage-inference/code-spec.md
  specs/data-driven-unit-registry/phase-8-usage-inference/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Document extractor bootstrap registry fallback
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Avoid public registry static helpers in spec
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
Due: none

Revert "Avoid public registry static helpers in spec"
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
Due: none

Move registry relationship helpers out of statics
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  packages/python/genai_prices/validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Move dimension index to unit family spec
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
Due: none

Expose family dimension index in spec
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
Due: none

Move dimension index onto unit family
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Specify private price-key unit index
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
Due: none

Hide price-key registry index
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  packages/python/genai_prices/validation.py
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-python, build, typecheck-python

Move join lookup to unit family spec
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
Due: none

Drop registry from join validation spec
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
Due: none

Move join lookup onto unit family
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  packages/python/genai_prices/validation.py
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-python, build, typecheck-python

Specify unit compatibility method
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
Due: none

Move compatibility onto unit definitions
  packages/python/genai_prices/decompose.py
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  packages/python/genai_prices/validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Keep raw usage mapping support out of spec
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Keep mapping usage unsupported
  packages/python/genai_prices/types.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Sync unit registry spec updates
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Remove obsolete unit registry phases
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/phase-7-global-snapshot-enforcement/code-spec.md
  specs/data-driven-unit-registry/phase-7-global-snapshot-enforcement/spec.md
  specs/data-driven-unit-registry/phase-8-usage-inference/code-spec.md
  specs/data-driven-unit-registry/phase-8-usage-inference/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Simplify unit registry architecture specs
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/code-spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Tighten unit registry spec coherence
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify registry rollback on failed updates
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Move public key safety to phase 3
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Validate JavaScript extractor destinations in phase 2
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
