Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Clarify runtime unit registry trust boundary
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/spec.md
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Fix pricing build compatibility imports
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
Due: format-python, lint-python, build, typecheck-python

Add model price free helper
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Mock update price success tests
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

Clear update snapshot after stopping thread
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Add JavaScript pricing regression tests
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Add token unit naming regression tests
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Suggest provider schema price keys from registry
  prices/providers/.schema.json
  prices/src/prices/build.py
  tests/test_package_schema.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Suggest extractor destinations from registry
  prices/providers/.schema.json
  prices/src/prices/build.py
  tests/test_package_schema.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Guard ModelPrice subclass declared fields
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Support dynamic price kwargs on dataclass ModelPrice subclasses
  packages/python/genai_prices/types.py
  tests/test_custom_prices.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Derive CLI price labels from registry
  packages/python/genai_prices/_cli_impl.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

Format CLI model price lines from registry
  packages/python/genai_prices/_cli_impl.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

Format CLI split price values from registry
  packages/python/genai_prices/_cli_impl.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

Route plain CLI model prices through formatter
  packages/python/genai_prices/_cli_impl.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

Collect CLI table price columns from effective keys
  packages/python/genai_prices/_cli_impl.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

Update prices/providers/google.yml
  prices/providers/google.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Update
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Support GA version of Gemini 3.1 Flash-Lite (#366)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fix Google tool-use prompt token count mapping
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update Google accumulated usage expectation
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Update Google tool-use dataset expectations
  tests/dataset/usages.json
Due: none

Fix Google tool-use prompt token count mapping (#370)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Remove unused runtime free price helper
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Remove runtime free price helper
  packages/python/genai_prices/types.py
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Address split fixes review comments
  packages/js/src/__tests__/extractUsage.test.ts
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Remove redundant extractor regression tests
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Split independent pricing fixes (#368)
  packages/js/src/__tests__/calcPrice.test.ts
  packages/python/genai_prices/update_prices.py
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  tests/test_update_prices.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Expect Google tool prompt details as input
  tests/test_google_extractors.py
Due: format-python, lint-python, typecheck-python

Document trusted unit registry evolution
  packages/js/src/api.ts
  packages/python/genai_prices/update_prices.py
  prices/src/prices/export_validation.py
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/spec.md
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Guard async provider update promise races
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

Validate JavaScript usage numeric values
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

Avoid source unit filename in export validator
  prices/src/prices/export_validation.py
Due: format-python, lint-python, build, typecheck-python

Assert custom dynamic price attribute access
  tests/test_custom_prices.py
Due: format-python, lint-python, typecheck-python

Fail closed on missing legacy price keys
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Spec uniform runtime price keys
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
Due: none

Store runtime price keys uniformly
  packages/python/genai_prices/_cli_impl.py
  packages/python/genai_prices/types.py
  tests/test_cli.py
  tests/test_custom_prices.py
  tests/test_package_schema.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Drop obsolete registry mismatch test
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Use registry order for price keys
  packages/python/genai_prices/types.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

Add pricing for grok-4.3, deepseek-v4-flash, and deepseek-v4-pro
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/deepseek.yml
  prices/providers/x_ai.yml
  tests/test_cli.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts
