Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Simplify updater documentation
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Keep unchanged updater docs
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Share one background price updater across `UpdatePrices` instances (#404)
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/cassettes/test_update_prices/fail.yaml
  tests/conftest.py
  tests/test_custom_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python

docs: specify forward-compatible provider decoding
  specs/forward-compatible-provider-decoding/spec.md
Due: none

docs: define future provider variant boundaries
  specs/forward-compatible-provider-decoding/spec.md
Due: none

Add Google Gemini 3.8 Flash pricing
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

docs: resolve projection precedence
  specs/forward-compatible-provider-decoding/spec.md
Due: none

docs: define deterministic projection failures
  specs/forward-compatible-provider-decoding/spec.md
Due: none

Add Google Gemini 3.8 Flash pricing (#678)
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

docs: close projection observability gaps
  specs/forward-compatible-provider-decoding/spec.md
Due: none

docs: pin projection warning verification
  specs/forward-compatible-provider-decoding/spec.md
Due: none

Add OpenAI GPT-6 Astra pricing
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add OpenAI GPT-6 Astra pricing (#680)
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add GitHub Copilot pricing
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/github_copilot.yml
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Regenerate the cross-language usages dataset for the new provider
  tests/dataset/usages.json
Due: none

Update the noop provider count for the new direct provider
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
Due: none

Fix triage pilot Pydantic harness helper pin
  .github/aw/actions-lock.json
  .github/scripts/test-triage-pilot-pydantic-harness.cjs
  .github/workflows/ci.yml
  .github/workflows/genai-prices-triage-pilot.lock.yml
Due: none

Harden triage pilot harness smoke test
  .github/scripts/test-triage-pilot-pydantic-harness.cjs
Due: none

Add GitHub Copilot pricing (#683)
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/github_copilot.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fix triage pilot Pydantic harness helper pin (#688)
  .github/aw/actions-lock.json
  .github/scripts/test-triage-pilot-pydantic-harness.cjs
  .github/workflows/ci.yml
  .github/workflows/genai-prices-triage-pilot.lock.yml
Due: none

fix(aws): match regional fable model ids without a version suffix
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/bedrockFable.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Azure GPT-6 Astra pricing
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: split AWS GPT-5.6 prices into global and regional
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Match bare gpt-5.6-* ids on the AWS regional entries
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/dataset/usages.json
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Pin the Sol price cut and drop a stale comment
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/providers/aws.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Drop openai.gpt-5.6-luna from the no-price allow-list
  tests/dataset/extract_usages.py
Due: format-python, lint-python, typecheck-python

Split AWS GPT-5.6 (Luna, Sol, Terra) prices into global and regional (#676)
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Doubleword DeepSeek V4.1 Flash pricing
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/doubleword.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add per-model capabilities: reasoning, sampling, service tiers, verbosity
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/js/src/types.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/deepseek.yml
  prices/providers/moonshotai.yml
  prices/providers/openai.yml
  prices/providers/zai.yml
  prices/src/prices/build.py
  prices/src/prices/prices_types.py
  tests/test_build_metadata.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Make omitted capability fields mean unknown, fix seed facts from review
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/deepseek.yml
  prices/providers/moonshotai.yml
  prices/providers/openai.yml
  prices/providers/zai.yml
  prices/src/prices/prices_types.py
  tests/test_build_metadata.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Widen effort vocabularies per review; leave Kimi sampling unknown
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/moonshotai.yml
  prices/providers/openai.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Cover Kimi K2.6 and DeepSeek V4.1 Flash; pin the dated V4 aliases
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/deepseek.yml
  prices/providers/moonshotai.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Split gpt-5-chat from gpt-5, allow sampling where effort can be none, reject contradictory reasoning
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  prices/src/prices/prices_types.py
  tests/test_build_metadata.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update the DeepSeek CLI listing snapshot for V4.1 Flash
  tests/test_cli.py
Due: format-python, lint-python, typecheck-python

Add TypeSafe's Jev, billed per input token
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/typesafe.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Extract Jev usage from the systemone response
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/typesafe.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Regenerate the usages dataset for the TypeSafe extractor
  tests/dataset/usages.json
Due: none

Add TypeSafe's Jev, billed per input token (#704)
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/typesafe.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Doubleword DeepSeek V4.1 Flash pricing (#699)
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/doubleword.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add GPT-6 Sol and Luna pricing
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
