Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Correct the original gpt-4o snapshot and Devstral Small prices (#636)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  prices/providers/openai.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Doubleword models: Kimi K3, GLM 5.2, Qwen3.8 27B, DeepSeek V4 Flash 0731
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/doubleword.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Cloudflare Workers AI pricing
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  Makefile
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cloudflare.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_cloudflare.py
  prices/src/prices/update.py
  tests/cassettes/test_source_cloudflare/test_cloudflare_main_fetches_recorded_pricing_page.yaml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_source_cloudflare.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add provider integration skill
  .claude/skills/add-provider/SKILL.md
  .gitignore
Due: none

Support native Cloudflare REST usage
  .claude/skills/add-provider/SKILL.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cloudflare.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Preserve Cloudflare pricing history
  .claude/skills/add-provider/SKILL.md
  .github/agentic-price-check-providers.yml
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/providers/cloudflare.yml
  prices/src/prices/source_cloudflare.py
  prices/src/prices/update.py
  tests/test_source_cloudflare.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Clarify Cloudflare monitoring scope
  .github/agentic-price-check-providers.yml
Due: none

Move provider skill to a separate PR
  .claude/skills/add-provider/SKILL.md
  .gitignore
Due: none

Add Cloudflare Workers AI pricing (#637)
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  Makefile
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cloudflare.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_cloudflare.py
  prices/src/prices/update.py
  tests/cassettes/test_source_cloudflare/test_cloudflare_main_fetches_recorded_pricing_page.yaml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_source_cloudflare.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add provider integration skill (#638)
  .claude/skills/add-provider/SKILL.md
  .gitignore
Due: none

Infer Cloudflare native model from request URL
  packages/python/genai_prices/data_snapshot.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Preserve Cloudflare extraction behavior across packages
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/extractUsage.ts
  packages/python/genai_prices/data_snapshot.py
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Ignore Cloudflare model markers outside URL paths
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/extractUsage.ts
Due: lint-fix, typecheck-ts

Keep request URL out of JavaScript extraction API
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/extractUsage.ts
Due: lint-fix, typecheck-ts

Infer Cloudflare native model from request URL (#639)
  packages/python/genai_prices/data_snapshot.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Complete Doubleword model metadata
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/doubleword.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Remove unverified Doubleword DeepSeek context
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/doubleword.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Doubleword models: Kimi K3, GLM 5.2, Qwen3.8 27B, DeepSeek V4 Flash 0731 (#624)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/doubleword.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Exclude generated bundled package data from Macroscope review
  .macroscope/ignore.md
Due: none

Exclude generated bundled package data from Macroscope review (#640)
  .macroscope/ignore.md
Due: none

Share model context window across provider offerings (#465)
  README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/.schema.json
  prices/providers/aws.yml
  prices/providers/azure.yml
  prices/providers/fireworks.yml
  prices/providers/google.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/src/prices/build.py
  prices/src/prices/prices_types.py
  tests/dataset/usages.json
  tests/test_build_metadata.py
  tests/test_cli.py
  tests/test_model_matching.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill `openrouter` record context windows from the OpenRouter API
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  prices/src/prices/source_openrouter.py
  tests/test_model_matching.py
  tests/test_source_openrouter.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Null out windows on records whose OpenRouter endpoints diverge
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Allow explicit `context_window: null` in the authoring schema
  prices/providers/.schema.json
  prices/src/prices/build.py
  tests/test_build_metadata.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Null out the 7 pre-existing windows whose endpoints also diverge
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Omit windows on divergent records instead of explicit null
  prices/providers/.schema.json
  prices/providers/openrouter.yml
  prices/src/prices/build.py
  tests/test_build_metadata.py
  tests/test_model_matching.py
Due: format-python, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python

Restore pre-existing windows; withdraw the window shared with `o1-preview` aliases
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Spell out `include_context_window`
  prices/src/prices/source_openrouter.py
  tests/test_source_openrouter.py
Due: format-python, lint-python, build, typecheck-python

Add Cursor model pricing
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cursor.yml
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Tighten Cursor price assertions
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Add Cursor pricing updater
  Makefile
  prices/src/prices/__main__.py
  prices/src/prices/source_cursor.py
  tests/cassettes/test_source_cursor/test_cursor_main_fetches_recorded_pricing_page.yaml
  tests/test_source_cursor.py
Due: format-python, lint-python, build, typecheck-python

Fill `openrouter` record context windows from the OpenRouter API (#641)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  prices/src/prices/source_openrouter.py
  tests/test_model_matching.py
  tests/test_source_openrouter.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill novita record context windows from the Novita API
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/novita.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Cursor model pricing (#642)
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  Makefile
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cursor.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_cursor.py
  tests/cassettes/test_source_cursor/test_cursor_main_fetches_recorded_pricing_page.yaml
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_source_cursor.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Price xAI Realtime voice usage (#600)
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Arcee provider pricing
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  Makefile
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/arcee.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_arcee.py
  tests/cassettes/test_source_arcee/test_arcee_main_fetches_recorded_pricing_page.yaml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_source_arcee.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Arcee provider pricing (#644)
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  Makefile
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/arcee.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_arcee.py
  tests/cassettes/test_source_arcee/test_arcee_main_fetches_recorded_pricing_page.yaml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_source_arcee.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Schedule provider price refreshes
  .github/workflows/update-prices.yml
  Makefile
  prices/helicone_get/pull.sh
Due: build

Fill mistral record context windows from the Mistral API
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts
