Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Stop Python updater without registry reset
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Decouple CLI tests from registry setter
  tests/test_cli.py
Due: format-python, lint-python, typecheck-python

Make Python unit registry package-static
  packages/python/genai_prices/units.py
  tests/test_units.py
  tests/test_update_prices.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Convert JavaScript integration to provider arrays
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/__tests__/wrappedPayloadIntegration.test.ts
Due: lint-fix, typecheck-ts

Point JavaScript updates at v2 data
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

Require provider arrays for JavaScript updates
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/api.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

Inject registry into JavaScript normalization
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

Inject registry into JavaScript usage reads
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

Inject registry into JavaScript pricing
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/decompose.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Remove JavaScript active registry state
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Document v2 price artifacts
  README.md
Due: none

Document v2 pricing build contract
  Makefile
  prices/README.md
  prices/providers/.schema.json
  prices/src/prices/build.py
  prices/src/prices/prices_types.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Document Python v2 price updates
  packages/python/README.md
Due: none

Document JavaScript v2 price updates
  packages/js/README.md
Due: none

Inject build registry into provider parsing
  packages/python/genai_prices/types.py
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

fix: match compact dated model refs from LiteLLM/OpenRouter
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

remove test of hashes
  tests/test_lifecycle.py
Due: format-python, lint-python, typecheck-python

Implement the static unit registry release (#473)
  Makefile
  README.md
  packages/js/README.md
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/__tests__/wrappedPayloadIntegration.test.ts
  packages/js/src/api.ts
  packages/js/src/decompose.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/js/src/units.ts
  packages/js/src/usage.ts
  packages/python/README.md
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  packages/python/genai_prices/update_prices.py
  prices/README.md
  prices/data.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/data_v2.json
  prices/data_v2.schema.json
  prices/providers/.schema.json
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  tests/cassettes/test_update_prices/success.yaml
  tests/test_cli.py
  tests/test_lifecycle.py
  tests/test_provider_array_integration.py
  tests/test_units.py
  tests/test_update_prices.py
  tests/test_usage.py
  tests/test_wrapped_payload_integration.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Upgrade vcrpy
  pyproject.toml
  uv.lock
Due: none

Upgrade vcrpy (#476)
  pyproject.toml
  uv.lock
Due: none

Remove benchmarks from unit registry scope
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Precompute Python registry key indexes
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-python, build, typecheck-python

Validate resolved Python price units
  packages/python/genai_prices/validation.py
  tests/test_validation.py
Due: format-python, lint-python, build, typecheck-python

Collect resolved Python model prices
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add Python pricing benchmarks
  packages/python/benchmarks/pricing.py
Due: format-python, lint-python, typecheck-python

Reuse resolved prices in Python calculations
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Validate resolved JavaScript price units
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

Add TypeScript pricing benchmarks
  packages/js/benchmarks/pricing.ts
  packages/js/package.json
  packages/js/tsconfig.json
Due: lint-fix, typecheck-ts

Collect resolved JavaScript model prices
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Document pricing benchmark workflow
  README.md
Due: none

Reuse resolved prices in JavaScript calculations
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Cover Python hot-path regression test
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Move Python benchmark outside package
  README.md
  benchmarks/python/pricing.py
  pyproject.toml
Due: format-python, lint-python, typecheck-python

Move TypeScript benchmark outside package
  benchmarks/javascript/pricing.ts
  benchmarks/javascript/tsconfig.json
  packages/js/package.json
  packages/js/tsconfig.json
Due: typecheck-ts

Move benchmark guide to benchmarks directory
  README.md
  benchmarks/README.md
Due: none

Add pricing performance benchmarks (#477)
  README.md
  benchmarks/README.md
  benchmarks/javascript/pricing.ts
  benchmarks/javascript/tsconfig.json
  benchmarks/python/pricing.py
  packages/js/package.json
  packages/js/tsconfig.json
  pyproject.toml
Due: format-python, lint-python, typecheck-python, typecheck-ts

Optimize registry-backed pricing hot paths (#478)
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/engine.ts
  packages/js/src/validation.ts
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  packages/python/genai_prices/validation.py
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Remove redundant equal-rate child prices
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/providers/azure.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Guard against redundant descendant prices
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
