Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

docs: remove stale phase 1 transition
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

docs: clarify Go registry ownership
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: rewrite phase 2 code architecture
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: tighten phase 2 runtime architecture
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
Due: none

Encode OpenAI inclusive tier boundary
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_price_calc.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Encode OpenAI's inclusive long-context boundary (#667)
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_price_calc.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fix xAI realtime usage extraction root
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

docs: close phase 2 architecture gaps
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
Due: none

docs: clarify Go unit update lifecycle
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: remove v3 slim exclusion
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Fix xAI realtime usage extraction root (#668)
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

docs: separate phase 2 changes from compatibility
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: tighten phase 2 spec separation
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: make unit ordering independent
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: finish phase 2 change separation
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: mark phase 2 spec sections
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: group phase 2 changes by component
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: make v3 clients forward compatible
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: align phase 2 code spec status
  specs/data-driven-unit-registry/spec.md
Due: none

docs: record phase 2 target audit
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Refresh Phase 2 auto-updating units spec (#666)
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Restore the settled design: warn under the lock, publish without it
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

docs: simplify phase 2 runtime registry activation
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Simplify Phase 2 runtime registry activation (#669)
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Audit Phase 2 implementation baseline
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

test: validate extracted usage consistency
  tests/dataset/extract_usages.py
  tests/test_dataset.py
Due: format-python, lint-python, typecheck-python

Add Claude Fable 5.1 pricing
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Canonicalize runtime unit projections
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Validate runtime unit projections
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Restrict Fable 5.1 match clauses to exact aliases and -v1/@-qualified ids
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  prices/providers/google.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Enforce source unit evolution
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Pin the Fable 5 / 5.1 split in the Go package too
  packages/go/api_test.go
Due: none

Validate generated Go unit identifiers
  prices/src/prices/export_validation.py
  prices/src/prices/go_identifiers.py
  prices/src/prices/package_data.py
  tests/test_go_identifiers.py
Due: format-python, lint-python, build, typecheck-python

Freeze v2 cutover artifacts
  prices/src/prices/frozen_v2.py
  tests/test_frozen_v2_data.py
Due: format-python, lint-python, build, typecheck-python

Add Claude Fable 5.1 pricing (#671)
  README.md
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Generate wrapped v3 wire schema
  prices/src/prices/build.py
  tests/test_pipeline_build.py
Due: format-python, lint-python, build, typecheck-python

Validate v3 schema evolution
  prices/src/prices/v3_compatibility.py
  tests/test_v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python

Compare v3 with exact target object
  prices/src/prices/build.py
  prices/src/prices/v3_compatibility.py
  tests/test_v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python

Split v3 package data generation
  packages/go/calculator.go
  packages/go/data_units.go
  packages/go/units.go
  packages/js/src/dataUnits.ts
  prices/src/prices/package_data.py
  tests/test_pipeline_build.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Cut over publication to v3
  .gitattributes
  Makefile
  prices/new_data/v3/data.json
  prices/new_data/v3/data.schema.json
  prices/src/prices/__main__.py
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  prices/src/prices/utils.py
  prices/src/prices/v3_compatibility.py
  tests/test_maintenance_commands.py
  tests/test_pipeline_build.py
  tests/test_v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python
