Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Price Gemini grounding with Google Search
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add OpenRouter google/gemini-3.6-flash and google/gemini-3.7-flash pricing
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Expect the grounding rate in the Gemini Flash introductory price tests
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

Start OpenAI long-context rates above 272K input tokens
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/github_copilot.yml
  prices/providers/openai.yml
  tests/test_price_calc.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fix price-check findings for Groq, DeepSeek and GitHub Copilot
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/deepseek.yml
  prices/providers/github_copilot.yml
  prices/providers/groq.yml
  tests/test_cli.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Start Bedrock GPT-5.6 long-context rates above 272K input tokens
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add GitHub Copilot's new models
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/github_copilot.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Assert the Copilot model id so a collapsed Sonnet 4.6 or 5.5 fails
  packages/js/src/__tests__/generatedData.test.ts
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Fix price-check findings for Groq, DeepSeek and GitHub Copilot (#733)
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/deepseek.yml
  prices/providers/github_copilot.yml
  prices/providers/groq.yml
  tests/test_cli.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Record the grounding check date and narrow the image-model test comment
  prices/providers/google.yml
  tests/test_price_regressions.py
Due: format-python, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python

Add OpenAI `gpt-6.1-sol` pricing
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/github_copilot.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add OpenAI GPT-6.1 Sol pricing
  README.md
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Start OpenAI long-context rates above 272K input tokens, and add GPT-6.1 Sol (#732)
  README.md
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/github_copilot.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  tests/test_price_calc.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Let the price checks file an issue body without burning the run's issue slot
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Add GitHub Copilot `gpt-6.1-sol` pricing and match OpenRouter's dated `gpt-6.1-sol-pro` slug
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/github_copilot.yml
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add GitHub Copilot `gpt-6.1-sol` pricing and match OpenRouter's dated `gpt-6.1-sol-pro` slug (#736)
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/github_copilot.yml
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Let the price checks file an issue body without burning the run's issue slot (#735)
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Start Gemini 3 grounding charges on 2026-01-05
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Price Gemini grounding with Google Search (#730)
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Match Gemini family aliases, price GLM-4.6V, and end the GLM-5.3-Flash launch promotion
  .claude/skills/add-price-model/SKILL.md
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  prices/providers/openrouter.yml
  prices/providers/zai.yml
  prices/providers/zhipuai.yml
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add models from the 2026-09-28 price check
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/arcee.yml
  prices/providers/avian.yml
  prices/providers/baseten.yml
  prices/providers/cerebras.yml
  prices/providers/x_ai.yml
  prices/src/prices/source_baseten.py
  tests/test_price_calc.py
  tests/test_source_baseten.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Document the Go package in the agent instructions
  .claude/skills/add-price-model/SKILL.md
  .claude/skills/add-provider/SKILL.md
  AGENTS.md
Due: none

Address review: xAI's inclusive 200k boundary for Grok 4.7, Baseten floor at 11, and clearer promo comments
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/avian.yml
  prices/providers/openrouter.yml
  prices/providers/x_ai.yml
  prices/providers/zai.yml
  prices/src/prices/source_baseten.py
  tests/test_price_calc.py
  tests/test_source_baseten.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Databricks Foundation Model APIs pricing for open-weight models
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/databricks.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Gonka Broker provider pricing with a catalog importer
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  AGENTS.md
  Makefile
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/gonkabroker.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_gonkabroker.py
  tests/cassettes/test_source_gonkabroker/test_main_fetches_recorded_catalog.yaml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_source_gonkabroker.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Document the Go package in the agent instructions (#738)
  .claude/skills/add-price-model/SKILL.md
  .claude/skills/add-provider/SKILL.md
  AGENTS.md
Due: none

Match Gemini family aliases, fill dataset gaps, and add models from the latest price check (#737)
  .claude/skills/add-price-model/SKILL.md
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/arcee.yml
  prices/providers/avian.yml
  prices/providers/baseten.yml
  prices/providers/cerebras.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
  prices/providers/x_ai.yml
  prices/providers/zai.yml
  prices/providers/zhipuai.yml
  prices/src/prices/source_baseten.py
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
  tests/test_model_matching.py
  tests/test_price_calc.py
  tests/test_source_baseten.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Name the excluded Databricks models by family so GPT OSS and Gemma stay in scope
  .github/agentic-price-check-providers.yml
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/providers/databricks.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Test Gonka Broker extraction, prices and provider selection in Go
  packages/go/api_test.go
Due: none

Test Databricks pricing, matching and extraction in the Go package
  packages/go/api_test.go
Due: none

Refuse a Gonka Broker catalog that lists free cache reads
  prices/src/prices/source_gonkabroker.py
  tests/test_source_gonkabroker.py
Due: format-python, lint-python, build, typecheck-python

Test spoofed Azure and GCP Databricks hosts and a usage body without cache fields
  packages/go/api_test.go
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/matcher.test.ts
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Match mistral-medium-2604 to Mistral Medium 3.5
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Pin mistral-medium-2604 in the Mistral versioned price tests
  packages/js/src/__tests__/generatedData.test.ts
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Add in Sol Bedrock prices
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add AWS Bedrock `gpt-6.1-sol` pricing
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Price Claude Opus 4.5 on Google Vertex
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Build package data and state the price source precisely
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Price AWS Titan Text Embeddings V2 separately from V1
  README.md
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/test_price_calc.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Cover V1 cross-region and unversioned Titan refs in tests
  packages/go/api_test.go
  packages/js/src/__tests__/generatedData.test.ts
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts
