Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Add Gemini 3.7 Flash pricing and correct Gemini 3.6 Flash rates
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Gemini 3.7 Flash pricing and correct Gemini 3.6 Flash rates (#564)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.1.3 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.1.3 release (#565)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

spec: allow fractional usage quantities
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

feat: support fractional Python usage values
  packages/python/genai_prices/_usage.py
  packages/python/genai_prices/types.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

feat: extract fractional Python usage
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

feat: decompose fractional Python usage
  packages/python/genai_prices/_usage.py
  packages/python/genai_prices/decompose.py
  packages/python/genai_prices/types.py
  tests/test_decompose.py
Due: format-python, lint-python, build, typecheck-python

test: cover fractional Python pricing
  tests/test_custom_prices.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
  tests/test_tiered_pricing.py
Due: format-python, lint-python, typecheck-python

fix: validate JavaScript usage components
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/extractUsage.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

test: add fractional cross-language usage case
  packages/js/src/__tests__/dataset.test.ts
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

docs: explain fractional usage values
  packages/js/README.md
  packages/python/README.md
Due: none

test: name invalid usage component cases
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

spec: clarify JavaScript optional value probing
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
Due: none

test: clarify fractional descendant case
  packages/js/src/__tests__/decompose.test.ts
Due: lint-fix, typecheck-ts

spec: preserve Decimal usage values
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

feat: preserve Decimal usage values
  packages/python/genai_prices/_usage.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

feat: extract Decimal usage values
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

test: cover Decimal usage pricing
  tests/test_decompose.py
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

docs: explain Decimal usage values
  packages/python/README.md
Due: none

docs: guard generated usage dataset
  AGENTS.md
Due: none

test: remove synthetic fractional golden case
  packages/js/src/__tests__/dataset.test.ts
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

refactor: remove legacy mtok price wrapper
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

docs: move fractional usage details to end
  packages/python/README.md
Due: none

Support fractional usage values (#568)
  AGENTS.md
  packages/js/README.md
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/extractUsage.ts
  packages/js/src/usage.ts
  packages/python/README.md
  packages/python/genai_prices/_usage.py
  packages/python/genai_prices/decompose.py
  packages/python/genai_prices/types.py
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
  tests/test_custom_prices.py
  tests/test_decompose.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
  tests/test_tiered_pricing.py
  tests/test_usage.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Add Arcee provider pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/arcee.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Reject mapping usage inputs instead of pricing them at zero
  packages/python/genai_prices/types.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Add GLM-5.3 pricing for Z.AI and OpenRouter
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  prices/providers/zai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add GLM-5.3 pricing for Z.AI and OpenRouter (#574)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  prices/providers/zai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Stabilize the uv lockfile writer
  .github/copilot/actions-setup-steps.yml
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  packages/python/pyproject.toml
  prices/pyproject.toml
  pyproject.toml
  uprev.sh
  uv.lock
Due: build

Stabilize the uv lockfile writer (#575)
  .github/copilot/actions-setup-steps.yml
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  packages/python/pyproject.toml
  prices/pyproject.toml
  pyproject.toml
  uprev.sh
  uv.lock
Due: build

test: restore AWS GPT-5.6 pricing coverage
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

Prices for GPT-5.6 Models in AWS Bedrock (#556)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/dataset/usages.json
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.1.4 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.1.4 release (#576)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Cast the mapping before naming its type so basedpyright passes
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Add transcription pricing and usage extraction
  README.md
  packages/js/README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/README.md
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  prices/providers/groq.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_regressions.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Apply minimum billed audio durations
  packages/js/README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/types.ts
  packages/python/README.md
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/groq.yml
  prices/src/prices/prices_types.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Map reasoning tokens across OpenAI-compatible extractors and enforce coverage
  AGENTS.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/validation.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/cerebras.yml
  prices/providers/deepseek.yml
  prices/providers/doubleword.yml
  prices/providers/fireworks.yml
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_ovhcloud.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
  prices/providers/minimax.yml
  prices/providers/mistral.yml
  prices/providers/moonshotai.yml
  prices/providers/ovhcloud.yml
  prices/providers/zai.yml
  prices/providers/zhipuai.yml
  prices/src/prices/export_validation.py
  prices/src/prices/package_data.py
  tests/dataset/usages.json
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Preserve minimum duration pricing contracts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/api.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
