Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Prep 0.0.65 release (#397)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Add Claude Fable 5 pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Fable 5 pricing (#399)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

test(js): use UTC instant in dataset test timestamp
  packages/js/src/__tests__/dataset.test.ts
Due: lint-fix, typecheck-ts

feat: add MiniMax and Zhipu AI providers, add kimi-k2.6 (#386)
  README.md
  packages/js/src/__tests__/dataset.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/minimax.yml
  prices/providers/moonshotai.yml
  prices/providers/zhipuai.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix(openrouter): skip models with adaptive/negative pricing
  prices/src/prices/source_openrouter.py
Due: format-python, lint-python, build, typecheck-python

fix(openrouter): skip models with adaptive/negative pricing (#400)
  prices/src/prices/source_openrouter.py
Due: format-python, lint-python, build, typecheck-python

feat(openrouter): sync models from OpenRouter API
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/azure.yml
  prices/providers/deepseek.yml
  prices/providers/google.yml
  prices/providers/minimax.yml
  prices/providers/mistral.yml
  prices/providers/moonshotai.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/providers/perplexity.yml
  prices/providers/x_ai.yml
  tests/dataset/usages.json
  tests/test_cli.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.66 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

fix(openrouter): preserve mirror model ids
  prices/src/prices/source_openrouter.py
  tests/test_price_calc.py
  tests/test_source_openrouter.py
Due: format-python, lint-python, build, typecheck-python

Prep 0.0.66 release (#402)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

test(openrouter): clarify API ref guard
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

fix(openrouter): preserve synced model refs
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/azure.yml
  prices/providers/deepseek.yml
  prices/providers/google.yml
  prices/providers/minimax.yml
  prices/providers/mistral.yml
  prices/providers/moonshotai.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/providers/perplexity.yml
  prices/providers/x_ai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

docs: add genai prices review agents
  .claude/agents/genai-downstream-observability-reviewer.md
  .claude/agents/genai-model-lookup-contract-reviewer.md
  .claude/agents/genai-openrouter-sync-reviewer.md
  .claude/agents/genai-price-provenance-reviewer.md
  .gitignore
Due: none

test: update usage price fixture
  tests/dataset/usages.json
Due: none

Make the shared background updater safe for library consumers
  packages/python/README.md
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

adding a comment for blocking on join for close
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Let a manually started UpdatePrices take over the shared background updater
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Tighten README ordering for shared-updater precedence docs
  packages/python/README.md
Due: none

Harden wait semantics and close review gaps in the shared updater
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Remove the GENAI_PRICES_DISABLE_AUTO_UPDATE kill switch
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Make stopping the shared updater non-blocking with a fencing gate
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Survive os.fork(): hold the lock across fork and restart the updater in the child
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

add reginal and global pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add amazon nova 2 pricing (#405)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix(openrouter): preserve mirror model IDs
  prices/src/prices/source_openrouter.py
  tests/test_price_calc.py
  tests/test_source_openrouter.py
Due: format-python, lint-python, build, typecheck-python

Add Kimi K2.7 Code pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/moonshotai.yml
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

[codex] Add Kimi K2.7 Code pricing (#406)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/moonshotai.yml
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Handle OpenRouter canonical model slugs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
  prices/src/prices/source_openrouter.py
  tests/test_price_calc.py
  tests/test_source_openrouter.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(openrouter): sync models from OpenRouter API (#401)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/azure.yml
  prices/providers/deepseek.yml
  prices/providers/google.yml
  prices/providers/minimax.yml
  prices/providers/mistral.yml
  prices/providers/moonshotai.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/providers/perplexity.yml
  prices/providers/x_ai.yml
  prices/src/prices/source_openrouter.py
  tests/dataset/usages.json
  tests/test_cli.py
  tests/test_price_calc.py
  tests/test_source_openrouter.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Match Azure AI Foundry host for Anthropic models
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/azure.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add OpenRouter modern model aliases
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
  prices/providers/zhipuai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Keep existing OpenRouter prices unchanged
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Zhipu GLM 5.2 and readable price data
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/zhipuai.yml
  prices/src/prices/build.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Keep generated price data compact
  prices/data.json
  prices/data_slim.json
  prices/src/prices/build.py
Due: format-python, lint-python, build, typecheck-python

exception trace handling
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

feat(voyageai): add Voyage AI text embedding models
  prices/data.json
  prices/data_slim.json
  prices/providers/voyageai.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers
