Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Reuse the repository Pydantic AI engine
  .github/aw/imports/.gitattributes
  .github/aw/imports/github/gh-aw/db25fdfdb4ad50c5b0d10de9977b709401760378/.github_workflows_shared_pydantic.md
  .github/workflows/typescript-review.lock.yml
  .github/workflows/typescript-review.md
Due: none

Install Pydantic AI for threat detection
  .github/workflows/typescript-review.lock.yml
  .github/workflows/typescript-review.md
Due: none

Match Azure AI Foundry host for Anthropic models (#408)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Derive the release version from the git tag
  .github/scripts/check_version_not_downgraded.py
  .github/workflows/ci.yml
  AGENTS.md
  RELEASE.md
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  pyproject.toml
  uprev.sh
  uv.lock
Due: format-python, lint-python, typecheck-python

Update Gemma 4 31B pricing for Google and OpenRouter
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  prices/providers/openrouter.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Preserve OpenRouter Gemma 4 31B price history with a dated entry
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Derive the release version from the git tag (#622)
  .github/scripts/check_version_not_downgraded.py
  .github/workflows/ci.yml
  AGENTS.md
  RELEASE.md
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  pyproject.toml
  uprev.sh
  uv.lock
Due: format-python, lint-python, typecheck-python

Price Gemma 4 26B at Vertex MaaS rates and clarify Gemma 4 31B on Vertex
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Match the Vertex MaaS model ID for Gemma 4 26B
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Assert the cache-write premium in the Azure extraction test
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Split Gemma 4 26B into free Gemini API and paid Vertex MaaS entries
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Refresh provider inventory in README
  README.md
Due: none

Add cache_write_tokens mapping to Azure's responses/chat extractors (#596)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add OpenRouter long-context tiers, dated ids and GPT-5.6 entries for OpenAI models
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  tests/dataset/usages.json
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update Gemma 4 31B pricing for Google and OpenRouter (#623)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  prices/providers/openrouter.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add OpenRouter long-context tiers, dated ids and GPT-5.6 entries for OpenAI models (#625)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  tests/dataset/usages.json
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Moonshot Kimi K2.7 Code HighSpeed pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/moonshotai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Moonshot Kimi K2.7 Code HighSpeed pricing (#626)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/moonshotai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Generate the QuickSilver Pro provider from its pricing.json catalog
  AGENTS.md
  Makefile
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/quicksilverpro.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_quicksilverpro.py
  tests/dataset/usages.json
  tests/fixtures/quicksilverpro_pricing.json
  tests/test_source_quicksilverpro.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Exit non-zero when the QuickSilver Pro catalog cannot be refreshed
  prices/src/prices/source_quicksilverpro.py
  tests/test_source_quicksilverpro.py
Due: format-python, lint-python, build, typecheck-python

Add Cohere Aya Expanse and Command Light pricing (#472)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cohere.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Refresh Cerebras provider: add Gemma 4 31B and GLM 4.7, deprecate delisted models (#469)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cerebras.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add QuickSilver Pro provider (#557)
  AGENTS.md
  Makefile
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/quicksilverpro.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_quicksilverpro.py
  tests/dataset/usages.json
  tests/fixtures/quicksilverpro_pricing.json
  tests/test_source_quicksilverpro.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Point stale pricing URLs at pages that expose prices to plain HTTP
  .github/agentic-price-check-providers.yml
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/providers/groq.yml
  prices/providers/mistral.yml
  prices/providers/moonshotai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Mark the discontinued Kimi K2 series deprecated and add Moonshot's model catalog as a pricing source
  .github/agentic-price-check-providers.yml
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/moonshotai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Point stale pricing URLs at pages that expose prices to plain HTTP (#629)
  .github/agentic-price-check-providers.yml
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/groq.yml
  prices/providers/mistral.yml
  prices/providers/moonshotai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add web search tool call pricing to OpenAI models
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_cli.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update JS expected prices for gpt-5.6 web search pricing
  packages/js/src/__tests__/generatedData.test.ts
Due: lint-fix, typecheck-ts

Add web search tool call pricing to OpenAI models (#630)
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_cli.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Explain o1 preview model split
  prices/providers/azure.yml
  prices/providers/openai.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Add file search tool call pricing to OpenAI models
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/data.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_units.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/openai.yml
  prices/units.yml
  tests/test_cli.py
  tests/test_price_calc.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Use the existing storage_searches unit for OpenAI file search pricing
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/data.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_units.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/openai.yml
  prices/units.yml
  tests/test_cli.py
  tests/test_price_calc.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Tighten canonical model test coverage
  packages/js/src/__tests__/generatedData.test.ts
  tests/test_build_metadata.py
  tests/test_model_matching.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Price Azure AI Foundry marketplace models through their origin providers
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  tests/dataset/usages.json
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Expose a default api_flavor on generated HuggingFace and OVHcloud providers
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_ovhcloud.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
  prices/providers/ovhcloud.yml
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_ovhcloud.py
  tests/dataset/usages.json
  tests/test_source_huggingface.py
  tests/test_source_ovhcloud.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Price Azure AI Foundry marketplace models through their origin providers (#633)
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  tests/dataset/usages.json
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Refuse to overwrite provider YAML from an empty or sharply shrunken importer response
  AGENTS.md
  prices/helicone_get/README.md
  prices/helicone_get/deno.json
  prices/src/prices/source_aws.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/source_ovhcloud.py
  prices/src/prices/source_quicksilverpro.py
  prices/src/prices/write_guard.py
  tests/test_source_aws.py
  tests/test_source_huggingface.py
  tests/test_source_openrouter.py
  tests/test_source_ovhcloud.py
  tests/test_write_guard.py
Due: format-python, lint-python, build, typecheck-python

Add file search tool call pricing to OpenAI models (#631)
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_cli.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Correct the original gpt-4o snapshot and Devstral Small prices
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  prices/providers/openai.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Infer the Mistral provider for labs- prefixed model IDs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
