Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Fix `eval-type-backport` Python version constraint
  packages/python/pyproject.toml
  uv.lock
Due: none

Fix `eval-type-backport` Python version constraint (#238)
  packages/python/pyproject.toml
  uv.lock
Due: none

Build
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Add Cohere Embed v4.0
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/cohere.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Build & test
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/cohere.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

eof
  prices/providers/cohere.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Fix context windows for OpenAI embedding models (#229)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Change api_flavor back from cohere to default
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/cohere.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Cohere Embed v4.0 (#240)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/cohere.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fix #241 Tiered pricing calculation
  package-lock.json
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/tieredPricing.test.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
  tests/test_price_calc.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, collapse-models, build, typecheck-python, typecheck-ts

feat: add gpt-5.2 and gpt-5.2-pro
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add gpt-5.2 and gpt-5.2-pro (#243)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.48 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.48 release (#246)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

feat: add Qwen3-Coder-480B-A35B-Instruct model with pricing details
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Price all tokens based on input tokens tier
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

feat: add Qwen3-Coder-480B-A35B-Instruct model with pricing details (#248)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: Update Hugging Face prices
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_ovhcloud.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_together.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: Update Hugging Face prices (#249)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_ovhcloud.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_together.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add OVHcloud AI Endpoints provider prices and auto-script
  Makefile
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/ovhcloud.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_ovhcloud.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add OVHcloud AI Endpoints provider prices and auto-script (#250)
  Makefile
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/ovhcloud.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_ovhcloud.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update prices/src/prices/prices_types.py
  prices/src/prices/prices_types.py
Due: format-python, lint-python, build, typecheck-python

Update packages/python/genai_prices/types.py
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

fix doc and signature for total_input_tokens param
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
Due: format-python, lint-fix, lint-python, collapse-models, build, typecheck-python, typecheck-ts

Prep 0.0.49 release
  README.md
  package-lock.json
  packages/js/package.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/pyproject.toml
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_ovhcloud.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_together.yml
  tests/dataset/usages.json
  uv.lock
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.49 release (#252)
  README.md
  package-lock.json
  packages/js/package.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/pyproject.toml
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_ovhcloud.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_together.yml
  tests/dataset/usages.json
  uv.lock
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

remove fallback to token_count based tier
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

feat: Add Gemini 3 Flash Preview model with pricing details and update Google provider model count
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

add prices for gemini 3 flash and pro image preview
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

rename to preview
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Sort tiers
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/python/genai_prices/types.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

add support for fallback_model_providers on providers
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/azure.yml
  prices/providers/google.yml
  prices/src/prices/prices_types.py
  tests/dataset/usages.json
  tests/test_cli.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix js library
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

Adding prices for grok-4-1-fast and grok-code-fast-1
  prices/providers/x_ai.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Run pre-commit to generate various files, added TZInfo regex fix
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
  prices/src/prices/package_data.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update js sdk docs with custom provider instructions
  packages/js/README.md
Due: none

fix prettier formatting
  packages/js/README.md
Due: none

add prices for gemini 3 flash and pro image preview (#254)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Adding prices for grok-4-1-fast and grok-code-fast-1 (#256)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
  prices/src/prices/package_data.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts
