Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Tighten unit validation coverage
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Enforce published data compatibility in CI
  .github/workflows/ci.yml
Due: none

Validate untrusted Python unit data
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Validate Python unit evolution
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Switch Python active unit registry
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Defer Python extractor destination validation
  packages/python/genai_prices/types.py
  prices/src/prices/package_data.py
  tests/test_extract_usage.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Carry Python registry to snapshot activation
  packages/python/genai_prices/data_snapshot.py
  tests/test_lifecycle.py
Due: format-python, lint-python, build, typecheck-python

feat(python): decode versioned provider data
  packages/python/genai_prices/provider_data.py
  tests/test_provider_data.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

feat(python): activate wrapped price updates
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

test(python): preserve wrapped update customization
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

fix(python): ignore ordered match extensions
  packages/python/genai_prices/provider_data.py
  tests/test_provider_data.py
Due: format-python, lint-python, build, typecheck-python

fix(python): retain first background failure
  packages/python/genai_prices/update_prices.py
  tests/test_lifecycle.py
Due: format-python, lint-python, build, typecheck-python

feat(js): validate untrusted unit data
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

feat(js): validate unit evolution
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

feat(js): switch active unit registry
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

feat(js): decode versioned provider data
  packages/js/src/__tests__/providerData.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

feat(js): activate wrapped price updates
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/__tests__/updatePricesUrl.test.ts
  packages/js/src/api.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

feat(go): validate untrusted unit data
  packages/go/types.go
  packages/go/units.go
  packages/go/units_internal_test.go
Due: none

feat(go): decode wrapped provider data
  packages/go/provider_data.go
  packages/go/provider_data_internal_test.go
  packages/go/types.go
Due: none

feat(go): construct wrapped v3 calculators
  packages/go/calculator.go
  packages/go/extract.go
  packages/go/provider_data.go
  packages/go/types.go
  packages/go/v3_api_test.go
Due: none

test: prove remote unit parity
  packages/go/v3_api_test.go
  packages/js/src/__tests__/remoteUnitParity.test.ts
  tests/fixtures/remote-unit-v3.json
  tests/test_remote_unit_parity.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

test: remove dead wrapped fixture branch
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

test: prove forward-compatible projections
  packages/go/forward_compatibility_test.go
  packages/js/src/__tests__/forwardCompatibilityParity.test.ts
  tests/fixtures/forward-compatible-v3.json
  tests/fixtures/malformed-recognized-v3.json
  tests/test_forward_compatibility_parity.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

docs: refresh Phase 2 implementation target
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

build: refresh Phase 2 cutover data
  prices/new_data/v3/data.json
  prices/src/prices/frozen_v2.py
Due: format-python, lint-python, build, typecheck-python

fix: support Python 3.10 compatibility checks
  prices/src/prices/v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python

fix: declare typing extensions dependency
  prices/pyproject.toml
  uv.lock
Due: build

fix(js): use own dimension properties
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

fix(js): require model match data
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

fix(js): require extractor core fields
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

ci: run compatibility in merge queue
  .github/workflows/ci.yml
Due: none

fix(js): validate model prices shape
  packages/js/src/__tests__/providerData.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

fix(go): align reserved unit keys
  packages/go/units.go
  packages/go/units_internal_test.go
Due: none

fix(go): encode dimension identity safely
  packages/go/units.go
  packages/go/units_internal_test.go
Due: none

fix(js): reject malformed extract paths
  packages/js/src/__tests__/providerData.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

fix(go): bucket unit validation by family
  packages/go/units.go
  packages/go/units_internal_test.go
Due: none

fix(go): drop empty projected prices
  packages/go/provider_data.go
  packages/go/provider_data_internal_test.go
Due: none

fix(go): reject non-string metadata items
  packages/go/provider_data.go
  packages/go/provider_data_internal_test.go
Due: none

fix(js): validate conditional price maps
  packages/js/src/__tests__/providerData.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

fix(js): require extractor mapping fields
  packages/js/src/__tests__/providerData.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
