Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Clarify incomplete usage catch-all semantics
  specs/data-driven-unit-registry/spec.md
Due: none

test global registry helper patching
  tests/test_units.py
  tests/test_usage.py
Due: format-python, lint-python, typecheck-python

make registry helper data-units backed
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

cover registry helper import boundaries
  tests/test_lifecycle.py
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

drop fetched snapshot registry expectation
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

make data snapshots provider-only
  packages/python/genai_prices/data_snapshot.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

simplify extractor registry lookup
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
  tests/test_lifecycle.py
Due: format-python, lint-python, build, typecheck-python

cover provider activation registry boundary
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

tighten generated python data split coverage
  tests/test_lifecycle.py
Due: format-python, lint-python, typecheck-python

tighten provider array payload coverage
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Explain contradictory usage errors
  packages/python/genai_prices/decompose.py
  tests/test_decompose.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Add JavaScript unit registry types
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

Widen JavaScript price record types
  packages/js/src/__tests__/dataset.test.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

Widen JavaScript extractor destinations
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

Generate JavaScript unit data separately
  packages/js/src/dataUnits.ts
  prices/src/prices/package_data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Cover JavaScript generated data split
  packages/js/src/__tests__/generatedData.test.ts
Due: lint-fix, typecheck-ts

Parse JavaScript unit families
  packages/js/src/__tests__/units.test.ts
  packages/js/src/types.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Reject duplicate JavaScript unit usage keys
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Reject duplicate JavaScript unit price keys
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Reject duplicate JavaScript unit dimension sets
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Validate JavaScript unit interval closure
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Add JavaScript active unit registry state
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Add JavaScript unit usage lookups
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Add JavaScript unit price key lookups
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Add JavaScript registry key set lookups
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Add JavaScript reported usage key helper
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Validate JavaScript model price keys
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

Validate JavaScript ancestor price coverage
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

Validate JavaScript join price coverage
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

Compose JavaScript model price validation
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

Validate JavaScript extractor destinations
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

Normalize JavaScript plain usage
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

Read JavaScript stored usage values
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

Reject JavaScript missing ancestor usage reads
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

Reject JavaScript missing overlap usage reads
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

Add JavaScript descendant helper
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/decompose.ts
Due: lint-fix, typecheck-ts

Compute JavaScript leaf usage values
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/decompose.ts
Due: lint-fix, typecheck-ts

Reject JavaScript negative leaf values
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/decompose.ts
Due: lint-fix, typecheck-ts

Add generic JavaScript unit price helper
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Use generic helper for JavaScript request pricing
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts
