Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Consolidate Python CLI implementation (#382)
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/_cli_impl.py
  tests/cli_missing_dependency_import.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

Revert "Inline CLI dependency error"
  packages/python/genai_prices/_cli.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

Revert "Consolidate Python CLI implementation"
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/_cli_impl.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

Add JS optional extractor path coverage
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Use pragmas for changing price branches
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Improve Python test coverage (#381)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Add coverage pragmas for existing gaps
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  packages/python/genai_prices/update_prices.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_custom_prices.py
  tests/test_extract_usage.py
  tests/test_lifecycle.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Enforce 100 percent coverage
  .github/workflows/after-ci.yml
  .github/workflows/ci.yml
  pyproject.toml
Due: none

Remove coverage pragmas from tests
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  tests/test_custom_prices.py
  tests/test_extract_usage.py
  tests/test_lifecycle.py
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

Cover test helpers without pragmas
  pyproject.toml
  tests/conftest.py
  tests/test_cli.py
  tests/test_custom_prices.py
  tests/test_extract_usage.py
  tests/test_lifecycle.py
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

Cover simple coverage gaps with tests
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  packages/python/genai_prices/update_prices.py
  tests/test_cli.py
  tests/test_extract_usage.py
  tests/test_model_matching.py
  tests/test_price_regressions.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Add amazon provider match for aws
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_provider_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add amazon provider match for aws (#384)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_provider_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

refactor: move httpx2 from httpx
  packages/python/genai_prices/update_prices.py
  packages/python/pyproject.toml
  prices/pyproject.toml
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_litellm.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/source_ovhcloud.py
  prices/src/prices/source_simonw_prices.py
  tests/cassettes/test_update_prices/fail.yaml
  tests/cassettes/test_update_prices/success.yaml
  tests/test_update_prices.py
  uv.lock
Due: format-python, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python

refactor: move httpx2 from httpx (#385)
  packages/python/genai_prices/update_prices.py
  packages/python/pyproject.toml
  prices/pyproject.toml
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_litellm.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/source_ovhcloud.py
  prices/src/prices/source_simonw_prices.py
  tests/cassettes/test_update_prices/fail.yaml
  tests/cassettes/test_update_prices/success.yaml
  tests/test_update_prices.py
  uv.lock
Due: format-python, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python

feat: add MiniMax and Zhipu AI providers, update kimi-k2.6
  prices/data.json
  prices/data_slim.json
  prices/providers/minimax.yml
  prices/providers/moonshotai.yml
  prices/providers/zhipuai.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

fix: use official MiniMax USD prices, add M2-her model
  prices/data.json
  prices/data_slim.json
  prices/providers/minimax.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

feat(zhipuai): add complete GLM-4/4.5/4.7/5 model coverage
  prices/data.json
  prices/data_slim.json
  prices/providers/zhipuai.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

fix: collapse MiniMax-M2/M2.1/M2.5 into one entry (identical prices)
  prices/data.json
  prices/data_slim.json
  prices/providers/minimax.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Prep 0.0.62 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.62 release (#387)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

adding background update helper method
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

fix in structure, do not rely on ref count to see if updater is running
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Add 6 new Fireworks models
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/fireworks.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Opus 4.8 pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Remove unsupported geo prefixes (apac, us-gov) from Opus 4.8 regional match
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Opus 4.8 pricing (#389)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

update deepseek-v4-pro
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/deepseek.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update deepseek-v4-pro to new permanent pricing (#391)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/deepseek.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Google and Mistral AI models on AWS
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Google and Mistral AI models on AWS (#392)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.63 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.63 release (#393)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

chore: add Doubleword as a provider
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/doubleword.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

chore: add Doubleword as a provider (#394)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/doubleword.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.64 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.64 release (#395)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

refactor: make typescript match logic case insensitive
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

refactor: make typescript match logic case insensitive (#396)
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Prep 0.0.65 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none
