Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

test: document Perplexity reasoning token semantics
  prices/providers/perplexity.yml
  tests/test_extract_usage.py
Due: format-python, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python

fix: price Claude Opus 5 web searches
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/data_v2_slim.json
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

refactor: share distinct reasoning price conversion
  prices/src/prices/source_litellm.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/utils.py
Due: format-python, lint-python, build, typecheck-python

data: document OpenRouter reasoning price
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/new_data/v2/data.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

data: document Anthropic cache TTL prices
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: price Anthropic cache writes by TTL (#515)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  tests/dataset/usages.json
  tests/test_cli.py
  tests/test_end_to_end.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: support conditional unit dimensions (#514)
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/data.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_units.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/src/prices/export_validation.py
  prices/src/prices/package_data.py
  prices/units.yml
  tests/dataset/usages.json
  tests/test_cli.py
  tests/test_decompose.py
  tests/test_end_to_end.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_price_regressions.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

test: assert web search price components
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

Preserve labels for tool-call units
  packages/python/genai_prices/_cli.py
Due: format-python, lint-python, build, typecheck-python

Add current non-token pricing units
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data_units.py
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/units.yml
  tests/test_cli.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: validate dimension requirement shapes
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Clarify non-token price labels
  packages/python/genai_prices/_cli.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

docs: align cache TTL price descriptions
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/build.py
  tests/test_package_schema.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

feat: add current non-token pricing units (#524)
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data_units.py
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/units.yml
  tests/test_cli.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: exclude pricing links from slim v2 data
  prices/new_data/v2/data_slim.json
  prices/src/prices/build.py
  tests/test_lifecycle.py
Due: format-python, lint-python, build, typecheck-python

test: keep Google modality fixture totals consistent
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

test: align non-token registry test title
  packages/js/src/__tests__/units.test.ts
Due: lint-fix, typecheck-ts

test: guard cache TTL schema key
  tests/test_package_schema.py
Due: format-python, lint-python, typecheck-python

test: rely on shared mock cleanup
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

docs: describe audio rates in minutes
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/build.py
  tests/test_package_schema.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

feat: complete audio duration unit vocabulary
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data_units.py
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/units.yml
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: normalize audio duration prices by hour
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data_units.py
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/build.py
  prices/units.yml
  tests/test_cli.py
  tests/test_package_schema.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add input text message unit
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data_units.py
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/units.yml
  tests/test_cli.py
  tests/test_package_schema.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: complete realtime billing unit vocabulary (#526)
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data_units.py
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/build.py
  prices/units.yml
  tests/test_cli.py
  tests/test_package_schema.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

refactor: share unit label helpers
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/units.py
Due: format-python, lint-python, build, typecheck-python

fix: format model prices with registered units
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

test: update registry-derived price snapshot
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

test: cover tiered custom price formatting
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

fix: include xAI reasoning in output totals
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.1.0 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.1.0 release (#528)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Expand usages.json tests
  pyproject.toml
  tests/dataset/extract_usages.py
  tests/dataset/get_raw_bodies.py
  tests/dataset/usages.json
Due: format-python, lint-python, typecheck-python

Expand usages.json tests (#529)
  pyproject.toml
  tests/dataset/extract_usages.py
  tests/dataset/get_raw_bodies.py
  tests/dataset/usages.json
Due: format-python, lint-python, typecheck-python

Update OpenAI gpt-5.6 family prices
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update gpt-5.6 terra/luna price expectations in tests
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

Mark v2 generated data files as linguist-generated
  .gitattributes
Due: none

Update OpenAI gpt-5.6 family prices (terra & luna reduced) (#531)
  .gitattributes
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Refresh agent-facing docs for the v2 data contract
  .claude/skills/add-price-model/SKILL.md
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.md
  AGENTS.md
  README.md
  packages/js/README.md
  prices/README.md
  prices/units.yml
Due: build, check-for-price-discrepancies, inject-providers

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
