Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, collapse-models, build, typecheck

format:
  name: format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - package-data
  language: system
  pass_filenames: false

typecheck:
  name: typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

prep release of v0.0.21 (#119)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  prices/pyproject.toml
  uprev.sh
  uv.lock
Due: build

add findProvider to js public interface
  .pre-commit-config.yaml
  package.json
  packages/js/package.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
Due: build

fix signatures and tests
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
Due: none

Rename modelRef to modelId
  packages/js/src/api.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
Due: none

add `findProvider` to js public interface (#120)
  .pre-commit-config.yaml
  package.json
  packages/js/package.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
Due: build

test against known provider and model names
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/calc.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/cohere.yml
  prices/providers/google.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/providers/together.yml
  prices/providers/x_ai.yml
  tests/test_model_matching.py
  tests/test_provider_matching.py
Due: format, lint, collapse-models, build, typecheck

lowercase model id
  packages/js/src/api.ts
Due: none

more groq models
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/groq.yml
  tests/test_model_matching.py
Due: format, lint, collapse-models, build, typecheck

replace snapshot() with None
  tests/test_model_matching.py
Due: format, lint, build, typecheck

test against known provider and model names (#121)
  README.md
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/python/genai_prices/calc.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/cohere.yml
  prices/providers/google.yml
  prices/providers/groq.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/providers/together.yml
  prices/providers/x_ai.yml
  tests/test_model_matching.py
  tests/test_provider_matching.py
Due: format, lint, collapse-models, build, typecheck

prep release 0.0.22
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: build

prep release 0.0.22 (#122)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: build

change extraction logic for Anthropic
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  tests/test_extract_usage.py
Due: format, lint, collapse-models, build, typecheck

fix price calculation for python
  packages/python/genai_prices/types.py
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/types.py
  tests/test_end_to_end.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format, lint, collapse-models, build, typecheck

change extraction logic for Anthropic (#125)
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/src/prices/types.py
  tests/test_end_to_end.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format, lint, collapse-models, build, typecheck

rename "calc" module to "data_shapshot"
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/update_prices.py
  tests/test_custom_prices.py
  tests/test_model_matching.py
  tests/test_provider_matching.py
  tests/test_update_prices.py
Due: format, lint, build, typecheck

rename `calc.py` module to `data_shapshot.py` (#126)
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/update_prices.py
  tests/test_custom_prices.py
  tests/test_model_matching.py
  tests/test_provider_matching.py
  tests/test_update_prices.py
Due: format, lint, build, typecheck

tweak pre-commit config
  .pre-commit-config.yaml
  package.json
  packages/js/package.json
Due: build

ts change
  package.json
  packages/js/src/__tests__/comprehensive.test.ts
Due: build

Pre commit tweak (#127)
  .pre-commit-config.yaml
  package.json
  packages/js/package.json
  packages/js/src/__tests__/comprehensive.test.ts
Due: build

Fix gpt-5-nano
  package-lock.json
  packages/js/package.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/pyproject.toml
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_model_matching.py
  uv.lock
Due: format, lint, collapse-models, build, typecheck

Fix gpt-5-nano (#128)
  package-lock.json
  packages/js/package.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/pyproject.toml
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_model_matching.py
  uv.lock
Due: format, lint, collapse-models, build, typecheck

support extracting usage and model from google vertex/gemini
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format, lint, collapse-models, build, typecheck

support extracting cache tokens from google responses
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/extractUsage.ts
  packages/js/src/types.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/google.yml
  prices/src/prices/types.py
  tests/test_extract_usage.py
Due: format, lint, collapse-models, build, typecheck

rename FindItem -> ArrayMatch
  packages/js/src/data.ts
  packages/js/src/extractUsage.ts
  packages/js/src/types.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/google.yml
  prices/src/prices/types.py
Due: format, lint, collapse-models, build, typecheck

Google vertex usage (#129)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/extractUsage.ts
  packages/js/src/types.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/google.yml
  prices/src/prices/types.py
  tests/test_extract_usage.py
Due: format, lint, collapse-models, build, typecheck

Release 0.0.24
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uprev.sh
  uv.lock
Due: build

tweak uprev.sh
  uprev.sh
Due: none

Prep 0.0.24 release (#130)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uprev.sh
  uv.lock
Due: build

Upgrade uv_build to latest to fix wheel permissions issue
  packages/python/pyproject.toml
Due: none

Upgrade uv_build to latest to fix wheel permissions issue (#131)
  packages/python/pyproject.toml
Due: none

Prep 0.0.25 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uprev.sh
  uv.lock
Due: build

Prep 0.0.25 release (#133)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uprev.sh
  uv.lock
Due: build

add thoughtsTokenCount to output_tokens for gemini
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format, lint, collapse-models, build, typecheck

fix js tests
  packages/js/src/__tests__/extractUsage.test.ts
Due: none

add `thoughtsTokenCount` to `output_tokens` for gemini (#135)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format, lint, collapse-models, build, typecheck

Prep 0.0.26 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: build

Prep 0.0.26 release (#136)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: build

add license file, fix #134
  packages/python/pyproject.toml
Due: none

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  collapse-models: any of: prices/providers/
  build: (any of: prices/) or (any of: \.py$, \.json$)
  typecheck: any of: \.py$
