Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

build
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

revert
  prices/src/prices/price_discrepancies.py
Due: format-python, lint-python, build, typecheck-python

WIP
  prices/providers/aws.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

build
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

AWS Anthropic model prices (#211)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Loosen AWS anthropic model matchers
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Loosen AWS anthropic model matchers (#212)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Support AWS anthropic in all regions
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Support AWS anthropic in all regions (#213)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(anthropic): support chat completions
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(anthropic): support chat completions (#214)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Version 0.0.43
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Version 0.0.43 (#215)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

feat(azure): add extractors
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/azure.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(azure): add extractors (#216)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/azure.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.44 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.44 release (#217)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Huggingface prices
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
  prices/src/prices/collapse.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/update.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

more provider info
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
  prices/src/prices/source_huggingface.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

more provider info
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

tests
  tests/dataset/usages.json
Due: none

Get live data
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_sambanova.yml
  prices/src/prices/source_huggingface.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Huggingface prices (#218)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
  prices/src/prices/collapse.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/update.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: support claude opus 4.5
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add prices for claude opus 4.5 (#219)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.45 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.45 release (#221)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Update huggingface prices
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_publicai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update huggingface prices (#222)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_publicai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

lowercase huggingface models
  Makefile
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_huggingface.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

pass
  packages/js/src/__tests__/comprehensive.test.ts
Due: lint-fix, typecheck-ts

lowercase huggingface models (#223)
  Makefile
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_huggingface.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.46 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.46 release (#225)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

chore(*): soften httpx python dependency
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  prices/pyproject.toml
  uv.lock
Due: build

chore(*): soften httpx python dependency (#226)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  prices/pyproject.toml
  uv.lock
Due: build

fix: broken link to openrouter in readme
  README.md
  prices/README.md
Due: build

feat: adding latest x-ai models
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add new x-ai models to OpenRouter provider
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts
