Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Decouple overflow test from bundled prices
  packages/go/api_test.go
Due: none

Add Baseten Model API pricing (#660)
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  Makefile
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/baseten.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_baseten.py
  pyproject.toml
  tests/cassettes/test_source_baseten/test_baseten_main_fetches_recorded_sources.yaml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_source_baseten.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add native Go pricing package (#658)
  .gitattributes
  .github/workflows/ci.yml
  .gitignore
  .macroscope/ignore.md
  .pre-commit-config.yaml
  .prettierignore
  Makefile
  README.md
  RELEASE.md
  packages/go/.golangci.yml
  packages/go/README.md
  packages/go/api_test.go
  packages/go/calculator.go
  packages/go/data.go
  packages/go/data_units.go
  packages/go/dataset_test.go
  packages/go/doc.go
  packages/go/extract.go
  packages/go/go.mod
  packages/go/go.sum
  packages/go/internal/data/prices.json
  packages/go/match.go
  packages/go/parity_test.go
  packages/go/price.go
  packages/go/types.go
  packages/go/units.go
  prices/src/prices/package_data.py
  tests/test_pipeline_build.py
Due: format-python, lint-python, build, typecheck-python

Fix release publisher commands
  .github/workflows/ci.yml
Due: none

Simplify uv publish invocation
  .github/workflows/ci.yml
Due: none

Fix PyPI and npm release publishers (#662)
  .github/workflows/ci.yml
Due: none

Reapply "Simplify the shared updater to one lock and a ref count"
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Fix the lifecycle findings without reintroducing the state machine
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Keep Ctrl-C responsive and quiet around the background worker
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Publish the first owner inside the startup rollback scope
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Only publish an update that was actually installed
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Replace the last sleep-poll test with an event-driven one
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

Finish shared claim release before re-raising interrupts
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Complete updater cleanup through interruptions
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Handle custom and worker-origin forks safely
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Tighten lifecycle comments
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Keep fork callback tests offline
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

Simplify to one lock: stop() signals instead of joining
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Make start() forgiving: first config wins, dead workers are replaced
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Keep nonblocking updater cleanup consistent
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Emit updater configuration warnings outside the lock
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Release updater claim when warnings raise
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Fetch through the owning instance; drop re-added guards
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

docs: refresh phase 2 unit update spec
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Log directly like main; drop the _log suppressor
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Restore main's README wording where behavior did not change
  packages/python/README.md
Due: none

Fix two typos in the UpdatePrices docs
  packages/python/README.md
Due: none

docs: tighten phase 2 compatibility contract
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

Restore interruption-safe updater cleanup
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Rename claims to ref_count
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

docs: make phase 2 contract self-contained
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: align registry root spec with frozen v1
  specs/data-driven-unit-registry/spec.md
Due: none

docs: record frozen v1 phase 1 behavior
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

Keep logging failures from replacing fetch errors
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

docs: clarify phase 2 public contracts
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: bound phase 1 v2 updates at cutover
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

docs: resolve phase 2 review ambiguities
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: fix phase 2 citation ordering
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: fix phase 2 cutover edge cases
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

docs: qualify phase 2 legacy fixtures
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none
