Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Add pricing for grok-4.3, deepseek-v4-flash, and deepseek-v4-pro (#365)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/deepseek.yml
  prices/providers/x_ai.yml
  tests/test_cli.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

remove ModelPrice JSON schema customization and tests
  packages/python/genai_prices/types.py
  tests/test_package_schema.py
Due: format-python, lint-python, build, typecheck-python

Refactor ModelPrice compatibility parsing
  packages/python/genai_prices/types.py
  prices/src/prices/package_data.py
  tests/test_custom_prices.py
Due: format-python, lint-python, build, typecheck-python

Fix ModelPrice parser on Python 3.9
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Validate stored ModelPrice extras
  packages/python/genai_prices/types.py
  tests/test_custom_prices.py
Due: format-python, lint-python, build, typecheck-python

Store ModelPrice values as attributes
  packages/python/genai_prices/_cli_impl.py
  packages/python/genai_prices/types.py
  prices/src/prices/package_data.py
  tests/test_custom_prices.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Build ModelPrice subclasses from keyword mappings
  packages/python/genai_prices/types.py
  tests/test_custom_prices.py
Due: format-python, lint-python, build, typecheck-python

Validate package data before runtime conversion
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Deduplicate price-key registry helper
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Use explicit registry keys for model price attrs
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Simplify runtime ModelPrice parsing
  packages/python/genai_prices/types.py
  packages/python/genai_prices/update_prices.py
  prices/src/prices/package_data.py
  tests/test_custom_prices.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Drop redundant ModelPrice attribute methods
  packages/python/genai_prices/types.py
  tests/test_custom_prices.py
Due: format-python, lint-python, build, typecheck-python

Drop redundant ModelPrice assignment test
  tests/test_custom_prices.py
Due: format-python, lint-python, typecheck-python

Inline ModelPrice normalization helper
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Drop redundant ModelPrice equality test
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Drop redundant ModelPrice subclass tests
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Update ModelPrice phase 4 specs
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

chore: add manual release workflow
  .github/workflows/ci.yml
Due: none

Store ModelPrice values as attributes (#372)
  packages/python/genai_prices/_cli_impl.py
  packages/python/genai_prices/types.py
  packages/python/genai_prices/update_prices.py
  prices/src/prices/package_data.py
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/spec.md
  tests/test_custom_prices.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

chore: add .nmprc
  .npmrc
Due: none

refactor: nested nmprc
  .github/workflows/ci.yml
  packages/js/.npmrc
Due: none

chore: add npmrc (#374)
  .github/workflows/ci.yml
  .npmrc
  packages/js/.npmrc
Due: none

Prep 0.0.60 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.60 release (#375)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

chore: update gpt-5.5 aliases
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

chore: update gpt-5.5 aliases (#376)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.61 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.61 release (#377)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

feat: add Gemini 3.5 Flash pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add Gemini 3.5 Flash pricing (#379)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Drop Python 3.9 support
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  packages/python/genai_prices/types.py
  packages/python/pyproject.toml
  prices/pyproject.toml
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  pyproject.toml
  uv.lock
Due: format-python, lint-python, build, typecheck-python

Drop Python 3.9 support (#380)
  .github/workflows/ci.yml
  CLAUDE.md
  Makefile
  packages/python/genai_prices/types.py
  packages/python/pyproject.toml
  prices/pyproject.toml
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  pyproject.toml
  uv.lock
Due: format-python, lint-python, build, typecheck-python

Improve Python test coverage
  tests/test_cli.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

Consolidate Python CLI implementation
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/_cli_impl.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

Skip invalid optional usage paths
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Inline CLI dependency error
  packages/python/genai_prices/_cli.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

clean
  packages/python/genai_prices/_cli.py
Due: format-python, lint-python, build, typecheck-python

Move missing dependency import helper to file
  tests/cli_missing_dependency_import.py
  tests/test_cli.py
Due: format-python, lint-python, typecheck-python

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
