Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Document aggregate cached input usage (#602)
  packages/js/README.md
  packages/python/README.md
Due: none

Restrict Command A pricing to known models (#604)
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cohere.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Exercise pipeline coverage through public commands
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  prices/src/prices/source_aws.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/source_ovhcloud.py
  prices/src/prices/update.py
  prices/src/prices/utils.py
  tests/dataset/extract_usages.py
  tests/test_dataset.py
  tests/test_pipeline_build.py
  tests/test_pipeline_commands.py
  tests/test_pipeline_maintenance.py
  tests/test_pipeline_types.py
  tests/test_price_discrepancies.py
  tests/test_source_aws.py
  tests/test_source_huggingface.py
  tests/test_source_openrouter.py
  tests/test_source_ovhcloud.py
Due: format-python, lint-python, build, typecheck-python

Remove obsolete discrepancy writer
  prices/src/prices/update.py
Due: format-python, lint-python, build, typecheck-python

Replace yargs with Node argument parsing
  package-lock.json
  packages/js/package.json
  packages/js/src/cli.ts
  packages/js/vite.config-cli.ts
Due: lint-fix, typecheck-ts

Replace yargs with Node argument parsing (#605)
  package-lock.json
  packages/js/package.json
  packages/js/src/cli.ts
  packages/js/vite.config-cli.ts
Due: lint-fix, typecheck-ts

Keep pragma annotations inline
  prices/src/prices/package_data.py
  prices/src/prices/utils.py
  tests/test_price_discrepancies.py
Due: format-python, lint-python, build, typecheck-python

Add Mistral OCR pricing
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add OpenAI Codex subscription provider
  README.md
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai_codex.yml
  tests/test_provider_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Cover initial Mistral OCR prices
  packages/js/src/__tests__/generatedData.test.ts
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Correct Mistral OCR 3 transition date
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Mistral OCR pricing (#606)
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Restrict OpenAI provider matching
  README.md
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  prices/providers/openai_codex.yml
  tests/test_provider_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Allow known OpenAI provider aliases
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_provider_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Cache provider resolution in data snapshots (#599)
  packages/python/genai_prices/data_snapshot.py
  tests/test_model_matching.py
Due: format-python, lint-python, build, typecheck-python

Address merged PR review findings
  .github/scripts/compare_v2_schemas.py
  .github/workflows/ci.yml
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/dataset/usages.json
  tests/test_compare_v2_schemas.py
  tests/test_model_matching.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Preserve Google Sonnet 4 aliases
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_model_matching.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Harden schema and pricing regressions
  .github/scripts/compare_v2_schemas.py
  packages/js/src/__tests__/generatedData.test.ts
  tests/test_compare_v2_schemas.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Reject dictionary usage inputs
  packages/python/genai_prices/types.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Reject all mapping usage inputs
  packages/python/genai_prices/types.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Support mapping usage inputs
  packages/python/genai_prices/types.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Support mapping usage inputs (#608)
  packages/python/genai_prices/types.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Match Pixtral and Mixtral models to Mistral
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Tighten JavaScript price assertions
  packages/js/src/__tests__/generatedData.test.ts
Due: lint-fix, typecheck-ts

Match Pixtral and Mixtral models to Mistral (#609)
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Refresh Avian model pricing
  README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/avian.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Avian context windows
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/avian.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Refresh Avian model pricing (#610)
  README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/avian.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Expand agentic price checks to direct providers
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
Due: none

Narrow xAI workflow scope
  .github/agentic-price-check-providers.yml
Due: none

Clarify DeepSeek and MiniMax pricing tiers
  .github/agentic-price-check-providers.yml
Due: none

Expand agentic price checks to direct providers (#611)
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
Due: none

Clarify maintenance command tests
  tests/test_maintenance_commands.py
Due: format-python, lint-python, typecheck-python

Restore 100% Python coverage (#598)
  .github/workflows/ci.yml
  AGENTS.md
  Makefile
  prices/src/prices/__main__.py
  prices/src/prices/package_data.py
  prices/src/prices/price_discrepancies.py
  prices/src/prices/prices_types.py
  prices/src/prices/source_aws.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/source_ovhcloud.py
  prices/src/prices/update.py
  prices/src/prices/utils.py
  pyproject.toml
  tests/dataset/extract_usages.py
  tests/test_dataset.py
  tests/test_maintenance_commands.py
  tests/test_pipeline_build.py
  tests/test_price_discrepancies.py
  tests/test_source_aws.py
  tests/test_source_huggingface.py
  tests/test_source_openrouter.py
  tests/test_source_ovhcloud.py
Due: format-python, lint-python, build, typecheck-python

Add Gemini 2.5 TTS pricing
  README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Use one JavaScript constraint shape
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/providerActivation.test.ts
  packages/js/src/__tests__/providerArrayIntegration.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/examples/browser/main.ts
  packages/js/src/examples/node-script.ts
  packages/js/src/types.ts
  prices/src/prices/package_data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Support inclusive price tier boundaries
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/tieredPricing.test.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/openai.yml
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  tests/test_price_calc.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Preserve Gemini Flash Lite preview matching
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Use provider tier boundary conventions
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/tieredPricing.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/openai.yml
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  tests/test_price_calc.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Preserve Gemini matcher compatibility
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts
