Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Regenerate accumulate-usage snapshot for int audio price ($1.0 -> $1)
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

chore: gitignore local dev files (.env, .mcp.json, AGENTS.md)
  .gitignore
Due: none

Only gitignore .env
  .gitignore
Due: none

chore: gitignore .env (#458)
  .gitignore
Due: none

test: reach 100% coverage on registry branch
  packages/python/genai_prices/types.py
  tests/test_custom_prices.py
  tests/test_units.py
  tests/test_update_prices.py
  tests/test_usage.py
  tests/test_validation.py
Due: format-python, lint-python, build, typecheck-python

Add xAI Grok 4.5 pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add local skill for adding a model to pricing data
  .claude/skills/add-price-model/SKILL.md
  .gitignore
Due: none

Move grok-latest alias from grok-4.3 to grok-4.5
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

skill: cover -latest alias migration and make build for verification
  .claude/skills/add-price-model/SKILL.md
Due: none

Add PR-hygiene rule: poll until CI green and comments resolved
  .claude/skills/add-price-model/SKILL.md
  AGENTS.md
Due: none

Merge CLAUDE.md into AGENTS.md; symlink CLAUDE.md -> AGENTS.md
  AGENTS.md
  CLAUDE.md
Due: none

Fix documented Python test range to 3.10-3.14
  AGENTS.md
Due: none

Add xAI Grok 4.5 pricing (#459)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add GPT-5.6 pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add GPT-5.6 pricing (#461)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.71 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

refactor: cleaner diff
  package-lock.json
  uv.lock
Due: none

Prep 0.0.71 release (#462)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

feat(openai): add GPT-5.6 cache write pricing
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(openai): add GPT-5.6 cache write pricing (#463)
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: extract OpenAI cached audio tokens
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/azure.yml
  prices/providers/openai.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: price compact GPT-5.2 date refs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Restore Phase 4 coverage
  packages/python/genai_prices/_cli.py
  tests/test_cli.py
  tests/test_custom_prices.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

feat(google): extract tool-use prompt audio tokens
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Simplify shared updater ownership
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Drop unrelated updater test rewrites
  packages/python/genai_prices/__init__.py
  tests/test_custom_prices.py
  tests/test_tiered_pricing.py
Due: format-python, lint-python, build, typecheck-python

Preserve shared updater error semantics
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Keep updater failures process-wide
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Document shared wait results
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Clarify shared failure observers
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

feat(google): extract tool-use prompt audio tokens (#464)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Implement Phase 4 registry polish hardening (#369)
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/api.ts
  packages/js/src/usage.ts
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/types.py
  packages/python/genai_prices/update_prices.py
  prices/providers/.schema.json
  prices/src/prices/build.py
  prices/src/prices/export_validation.py
  prices/src/prices/package_data.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_ovhcloud.py
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/spec.md
  tests/test_cli.py
  tests/test_custom_prices.py
  tests/test_extract_usage.py
  tests/test_package_schema.py
  tests/test_price_calc.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, typecheck-python, typecheck-ts

Prevent updater shutdown races
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Make shutdown publication interruption-safe
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

feat: add provider-independent model metadata
  .gitattributes
  .github/workflows/update-model-metadata.yml
  Makefile
  README.md
  packages/python/README.md
  packages/python/THIRD_PARTY_LICENSES/MODELS_DEV.txt
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/_model_metadata.json
  packages/python/genai_prices/model_metadata.py
  packages/python/pyproject.toml
  prices/src/prices/__main__.py
  prices/src/prices/source_models_dev.py
  tests/test_lifecycle.py
  tests/test_model_metadata.py
  tests/test_source_models_dev.py
Due: format-python, lint-python, build, typecheck-python

Specify Usage instance dictionary storage
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
Due: none

Store Usage values in instance dictionary
  packages/python/genai_prices/types.py
  tests/dataset/extract_usages.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

feat(moonshotai): add Kimi K3 pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/moonshotai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Refresh Avian provider: add DeepSeek, GLM, MiniMax and Kimi pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/avian.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
