Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Add extracted usage laziness regressions
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Add extractor destination validation regression
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Add provider array update regression
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

Add remote payload shape regression
  tests/test_lifecycle.py
Due: format-python, lint-python, typecheck-python

Add public export regression
  tests/test_public_exports.py
Due: format-python, lint-python, typecheck-python

Split low-level registry tests
  tests/test_decompose.py
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-python, typecheck-python

Split usage container tests
  tests/test_units.py
  tests/test_usage.py
Due: format-python, lint-python, typecheck-python

Factor synthetic registry test helper
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Deduplicate build unit registry loading
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Split price regression tests
  tests/test_price_calc.py
  tests/test_price_regressions.py
Due: format-python, lint-python, typecheck-python

Deduplicate unit test loader helper
  tests/test_decompose.py
  tests/test_units.py
  tests/test_validation.py
  tests/unit_registry_helpers.py
Due: format-python, lint-python, typecheck-python

Add price calculation regressions
  tests/test_price_regressions.py
Due: format-python, lint-python, typecheck-python

Add extraction behavior regressions
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Add provider payload update regressions
  tests/test_lifecycle.py
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

Move main-passing tests to separate PR
  tests/test_extract_usage.py
  tests/test_lifecycle.py
  tests/test_price_regressions.py
  tests/test_public_exports.py
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

Fix audio pricing data
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  prices/providers/openai.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fix unpriced descendant pricing
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Address test PR review comments
  tests/test_price_regressions.py
  tests/test_public_exports.py
Due: format-python, lint-python, typecheck-python

Add main-passing regression tests (#352)
  tests/test_extract_usage.py
  tests/test_lifecycle.py
  tests/test_price_regressions.py
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

Address pricing data review comments
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Clarify OpenAI audio price comments
  prices/providers/openai.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Remove public exports regression
  tests/test_public_exports.py
Due: format-python, lint-python, typecheck-python

Fix audio pricing data (#353)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  prices/providers/openai.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fix cache audio overlap pricing
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Explain inclusive token pricing buckets
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Fix bucket count in calc_price comment
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Fix unpriced descendant pricing (#354)
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Add data-driven unit registry specs
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/code-spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/phase-7-global-snapshot-enforcement/code-spec.md
  specs/data-driven-unit-registry/phase-7-global-snapshot-enforcement/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify unit registry validation contracts
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify token naming regression tests
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify phase one compatibility exceptions
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
Due: none

Limit usage key validation to construction
  packages/python/genai_prices/types.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Stabilize usage repr key order
  packages/python/genai_prices/types.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Separate generated unit data from providers
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
Due: none

Move generated unit data out of provider data
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/data_units.py
  prices/src/prices/package_data.py
  tests/test_lifecycle.py
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-python, build, typecheck-python

Clarify usage repr and phase five key caches
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/code-spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
Due: none

Order usage repr from registry
  packages/python/genai_prices/types.py
  tests/test_usage.py
Due: format-python, lint-python, build, typecheck-python

Align JavaScript unit data specs
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
Due: none

Specify extractor destination construction validation
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none
