Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, collapse-models, build, typecheck

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format
        name: format
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: lint
        name: lint
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [package-data]
        types_or: [python, json]
        language: system
        pass_filenames: false
      - id: typecheck
        name: typecheck
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false

update js package config
  packages/js/package.json
  packages/js/vite.config.ts
Due: build

update js package config (#51)
  packages/js/package.json
  packages/js/vite.config.ts
Due: build

bump js package version
  packages/js/package.json
Due: build

bump js package version (#52)
  packages/js/package.json
Due: build

fix js package export
  packages/js/package.json
  packages/js/src/dataLoader.ts
Due: build

fix
  packages/js/package.json
Due: build

fix js package export (#53)
  packages/js/package.json
  packages/js/src/dataLoader.ts
Due: build

ci: use gh app to manage changeset auth (#48)
  .github/workflows/ci.yml
Due: none

build data.ts as part of "make build"
  packages/js/package.json
  packages/js/scripts/generate-data-ts.js
  packages/js/src/data.ts
  prices/src/prices/package_data.py
Due: format, lint, build, typecheck

build `data.ts` as part of `make build` (#55)
  packages/js/package.json
  packages/js/scripts/generate-data-ts.js
  packages/js/src/data.ts
  prices/src/prices/package_data.py
Due: format, lint, build, typecheck

better model matching
  README.md
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  tests/test_price_calc.py
Due: format, lint, collapse-models, build, typecheck

fix ts pricing data
  packages/js/src/data.ts
Due: none

fix gpt-3.5-turbo-instruct
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format, lint, collapse-models, build, typecheck

better model matching (#54)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  tests/test_price_calc.py
Due: format, lint, collapse-models, build, typecheck

fix handling model/provider, clean up
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/cli.ts
  packages/js/src/dataLoader.ts
  packages/js/src/index.ts
  packages/js/src/sync/calcPriceSync.ts
  packages/js/src/types.ts
  packages/js/tests/test-error-handling.js
  packages/js/vite.config.ts
Due: none

update readmr
  README.md
  packages/js/README.md
  packages/js/package.json
Due: build

js package updates (#56)
  README.md
  packages/js/README.md
  packages/js/package.json
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/cli.ts
  packages/js/src/dataLoader.ts
  packages/js/src/index.ts
  packages/js/src/sync/calcPriceSync.ts
  packages/js/src/types.ts
  packages/js/tests/test-error-handling.js
  packages/js/vite.config.ts
Due: build

add changesets beta releases
  .github/workflows/beta-release.yml
  .github/workflows/ci.yml
  package.json
Due: build

add changesets beta releases (#57)
  .github/workflows/beta-release.yml
  .github/workflows/ci.yml
  package.json
Due: build

fix changesets beta releases
  .github/workflows/ci.yml
  package.json
  scripts/publish.sh
Due: build

fix beta releases with changesets 2 (#58)
  package.json
  scripts/publish.sh
Due: build

update beta release flow + readme
  .github/workflows/beta-release.yml
  .github/workflows/ci.yml
  README.md
  package.json
  scripts/publish.js
  scripts/publish.sh
Due: build

update beta release flow + readme (#59)
  .github/workflows/beta-release.yml
  .github/workflows/ci.yml
  README.md
  package.json
  scripts/publish.js
  scripts/publish.sh
Due: build

[create-pull-request] automated change
  package-lock.json
Due: build

fix changesets publish
  scripts/publish.js
Due: none

fix changesets publish (#61)
  scripts/publish.js
Due: none

fix publish script
  scripts/publish.js
Due: none

changesets publish fix (#62)
  scripts/publish.js
Due: none
