Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Fill groq record context windows from the Groq API
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/groq.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill novita record context windows from the Novita API (#643)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/novita.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Restrict scheduled updates to provider importers
  .github/workflows/update-prices.yml
  Makefile
Due: none

Drop the Whisper context windows
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/groq.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Remove unused Deno setup
  .github/workflows/update-prices.yml
Due: none

Drop windows from rolling -latest aliases with cross-window history
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill mistral record context windows from the Mistral API (#648)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill `groq` context windows from the Groq API (#649)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/groq.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill openai record context windows from OpenAI's model docs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill aws record context windows from the Bedrock model cards
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Require explicit importer guard override
  prices/src/prices/write_guard.py
  tests/test_source_huggingface.py
  tests/test_write_guard.py
Due: format-python, lint-python, build, typecheck-python

Fill openai record context windows from OpenAI's model docs (#650)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill `aws` record context windows from the Bedrock model cards (#651)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Isolate Hugging Face guard test
  tests/test_source_huggingface.py
Due: format-python, lint-python, typecheck-python

Fill azure record context windows from Microsoft's model docs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill `azure` record context windows from Microsoft's model docs (#652)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill deepseek record context windows from DeepSeek's API docs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/deepseek.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill x-ai record context windows from xAI's model docs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill perplexity record context windows from Perplexity's model cards
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/perplexity.yml
  tests/test_cli.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Record context-window findings for cerebras, moonshotai and minimax
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cerebras.yml
  prices/providers/minimax.yml
  prices/providers/moonshotai.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Pin deepseek-v3.2-exp's window too
  tests/test_model_matching.py
Due: format-python, lint-python, typecheck-python

Fill remaining single-record context windows (cerebras, moonshotai, minimax) (#656)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cerebras.yml
  prices/providers/minimax.yml
  prices/providers/moonshotai.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill `perplexity` record context windows from Perplexity's model cards (#655)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/perplexity.yml
  tests/test_cli.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill `x-ai` record context windows from xAI's model docs (#654)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fill `deepseek` record context windows from DeepSeek's API docs (#653)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/deepseek.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Expose a default api_flavor on generated HuggingFace and OVHcloud providers (#634)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_ovhcloud.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
  prices/providers/ovhcloud.yml
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_ovhcloud.py
  tests/dataset/usages.json
  tests/test_source_huggingface.py
  tests/test_source_ovhcloud.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Revert "Simplify the shared updater to one lock and a ref count"
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Cover fork lifecycle transitions without subprocess coverage gaps
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

Add native Go pricing package
  .gitattributes
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .prettierignore
  Makefile
  README.md
  RELEASE.md
  packages/go/.golangci.yml
  packages/go/README.md
  packages/go/api_test.go
  packages/go/calculator.go
  packages/go/data.go
  packages/go/data_units.go
  packages/go/dataset_test.go
  packages/go/doc.go
  packages/go/extract.go
  packages/go/go.mod
  packages/go/go.sum
  packages/go/internal/data/prices.json
  packages/go/match.go
  packages/go/parity_test.go
  packages/go/price.go
  packages/go/types.go
  packages/go/units.go
  prices/src/prices/package_data.py
  tests/test_pipeline_build.py
Due: format-python, lint-python, build, typecheck-python

Fix npm release artifact packaging
  .github/workflows/ci.yml
Due: none

Fix npm release artifact packaging (#659)
  .github/workflows/ci.yml
Due: none

Refuse to overwrite provider YAML from an empty or sharply shrunken importer response (#635)
  AGENTS.md
  prices/helicone_get/README.md
  prices/helicone_get/deno.json
  prices/src/prices/source_aws.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/source_ovhcloud.py
  prices/src/prices/source_quicksilverpro.py
  prices/src/prices/write_guard.py
  tests/test_source_aws.py
  tests/test_source_huggingface.py
  tests/test_source_openrouter.py
  tests/test_source_ovhcloud.py
  tests/test_write_guard.py
Due: format-python, lint-python, build, typecheck-python

Harden the Go pricing package
  .github/workflows/ci.yml
  Makefile
  packages/go/README.md
  packages/go/api_test.go
  packages/go/calculator.go
  packages/go/data.go
  packages/go/data_units.go
  packages/go/dataset_test.go
  packages/go/doc.go
  packages/go/extract.go
  packages/go/match.go
  packages/go/parity_test.go
  packages/go/price.go
  packages/go/types.go
  packages/go/units.go
  prices/src/prices/package_data.py
  tests/test_pipeline_build.py
Due: format-python, lint-python, build, typecheck-python

Normalize Go provider matching
  .macroscope/ignore.md
  packages/go/api_test.go
  packages/go/calculator.go
  packages/go/extract.go
  packages/go/parity_test.go
Due: none

Add Baseten Model API pricing
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  Makefile
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/baseten.yml
  prices/src/prices/__main__.py
  prices/src/prices/source_baseten.py
  pyproject.toml
  tests/cassettes/test_source_baseten/test_baseten_main_fetches_recorded_sources.yaml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_source_baseten.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prevent silently skipped release publishers
  .github/workflows/ci.yml
  RELEASE.md
Due: none

Correct Baseten monitoring coverage
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  tests/test_source_baseten.py
Due: format-python, lint-python, typecheck-python

Automate Go module release tags
  .github/workflows/ci.yml
  RELEASE.md
Due: none

Harden Go release and pricing validation
  .github/workflows/ci.yml
  packages/go/README.md
  packages/go/api_test.go
  packages/go/calculator.go
  packages/go/extract.go
  packages/go/parity_test.go
  packages/go/price.go
  packages/go/types.go
Due: none

Prevent silently skipped release publishers (#661)
  .github/workflows/ci.yml
  RELEASE.md
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
