Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

add license file (#137)
  packages/python/pyproject.toml
Due: none

make "thoughtsTokenCount" optional
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

make `thoughtsTokenCount` optional (#139)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.27 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.27 release (#140)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Google input_audio_tokens
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fix tests
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

update docstrings
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

uncached_text_input_tokens
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

update calc_price again, test
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

cleanup
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Extract `input_audio_tokens` for Google, account for (cached) audio in price (#141)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

loosen pydantic dependency requirement to 2.10
  packages/python/pyproject.toml
  uv.lock
Due: none

update uv.lock to 2.10
  prices/pyproject.toml
  uv.lock
Due: build

Change uv.lock to use pydantic==2.10.0
  uv.lock
Due: none

run pre-commit
  prices/data.schema.json
  prices/providers/.schema.json
Due: collapse-models, build

Revert "run pre-commit"
  prices/data.schema.json
  prices/providers/.schema.json
Due: collapse-models, build

run pre-commit again
  prices/data.schema.json
  prices/providers/.schema.json
Due: collapse-models, build

revert changes
  prices/data.schema.json
  prices/providers/.schema.json
  uv.lock
Due: collapse-models, build

introduce lowest dependency test
  .github/workflows/ci.yml
  pyproject.toml
  tests/test_package_schema.py
Due: format-python, lint-python, typecheck-python

Added clauses for openrouter/gemini-2.5-pro
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Added clauses for openrouter google/gemini-2.5-pro
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add clauses for openrouter google/gemini-2.5-pro (#148)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Relax pydantic dependency requirement to 2.10 (#147)
  .github/workflows/ci.yml
  packages/python/pyproject.toml
  prices/pyproject.toml
  pyproject.toml
  tests/test_package_schema.py
  uv.lock
Due: format-python, lint-python, build, typecheck-python

Prep 0.0.28 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.28 release (#149)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

prices for claude sonnet 4.5
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

support more claude sonnet lookup names
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

prices for claude sonnet 4.5 (#150)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.29 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.29 release (#151)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Better handle missing optional fields when extracting usage
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Better handle missing optional fields when extracting usage (#153)
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Prep 0.0.30 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.30 release (#154)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Extract OpenAI input_audio_tokens
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

test
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

test
  tests/test_end_to_end.py
Due: format-python, lint-python, typecheck-python

Extract OpenAI `input_audio_tokens` (#155)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_end_to_end.py
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Correctly account for output audio tokens in calculation
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
