Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

fix: broken link to openrouter in readme (#227)
  README.md
  prices/README.md
Due: build

Remove incorrect context windows for OpenAI embedding models
  prices/providers/openai.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Correct OpenAI embedding models context windows
  prices/providers/openai.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

feat: add x-ai models to OpenRouter with tiered pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: adding latest x-ai models (#228)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Assert that we can calculate a price whenever we have a model in dataset test
  tests/dataset/extract_usages.py
Due: format-python, lint-python, typecheck-python

new usages
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
Due: format-python, lint-python, typecheck-python

move body_keys
  tests/dataset/extract_usages.py
Due: format-python, lint-python, typecheck-python

checks
  tests/dataset/extract_usages.py
Due: format-python, lint-python, typecheck-python

Add filenames to usages.json
  tests/dataset/extract_usages.py
  tests/dataset/get_raw_bodies.py
  tests/dataset/usages.json
Due: format-python, lint-python, typecheck-python

feat: adding new openai models. gpt-5, gpt-oss, gpt-o, and others
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

chore: run make package data to populate python/ts libraries
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

fix: collapse hook to match same pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update OpenAI models (#231)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

gemini-3-pro-image-preview
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/dataset/extract_usages.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add optional -fast suffix to huggingface models
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
  prices/src/prices/source_huggingface.py
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add openai chat extractor to google
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

account for cerebras qwen-3-coder-480b in test
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/providers/cerebras.yml
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Test dataset misc enhancements (#230)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/cerebras.yml
  prices/providers/google.yml
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
  prices/src/prices/source_huggingface.py
  tests/dataset/extract_usages.py
  tests/dataset/get_raw_bodies.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

AWS prices automation
  prices/src/prices/source_aws.py
  pyproject.toml
  uv.lock
Due: format-python, lint-python, build, typecheck-python

fixes
  prices/src/prices/prices_types.py
  prices/src/prices/source_aws.py
  prices/src/prices/update.py
Due: format-python, lint-python, build, typecheck-python

fixes
  prices/src/prices/build.py
  prices/src/prices/price_discrepancies.py
  prices/src/prices/source_aws.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_litellm.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/source_prices.py
  prices/src/prices/source_simonw_prices.py
Due: format-python, lint-python, build, typecheck-python

fixes
  prices/src/prices/source_aws.py
Due: format-python, lint-python, build, typecheck-python

fixes
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  prices/src/prices/source_aws.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

AWS prices automation (#233)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  prices/src/prices/build.py
  prices/src/prices/price_discrepancies.py
  prices/src/prices/prices_types.py
  prices/src/prices/source_aws.py
  prices/src/prices/source_huggingface.py
  prices/src/prices/source_litellm.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/source_prices.py
  prices/src/prices/source_simonw_prices.py
  prices/src/prices/update.py
  pyproject.toml
  uv.lock
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add extracted usage __add__ method for easy accumulation during streams
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

fix: object type checking
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

Update packages/python/genai_prices/types.py
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

fix: future proof add using dataclass fields, update tests, also added provider matching on extracted usage, moved add logic to Usage dataclass
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Apply suggestion from @monkeyusage
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

test missing fields on one side
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

added other tesgt
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

feat: added usage `__add__` methods for easy usage accumulation when streaming (#234)
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

Allow gpt-5-1 as well as gpt-5.1
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Allow gpt-5-1 as well as gpt-5.1 (#237)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
