Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Validate durations before applying billing minimums
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/api.ts
  packages/python/genai_prices/types.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Scale directional audio billing minimums
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/api.ts
  packages/python/genai_prices/types.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Avoid overflow when scaling audio billing minimums
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/api.ts
  packages/python/genai_prices/types.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Map reasoning tokens across OpenAI-compatible extractors and enforce coverage (#580)
  AGENTS.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/validation.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/cerebras.yml
  prices/providers/deepseek.yml
  prices/providers/doubleword.yml
  prices/providers/fireworks.yml
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_ovhcloud.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
  prices/providers/minimax.yml
  prices/providers/mistral.yml
  prices/providers/moonshotai.yml
  prices/providers/ovhcloud.yml
  prices/providers/zai.yml
  prices/providers/zhipuai.yml
  prices/src/prices/export_validation.py
  prices/src/prices/package_data.py
  tests/dataset/usages.json
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Stop new command-a variants matching the base command-a price
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cohere.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Isolate audio scaling from decimal context
  packages/python/genai_prices/types.py
  tests/test_price_regressions.py
Due: format-python, lint-python, build, typecheck-python

Reprice Deepseek V4 flash/pro for the 2026-08-17 peak/off-peak split
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/deepseek.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add the long-context price tier to 4 Grok models and 2 GPT-5.5 models
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  prices/providers/x_ai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Run prettier on the new JS test
  packages/js/src/__tests__/comprehensive.test.ts
Due: lint-fix, typecheck-ts

Add grok-4.6, which is missing entirely
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Set claude-opus-4-6 context_window to 1000000
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Date claude-sonnet-4-5's long-context tiers to the 1M beta window
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  tests/test_cli.py
  tests/test_price_regressions.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

xAI: add the documented >=200k long-context tiers, add grok-4.6
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Let the collapse hook merge grok-4.20-multi-agent into grok-4.20
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add grok-4.6, xAI's current flagship, with the same long-context tier
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Pin the remaining review gaps after merging main
  .github/workflows/ci.yml
  Makefile
  packages/js/src/engine.ts
  packages/js/vitest.config.ts
  packages/python/genai_prices/types.py
  prices/src/prices/price_discrepancies.py
  prices/src/prices/source_openrouter.py
  pyproject.toml
  tests/test_lifecycle.py
  tests/test_price_discrepancies.py
  tests/test_source_simonw.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Fix naive time-of-day windows and update the make test coverage docs
  AGENTS.md
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Revert "Add grok-4.6, xAI's current flagship, with the same long-context tier"
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Make the naive time-of-day offset case actually cross the window
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

Fix four broken pipeline paths and close the gaps that hid them (#536)
  .github/scripts/check_version_not_downgraded.py
  .github/workflows/ci.yml
  .gitignore
  AGENTS.md
  Makefile
  package-lock.json
  package.json
  packages/js/eslint.config.mjs
  packages/js/package.json
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/cli.ts
  packages/js/src/engine.ts
  packages/js/vitest.config.ts
  packages/python/genai_prices/types.py
  prices/src/prices/price_discrepancies.py
  prices/src/prices/source_openrouter.py
  prices/src/prices/source_simonw_prices.py
  pyproject.toml
  tests/dataset/extract_usages.py
  tests/fixtures/__init__.py
  tests/fixtures/huggingface_models.json
  tests/fixtures/litellm_models.json
  tests/fixtures/openrouter_models.json
  tests/fixtures/ovhcloud_models.json
  tests/fixtures/simonw_current_v1.json
  tests/test_dataset.py
  tests/test_lifecycle.py
  tests/test_package_schema.py
  tests/test_price_calc.py
  tests/test_price_discrepancies.py
  tests/test_source_huggingface.py
  tests/test_source_litellm.py
  tests/test_source_openrouter.py
  tests/test_source_ovhcloud.py
  tests/test_source_simonw.py
  uv.lock
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

xAI's 200k boundary is inclusive, so the tier starts at 199999
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

xAI's 200k boundary is inclusive, so the tier starts at 199999
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Repurpose model metadata as canonical context inheritance
  .gitattributes
  .github/workflows/update-model-metadata.yml
  Makefile
  README.md
  packages/js/src/data.ts
  packages/python/README.md
  packages/python/THIRD_PARTY_LICENSES/MODELS_DEV.txt
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/_model_metadata.json
  packages/python/genai_prices/data.py
  packages/python/genai_prices/model_metadata.py
  packages/python/pyproject.toml
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/.schema.json
  prices/providers/aws.yml
  prices/src/prices/__main__.py
  prices/src/prices/build.py
  prices/src/prices/prices_types.py
  prices/src/prices/source_models_dev.py
  tests/test_build_metadata.py
  tests/test_lifecycle.py
  tests/test_model_matching.py
  tests/test_model_metadata.py
  tests/test_source_models_dev.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Allow maximum-length canonical model references
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
  tests/test_build_metadata.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Link high-confidence hosted model identities
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  prices/providers/fireworks.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
  prices/src/prices/build.py
  tests/test_build_metadata.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Preserve Fireworks context window override
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/fireworks.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Ignore zero exponents in usage arithmetic
  packages/python/genai_prices/_usage.py
  tests/test_price_regressions.py
Due: format-python, lint-python, build, typecheck-python

Tolerate floating-point duration rounding
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/api.ts
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Reject invalid duration boundary cases
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

Apply Groq transcription billing minimums
  README.md
  packages/js/README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/python/README.md
  packages/python/genai_prices/_usage.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/groq.yml
  tests/test_price_regressions.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add OpenAI and Mistral transcription prices
  README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  prices/providers/openai.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Document directional duration price attribution
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Add transcription usage extractors
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/validation.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/src/prices/package_data.py
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_validation.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Preserve Groq duration attribution invariants
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/api.ts
  packages/python/genai_prices/types.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Keep qualified model IDs out of Mistral matching
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_price_regressions.py
  tests/test_provider_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Clarify reasoning coverage validation scope
  packages/python/genai_prices/validation.py
Due: format-python, lint-python, build, typecheck-python

Keep unknown flavor assertion stable
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Preserve Mistral alias auto-detection
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_price_regressions.py
  tests/test_provider_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update OpenAI GPT-5.5 and GPT-5.6 pricing
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update OpenAI GPT-5.5 and GPT-5.6 prices (#592)
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts
