Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, collapse-models, build, typecheck

format:
  name: format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - package-data
  language: system
  pass_filenames: false

typecheck:
  name: typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

README improvements (#31)
  .pre-commit-config.yaml
  Makefile
  README.md
  packages/python/LICENSE
  packages/python/README.md
  packages/python/pyproject.toml
  prices/README.md
  prices/src/prices/__main__.py
  prices/src/prices/price_discrepancies.py
Due: format, lint, build, typecheck

inject providers into README
  .pre-commit-config.yaml
  Makefile
  README.md
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/together.yml
  prices/src/prices/__main__.py
  prices/src/prices/build.py
  prices/src/prices/inject_providers.py
  prices/src/prices/package_data.py
  prices/src/prices/utils.py
Due: format, lint, collapse-models, build, typecheck

simplify script
  README.md
  prices/src/prices/build.py
  prices/src/prices/inject_providers.py
  prices/src/prices/package_data.py
  prices/src/prices/utils.py
Due: format, lint, build, typecheck

reduce diff
  prices/src/prices/package_data.py
Due: format, lint, build, typecheck

inject providers into README (#33)
  .pre-commit-config.yaml
  Makefile
  README.md
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/together.yml
  prices/src/prices/__main__.py
  prices/src/prices/build.py
  prices/src/prices/inject_providers.py
  prices/src/prices/package_data.py
  prices/src/prices/utils.py
Due: format, lint, collapse-models, build, typecheck

readme tweaks
  README.md
  packages/python/genai_prices/data.py
  prices/README.md
  prices/data.json
  prices/providers/azure.yml
  prices/providers/deepseek.yml
Due: format, lint, collapse-models, build, typecheck

readme tweaks (#34)
  README.md
  packages/python/genai_prices/data.py
  prices/README.md
  prices/data.json
  prices/providers/azure.yml
  prices/providers/deepseek.yml
Due: format, lint, collapse-models, build, typecheck

adding a python CLI
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/__main__.py
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  packages/python/pyproject.toml
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/types.py
Due: format, lint, collapse-models, build, typecheck

cleanup
  packages/python/genai_prices/types.py
Due: format, lint, build, typecheck

adding tests for cli
  CLAUDE.md
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/types.py
  tests/test_cli.py
Due: format, lint, build, typecheck

add docs and uprev
  README.md
  packages/python/README.md
  packages/python/pyproject.toml
  uv.lock
Due: none

Adding a python CLI (#35)
  CLAUDE.md
  README.md
  packages/python/README.md
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/__main__.py
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  packages/python/pyproject.toml
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/types.py
  tests/test_cli.py
  uv.lock
Due: format, lint, collapse-models, build, typecheck

add httpx deps to genai-prices and uprev
  packages/python/pyproject.toml
  uv.lock
Due: none

improve fireworks prices
  README.md
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/fireworks.yml
  uv.lock
Due: format, lint, collapse-models, build, typecheck

improve fireworks prices (#36)
  README.md
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/fireworks.yml
  uv.lock
Due: format, lint, collapse-models, build, typecheck

improvements to azure prices
  README.md
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/azure.yml
Due: format, lint, collapse-models, build, typecheck

improvements to azure prices (#39)
  README.md
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/azure.yml
Due: format, lint, collapse-models, build, typecheck

fix some google prices
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format, lint, collapse-models, build, typecheck

fix some google prices (#40)
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format, lint, collapse-models, build, typecheck

checking prices with zenrows and pydantic-ai
  .gitignore
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/fireworks.yml
  prices/pyproject.toml
  prices/src/prices/__main__.py
  prices/src/prices/inject_providers.py
  prices/src/prices/source_ai.py
  uv.lock
Due: format, lint, collapse-models, build, typecheck

dont fail if ZENROWS_API_KEY is unset
  prices/src/prices/source_ai.py
Due: format, lint, build, typecheck

tweak ai logic
  prices/src/prices/source_ai.py
Due: format, lint, build, typecheck

dont fail if anthropic key is unset
  prices/src/prices/source_ai.py
Due: format, lint, build, typecheck

prices_checked_ai
  prices/providers/.schema.json
  prices/src/prices/price_discrepancies.py
  prices/src/prices/types.py
  prices/src/prices/update.py
Due: format, lint, collapse-models, build, typecheck

format YAML and other files with prettier
  .pre-commit-config.yaml
  .prettierignore
  CLAUDE.md
  README.md
  package-lock.json
  package.json
  packages/python/README.md
  prices/README.md
  prices/src/prices/inject_providers.py
Due: format, lint, build, typecheck

fix typo
  prices/src/prices/inject_providers.py
Due: format, lint, build, typecheck

inserting dates working
  prices/src/prices/price_discrepancies.py
  prices/src/prices/update.py
Due: format, lint, build, typecheck

fix pre-commit in ci
  .github/workflows/ci.yml
Due: none

remove unneeded echo
  .github/workflows/ci.yml
Due: none

format YAML and other files with prettier (#41)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  .prettierignore
  CLAUDE.md
  README.md
  package-lock.json
  package.json
  packages/python/README.md
  prices/README.md
  prices/src/prices/inject_providers.py
Due: format, lint, build, typecheck

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  collapse-models: any of: prices/providers/
  build: (any of: prices/) or (any of: \.py$, \.json$)
  typecheck: any of: \.py$
