Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

fix: cover AWS regional Anthropic literal refs
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: map Groq cached prompt tokens
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/groq.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.67 release (#425)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.67 release (#425)
  package-lock.json
  packages/js/package.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/pyproject.toml
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  uv.lock
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

accidently deleted models, adding them back
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Update README model counts after rebase
  README.md
Due: none

Restore version bump and lockfiles regressed by stale 0.0.67 release commit
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

ci: guard against package-version downgrades
  .github/scripts/check_version_not_downgraded.py
  .github/workflows/ci.yml
  pyproject.toml
Due: format-python, lint-python, typecheck-python

Update AWS Anthropic's opus and sonnet 4.6 pricing that no longer use tiered pricing (#428)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

ci: declare packaging as an explicit dev dependency
  pyproject.toml
  uv.lock
Due: none

ci: guard against package-version downgrades (#450)
  .github/scripts/check_version_not_downgraded.py
  .github/workflows/ci.yml
  pyproject.toml
  uv.lock
Due: format-python, lint-python, typecheck-python

Add missing openai multimodal pricing and alias (#427)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Model MiniMax-M3 >512K length tier; re-cite native pricing source (#442)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/minimax.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Strip os.fork() handling into a follow-up PR
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Restart the shared updater in forked children (e.g. gunicorn preload)
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Add Cohere tokens usage flavor
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/cohere.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Emit a default api_flavor for generated HuggingFace providers
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_nebius.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_ovhcloud.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_sambanova.yml
  prices/providers/huggingface_together.yml
  prices/src/prices/source_huggingface.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add generic huggingface provider for auto-routed requests
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Match api.cohere.com in the Cohere api_pattern
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/cohere.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Use a non-capturing group in the Cohere api_pattern and document the cache_read assumption
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/cohere.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Document the generic huggingface provider and pin JS resolution precedence
  packages/js/src/__tests__/extractUsage.test.ts
  prices/providers/huggingface.yml
Due: lint-fix, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-ts

Apply prettier formatting to the JS resolution test
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Fix SDK source line anchor in the tokens flavor comment
  prices/providers/cohere.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Add Cohere `tokens` api_flavor for raw token extraction (#453)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/cohere.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Mirror PR #439 for Bedrock cache extraction
  prices/providers/aws.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Add Bedrock cache extraction regression tests
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Match Bedrock runtime URLs without a trailing slash
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add JS tests for Bedrock Converse cache extraction
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Add Python regression tests for Bedrock Converse cache token extraction (#454)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix(groq): map prompt_tokens_details.cached_tokens to cache_read_tokens
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/groq.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix(groq): map prompt_tokens_details.cached_tokens to cache_read_tokens (#426)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/groq.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.70 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.70 release (#456)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Regenerate extract_usage snapshots for registry modality sub-tokens
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

ci: run release jobs when check succeeds despite skipped version-guard
  .github/workflows/ci.yml
Due: none

Use an explicit status function so the implicit success() does not reapply
  .github/workflows/ci.yml
Due: none

ci: run release jobs when `check` succeeds despite skipped `version-guard` (#457)
  .github/workflows/ci.yml
Due: none

Fix whole-number price float-serialization regression under pydantic 2.13
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/src/prices/prices_types.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Reconcile impossible-usage tests with registry's ancestor-coverage design
  tests/test_price_regressions.py
Due: format-python, lint-python, typecheck-python
