Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

adding snapshotted ids, dated (#310)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

rebuilding data.json
  prices/data.json
  prices/data_slim.json
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

feat: moonshot ai prices file
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/moonshotai.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update anthropic sonnet/opus 4.6 to have no long context costs after 03-13-2026
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Run package-data and build-prices
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Update anthropic sonnet/opus 4.6 to reflect no long context costs (#314)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add pricing for 5.4 mini and nano
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix: models have 400k context window
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add pricing for GPT 5.4 mini and nano (#315)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add Anthropic TTL-specific cache write pricing (5m/1h)
  packages/js/README.md
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/python/README.md
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/azure.yml
  prices/providers/google.yml
  prices/src/prices/prices_types.py
  tests/test_custom_prices.py
  tests/test_end_to_end.py
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add GPT-5.4 mini and nano snapshot aliases
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add GPT-5.4 mini and nano snapshot aliases (#317)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  9ea4ae9268db20e9e23a72cca1c82abb82c03e07
Due: none

Adding api-flavor for xAI native SDK (#307)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  8f963da80e7d5093b7f8a88dbfda38bc49575f60
Due: none

feat: add Gemini 3.1 Flash Image Preview pricing (#303)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  a5a08ef5b4d78a9410b203763400c48bf82ac986
Due: none

feat: moonshot ai prices file (#313)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/moonshotai.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

build
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  b32bc45ccfb72ea5b9659431b3f1c3a4420ac95c
Due: none

Add openrouter qwen/qwen3.5-plus-02-15 price (#299)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  5108cca85ba34b38775b6bae40230e1243c78a90
Due: none

-v1:0
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  569a35534cb8243970807532fe72259f41414bad
Due: none

Add Qwen3 VL 235B A22B (#285)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/aws.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  eac854b229c1ea2531459dfef0541128e1676bc1
Due: none

feat: add Qwen3 Max Thinking to OpenRouter (#279)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  44c159a86e8936a3043b156bc0c08ff9d387262d
Due: none

Add OpenRouter pricing for claude-sonnet-4.6 (#296)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.56 release
  README.md
  package-lock.json
  packages/js/package.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/pyproject.toml
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_ovhcloud.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_together.yml
  prices/providers/ovhcloud.yml
  tests/dataset/usages.json
  uv.lock
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Notes added by 'git notes add'
  ebddfebff90fccc75dff2f2f5914bc7c7b98fa75
Due: none

Prep 0.0.56 release (#318)
  README.md
  package-lock.json
  packages/js/package.json
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/pyproject.toml
  prices/data.json
  prices/data_slim.json
  prices/providers/huggingface_cerebras.yml
  prices/providers/huggingface_fireworks-ai.yml
  prices/providers/huggingface_groq.yml
  prices/providers/huggingface_hyperbolic.yml
  prices/providers/huggingface_novita.yml
  prices/providers/huggingface_nscale.yml
  prices/providers/huggingface_ovhcloud.yml
  prices/providers/huggingface_publicai.yml
  prices/providers/huggingface_together.yml
  prices/providers/ovhcloud.yml
  tests/dataset/usages.json
  uv.lock
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add date-suffixed Claude 4.5 model aliases for OpenRouter
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Update generated package data files
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Add OpenRouter date-suffixed Claude 4.5 model aliases (#319)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add token unit registry spec, reference, and implementation plan
  specs/2026-03-23-token-unit-registry-plan.md
  specs/2026-03-23-unit-registry-reference.md
  specs/2026-03-23-unit-registry-spec.md
Due: none

Notes added by 'git notes add'
  a27f990a6fa206d4cd466d212170dad6ad3207c4
Due: none

Add token unit registry types and family definition
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Notes added by 'git notes add'
  8350c5871e5542ba274d67b8517c39e1dc39eed3
Due: none

Add containment helpers and leaf value decomposition via Mobius inversion
  packages/python/genai_prices/decompose.py
  tests/test_decompose.py
Due: format-python, lint-python, build, typecheck-python
