Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

fix: gemini-2.5-flash name matching
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

add claude bedrock prices
  prices/providers/aws.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

add the updated artifacts
  prices/data.json
  prices/data_slim.json
Due: build

usages
  tests/dataset/.gitignore
  tests/dataset/extract_usages.py
  tests/dataset/get_raw_bodies.py
  tests/dataset/utils.py
Due: format-python, lint-python, typecheck-python

usages
  tests/dataset/usages.json
Due: none

sort_keys
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
Due: format-python, lint-python, typecheck-python

types
  tests/dataset/extract_usages.py
Due: format-python, lint-python, typecheck-python

refactor
  tests/dataset/extract_usages.py
Due: format-python, lint-python, typecheck-python

add prices
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
Due: format-python, lint-python, typecheck-python

refactor
  .prettierignore
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
Due: format-python, lint-python, typecheck-python

manage without raw_bodies.json
  tests/dataset/README.md
  tests/dataset/extract_usages.py
Due: format-python, lint-python, typecheck-python

README
  tests/dataset/README.md
Due: none

error if usages.json changes
  tests/dataset/README.md
  tests/dataset/extract_usages.py
Due: format-python, lint-python, typecheck-python

makefile
  Makefile
  tests/dataset/extract_usages.py
Due: format-python, lint-python, typecheck-python

yaml.safe_load
  tests/dataset/get_raw_bodies.py
Due: format-python, lint-python, typecheck-python

Add usages test dataset (#176)
  .prettierignore
  Makefile
  tests/dataset/.gitignore
  tests/dataset/README.md
  tests/dataset/extract_usages.py
  tests/dataset/get_raw_bodies.py
  tests/dataset/usages.json
  tests/dataset/utils.py
Due: format-python, lint-python, typecheck-python

wip
  packages/js/src/__tests__/dataset.test.ts
Due: lint-fix, typecheck-ts

feat(google): add nano banana (gemini-2.5-flash-image)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update test dataset with price calculations
  tests/dataset/usages.json
Due: none

fix errors when not required
  packages/js/src/extractUsage.ts
Due: lint-fix, typecheck-ts

Fix JS extraction errors for optional fields, test against dataset (#178)
  packages/js/src/__tests__/dataset.test.ts
  packages/js/src/extractUsage.ts
Due: lint-fix, typecheck-ts

test price calculation against dataset in js
  packages/js/src/__tests__/dataset.test.ts
Due: lint-fix, typecheck-ts

fix pricing calculation
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Fix JS pricing calculation (#179)
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/dataset.test.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Prep 0.0.36 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.36 release (#180)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

feat(openrouter): add deepseek models that were missing (#172)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Remove cached prices
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat(google): add nano banana (gemini-2.5-flash-image) (#177)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add z-ai/glm-4.5 and z-ai/glm-4.6 models from openrouter
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

chore: ignore .idea directory
  .gitignore
Due: none

Allow running price_discrepancies.py directly from PyCharm
  prices/src/prices/price_discrepancies.py
Due: format-python, lint-python, build, typecheck-python

Remove 'packages/python' workspace from package.json to allow running deno
  package.json
Due: none
