Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

fix: reject malformed extract paths
  packages/go/provider_data.go
Due: none

test: cover constraint projection variants
  packages/go/provider_data_internal_test.go
Due: none

test: cover literal oneof overlap
  tests/test_v3_compatibility.py
Due: format-python, lint-python, typecheck-python

fix: align v3 unit key schema
  prices/new_data/v3/data.schema.json
  prices/src/prices/build.py
  prices/src/prices/export_validation.py
  tests/test_pipeline_build.py
Due: format-python, lint-python, build, typecheck-python

fix: parse go package declaration scope
  prices/src/prices/go_identifiers.py
  tests/test_go_identifiers.py
Due: format-python, lint-python, build, typecheck-python

docs: explain dataset usage consistency checks
  tests/dataset/extract_usages.py
Due: format-python, lint-python, typecheck-python

fix: preserve invalid go price shapes
  packages/go/provider_data.go
  packages/go/provider_data_internal_test.go
Due: none

fix: cache extractor destination warnings
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format-python, lint-python, build, typecheck-python

test: join sequenced update worker
  tests/test_lifecycle.py
Due: format-python, lint-python, typecheck-python

docs: clarify conditional pricing schema
  packages/python/genai_prices/types.py
  prices/new_data/v3/data.schema.json
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

test: document projected price reindexing
  packages/js/src/__tests__/forwardCompatibilityParity.test.ts
Due: lint-fix, typecheck-ts

fix: project non-string go constraints
  packages/go/provider_data.go
  packages/go/provider_data_internal_test.go
Due: none

fix: bound go unit decoding
  packages/go/units.go
  packages/go/units_internal_test.go
Due: none

fix: validate newly named properties
  prices/src/prices/v3_compatibility.py
  tests/test_v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python

fix: preserve complete oneof exclusivity
  prices/src/prices/v3_compatibility.py
  tests/test_v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python

test: align public key error expectation
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Match Pydantic AI provider ID aliases
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  prices/providers/groq.yml
  tests/test_provider_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

test: validate extracted usage consistency (#670)
  tests/dataset/extract_usages.py
  tests/test_dataset.py
Due: format-python, lint-python, typecheck-python

docs: defer updater lifecycle semantics
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

refactor: leave updater lifecycle unchanged
  packages/python/genai_prices/update_prices.py
  tests/test_lifecycle.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

feat: split AWS GPT-5.6 prices into global and regional
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

docs: clarify updater integration boundary
  specs/data-driven-unit-registry/phase-2-auto-updating-units/spec.md
Due: none

test: avoid asserting updater stop semantics
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

docs: clarify conditional pricing semantics
  packages/python/genai_prices/types.py
Due: format-python, lint-python, build, typecheck-python

ci: validate frozen v2 schemas in merge queue
  .github/workflows/ci.yml
Due: none

fix(js): ignore inherited dimension properties
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

fix(js): canonicalize dimension ordering
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

refactor: extract Go usage key naming
  prices/src/prices/go_identifiers.py
  prices/src/prices/package_data.py
  tests/test_go_identifiers.py
Due: format-python, lint-python, build, typecheck-python

fix: validate generated Go unit identifiers
  prices/src/prices/export_validation.py
  prices/src/prices/go_identifiers.py
  tests/test_go_identifiers.py
Due: format-python, lint-python, build, typecheck-python

fix: validate Go identifiers during packaging
  prices/src/prices/package_data.py
  tests/test_go_identifiers.py
Due: format-python, lint-python, build, typecheck-python

fix: ignore grouped function parameters in Go parser
  prices/src/prices/go_identifiers.py
  tests/test_go_identifiers.py
Due: format-python, lint-python, build, typecheck-python

Clarify shared updater lifecycle docs
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

fix: validate Go identifiers before generation
  prices/src/prices/package_data.py
  tests/test_go_identifiers.py
Due: format-python, lint-python, build, typecheck-python

fix: parse Go declarations with native syntax
  prices/src/prices/go_identifiers.py
  prices/src/prices/go_identifiers_ast.go
  tests/test_go_identifiers.py
Due: format-python, lint-python, build, typecheck-python

refactor: drop defensive runtime unit checks
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
  prices/src/prices/export_validation.py
  prices/src/prices/go_identifiers.py
  prices/src/prices/go_identifiers_ast.go
  prices/src/prices/package_data.py
  tests/test_go_identifiers.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

fix: reject unsafe unit keys at build time
  prices/src/prices/export_validation.py
  tests/test_pipeline_build.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

fix: reject non-string dimension keys
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Extract independent build safeguards from Phase 2 (#677)
  .github/workflows/ci.yml
  packages/python/genai_prices/types.py
  prices/src/prices/export_validation.py
  tests/test_pipeline_build.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

docs: reuse existing slim v2 projection test
  specs/data-driven-unit-registry/phase-2-auto-updating-units/code-spec.md
Due: none

test: remove duplicate slim v2 projection coverage
  tests/test_frozen_v2_data.py
Due: format-python, lint-python, typecheck-python

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
