Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

fix(python): skip typed future constraints
  packages/python/genai_prices/provider_data.py
  tests/test_provider_data.py
Due: format-python, lint-python, build, typecheck-python

Pass explicit UserWarning category on config-mismatch warning
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Tidy naming, tests and docs after review
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/cassettes/test_update_prices/fail.yaml
  tests/test_update_prices.py
Due: format-python, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python

Keep fetched prices after stop()
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_custom_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Replace the worker object with a reference count
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/conftest.py
  tests/test_custom_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Group the shared updater state in one holder
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

fix: ignore local Go declarations
  prices/src/prices/go_identifiers.py
  tests/test_go_identifiers.py
Due: format-python, lint-python, build, typecheck-python

fix(js): drop empty projected price models
  packages/js/src/__tests__/providerData.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

fix: parse commented Go declaration blocks
  prices/src/prices/go_identifiers.py
  tests/test_go_identifiers.py
Due: format-python, lint-python, build, typecheck-python

fix: parse commented Go package clauses
  prices/src/prices/go_identifiers.py
  tests/test_go_identifiers.py
Due: format-python, lint-python, build, typecheck-python

fix: drop models without usable prices
  packages/js/src/__tests__/providerData.test.ts
  packages/js/src/providerData.ts
  packages/python/genai_prices/provider_data.py
  tests/test_provider_data.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

fix(python): index unit evolution by family
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

fix: parse Go declaration identifier lists
  prices/src/prices/go_identifiers.py
  tests/test_go_identifiers.py
Due: format-python, lint-python, build, typecheck-python

Make start() on an already started instance a no-op
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Make the shared updater a dataclass named _SharedUpdater
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Say that a repeated start(wait=True) still waits
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

fix: compare new schema properties
  prices/src/prices/v3_compatibility.py
  tests/test_v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python

fix: compare schema defaults exactly
  prices/src/prices/v3_compatibility.py
  tests/test_v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python

fix: compare schema enums by JSON type
  prices/src/prices/v3_compatibility.py
  tests/test_v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python

fix(go): preserve legacy metadata tolerance
  packages/go/provider_data.go
  packages/go/provider_data_internal_test.go
Due: none

fix(js): bucket unit validation by family
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

fix(python): bucket unit validation by family
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

fix(js): drop empty projected extractors
  packages/js/src/__tests__/providerData.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

fix(python): reject ambiguous matches
  packages/python/genai_prices/provider_data.py
  tests/test_provider_data.py
Due: format-python, lint-python, build, typecheck-python

fix: bound remote unit registries
  packages/go/units.go
  packages/go/units_internal_test.go
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

fix(python): skip typed future mappings
  packages/python/genai_prices/provider_data.py
  tests/test_provider_data.py
Due: format-python, lint-python, build, typecheck-python

fix: preserve schema bound precision
  prices/src/prices/v3_compatibility.py
  tests/test_v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python

fix(go): drop empty projected extractors
  packages/go/provider_data.go
  packages/go/provider_data_internal_test.go
Due: none

fix(python): drop empty projected extractors
  packages/python/genai_prices/provider_data.py
  tests/test_provider_data.py
Due: format-python, lint-python, build, typecheck-python

fix: handle implicit required schemas
  prices/src/prices/v3_compatibility.py
  tests/test_v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python

Explain why waiters re-raise with the original traceback
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

fix: canonicalize dimension ordering
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

fix: preserve prototype-named dimensions
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

fix: project typed future prices
  packages/python/genai_prices/provider_data.py
  tests/test_provider_data.py
Due: format-python, lint-python, build, typecheck-python

fix: handle non-string constraint types
  packages/python/genai_prices/provider_data.py
  tests/test_provider_data.py
Due: format-python, lint-python, build, typecheck-python

fix: drop empty conditional price variants
  packages/python/genai_prices/provider_data.py
  tests/test_provider_data.py
Due: format-python, lint-python, build, typecheck-python

fix: drop empty conditional price variants in javascript
  packages/js/src/__tests__/providerData.test.ts
  packages/js/src/providerData.ts
Due: lint-fix, typecheck-ts

fix: restore units for legacy snapshots
  packages/python/genai_prices/data_snapshot.py
  tests/test_lifecycle.py
Due: format-python, lint-python, build, typecheck-python

fix: enforce published unit order
  prices/src/prices/v3_compatibility.py
  tests/test_v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python

fix: preserve oneof exclusivity
  prices/src/prices/v3_compatibility.py
  tests/test_v3_compatibility.py
Due: format-python, lint-python, build, typecheck-python

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
