Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Simplify shared updater lifecycle tests
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Polish Claude context window corrections
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/providers/anthropic.yml
  tests/test_cli.py
  tests/test_model_matching.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Keep Sonnet historical tier data unchanged
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  tests/test_cli.py
  tests/test_price_regressions.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Harden updater lifecycle interruption handling
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Extract Azure Realtime cached audio usage
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Restore 100% Python coverage
  .github/workflows/ci.yml
  AGENTS.md
  Makefile
  prices/src/prices/price_discrepancies.py
  prices/src/prices/prices_types.py
  prices/src/prices/source_aws.py
  pyproject.toml
  tests/test_dataset.py
  tests/test_pipeline_build.py
  tests/test_pipeline_commands.py
  tests/test_pipeline_maintenance.py
  tests/test_pipeline_types.py
  tests/test_price_discrepancies.py
  tests/test_source_aws.py
  tests/test_source_huggingface.py
  tests/test_source_openrouter.py
  tests/test_source_ovhcloud.py
Due: format-python, lint-python, build, typecheck-python

Serialize updater ownership changes
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Cache provider resolution in data snapshots
  packages/python/genai_prices/data_snapshot.py
  tests/test_model_matching.py
Due: format-python, lint-python, build, typecheck-python

Preserve the data snapshot constructor
  packages/python/genai_prices/data_snapshot.py
Due: format-python, lint-python, build, typecheck-python

Strengthen coverage regression assertions
  prices/src/prices/price_discrepancies.py
  tests/test_dataset.py
  tests/test_price_discrepancies.py
Due: format-python, lint-python, build, typecheck-python

Cover Realtime image cache extraction
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Roll back interrupted updater claims
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Bound discrepancy check exit status
  prices/src/prices/price_discrepancies.py
  tests/test_price_discrepancies.py
Due: format-python, lint-python, build, typecheck-python

Add realtime voice and transcription prices
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/js/src/extractUsage.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/openai.yml
  prices/providers/x_ai.yml
  prices/src/prices/prices_types.py
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
  tests/test_extract_usage.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Extract Azure Realtime cached audio usage (#597)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Simplify cached provider resolution
  packages/python/genai_prices/data_snapshot.py
Due: format-python, lint-python, build, typecheck-python

Keep v2 schema descriptions unchanged
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Extract token-billed transcription usage
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Extract nested xAI realtime usage
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Preserve Grok Voice generations and STT rates
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Separate xAI streaming transcription usage
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/x_ai.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Separate cached provider hits from misses
  packages/python/genai_prices/data_snapshot.py
Due: format-python, lint-python, build, typecheck-python

Separate transcription pricing from Realtime voice
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/js/src/extractUsage.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  prices/providers/x_ai.yml
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add duration-based transcription pricing
  README.md
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/js/src/extractUsage.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  prices/providers/x_ai.yml
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Separate discrepancy counts from CLI status
  prices/src/prices/__main__.py
  prices/src/prices/price_discrepancies.py
  tests/test_pipeline_commands.py
  tests/test_price_discrepancies.py
Due: format-python, lint-python, build, typecheck-python

Remove redundant context value tests
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/providers/anthropic.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Defer OpenAI transcription extraction
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Extract Realtime transcription duration
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Correct context windows for `claude-opus-4-6` and `claude-sonnet-4-5` (#585)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add cache_write_tokens mapping to Azure's responses/chat extractors
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/azure.yml
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add a regression test for azure cache_write_tokens extraction
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Stop new command-a variants matching the base command-a price
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/providers/cohere.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

chore(data): regenerate v2 price data for the command-a fix
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
Due: build

Simplify the shared updater to one lock and a ref count
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Define context_window and canonical_model in plain language
  prices/new_data/v2/data.schema.json
  prices/new_data/v2/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/azure.yml
  prices/providers/fireworks.yml
  prices/providers/google.yml
  prices/src/prices/build.py
  prices/src/prices/prices_types.py
Due: format-python, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python

Ignore description strings in the v2 schema freeze guard
  .github/workflows/ci.yml
Due: none

Document aggregate cached input usage
  packages/js/README.md
  packages/python/README.md
Due: none

Include Gemini 2.5 Flash context window
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Restrict Command A pricing to known models
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cohere.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Include Gemini 2.5 Flash context window (#603)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/google.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
