Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Price Google image output by explicit modality
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/providers/google.yml
  tests/dataset/usages.json
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Keep priced reasoning modality unclassified
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Keep Google thought modality unclassified
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/providers/google.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_google_extractors.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Clarify single-modality catch-all pricing
  specs/data-driven-unit-registry/spec.md
Due: none

Improve multimodal prices for major providers
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
  prices/providers/openai.yml
  tests/test_extract_usage.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Fix price-check runs: restore max-ai-credits:-1 to disable the guardrail (#485)
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Disable threat-detection: unusable with the BYOK minimax model
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Add upper bound to uv_build requirement
  packages/python/pyproject.toml
Due: none

update README
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Disable threat-detection (unusable with BYOK minimax) (#490)
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Add Gemini 3.6 Flash and Gemini 3.5 Flash-Lite pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Normalize Perplexity reasoning usage
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/providers/perplexity.yml
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add upper bound to uv_build requirement (#492)
  packages/python/pyproject.toml
Due: none

add date-visioned match for gemini 3.5 flash, update the model description for gemini 3.6 flash
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Define mutually exclusive token categories
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Use token type for existing categories
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data_units.py
  prices/units.yml
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Gemini 3.6 Flash and Gemini 3.5 Flash-Lite pricing (#493)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add tool and citation token units
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data_units.py
  prices/data_v2.schema.json
  prices/providers/.schema.json
  prices/units.yml
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add model-adding skill + PR-hygiene rule (AGENTS.md) (#460)
  .claude/skills/add-price-model/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

Allow dimension-derived CLI labels to change
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

Accept dimension-derived cache labels
  tests/test_cli.py
Due: format-python, lint-python, typecheck-python

Report Google tool-use input tokens
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/providers/google.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_google_extractors.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Price Perplexity citation tokens
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/providers/perplexity.yml
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Update accumulated tool usage snapshot
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Specify reportable web search pricing
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Add web search tool-call unit
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data_units.py
  prices/data_v2.schema.json
  prices/providers/.schema.json
  prices/units.yml
  tests/test_price_regressions.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Price Anthropic and Perplexity web searches
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/providers/anthropic.yml
  prices/providers/perplexity.yml
  tests/test_end_to_end.py
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Verify directionless prices in usage dataset
  packages/js/src/__tests__/dataset.test.ts
  tests/dataset/extract_usages.py
  tests/dataset/usages.json
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Remove obsolete cache label branch
  packages/python/genai_prices/_cli.py
  tests/test_cli.py
Due: format-python, lint-python, build, typecheck-python

Use snapshots for web search pricing test
  tests/test_end_to_end.py
Due: format-python, lint-python, typecheck-python

Record Perplexity search price verification
  prices/providers/perplexity.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Check absent dataset total prices
  packages/js/src/__tests__/dataset.test.ts
Due: lint-fix, typecheck-ts

spec cache write TTL dimensions
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

support conditional unit dimensions
  packages/js/src/__tests__/units.test.ts
  packages/js/src/types.ts
  packages/js/src/units.ts
  packages/python/genai_prices/units.py
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

add cache write TTL units
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data_units.py
  prices/data_v2.schema.json
  prices/providers/.schema.json
  prices/units.yml
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

spec general unit decomposition
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
Due: none

decompose conditional unit dimensions
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/decompose.ts
  packages/python/genai_prices/decompose.py
  tests/test_decompose.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

price Anthropic cache writes by TTL
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/providers/anthropic.yml
  tests/dataset/usages.json
  tests/test_cli.py
  tests/test_end_to_end.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

tighten split price label assertion
  tests/test_cli.py
Due: format-python, lint-python, typecheck-python

Correct OpenAI + Mistral prices flagged by the price-check workflow
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/mistral.yml
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts
