Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Add Databricks Foundation Model APIs pricing for open-weight models (#740)
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  README.md
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/databricks.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Price Bedrock Converse cache writes by TTL from cacheDetails
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add decision-model prices for Cloudflare, Together, Perplexity, and OpenRouter
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cloudflare.yml
  prices/providers/openrouter.yml
  prices/providers/perplexity.yml
  prices/providers/together.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add a Go test for Converse cache write TTLs and list 1h first
  packages/go/api_test.go
  packages/js/src/__tests__/extractUsage.test.ts
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Use distinct TTL counts in the Converse cache write tests
  packages/go/api_test.go
  packages/js/src/__tests__/extractUsage.test.ts
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Add decision-model prices for Cloudflare, Together, Perplexity, and OpenRouter (#754)
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/cloudflare.yml
  prices/providers/openrouter.yml
  prices/providers/perplexity.yml
  prices/providers/together.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Haiku 5.5 pricing
  README.md
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/google.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Haiku 5.5 pricing
  README.md
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Pin the Haiku 5.5 tier boundary at 100,001 input tokens
  packages/go/api_test.go
  packages/js/src/__tests__/matcher.test.ts
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Check the Haiku 5.5 output tier at the 100K boundary too
  packages/go/api_test.go
  packages/js/src/__tests__/matcher.test.ts
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Include one-hour cache-write rates for OpenRouter Haiku 5.5
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openrouter.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude Haiku 5.5 pricing (#757)
  README.md
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add AWS Bedrock `gpt-6.1-sol` pricing (#743)
  README.md
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/aws.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Create daily price-update PRs and notify Slack
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
  .github/workflows/price-update-slack.yml
  .github/workflows/shared/price-update.md
  tests/test_price_update_workflows.py
Due: format-python, lint-python, typecheck-python

Fix the Claude Sonnet 5.5 cache-read price
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/github_copilot.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
  tests/test_price_calc.py
  tests/test_price_regressions.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Run the triage pilot on the upstream pydantic-ai engine with GLM 5.3 Flash
  .github/aw/actions-lock.json
  .github/aw/imports/.gitattributes
  .github/aw/imports/pydantic/pydantic-ai/5855737715205bafee933f842b413f7cb483ffa1/src_pydantic_ai_harness_gh-aw_pydantic.md
  .github/scripts/test-triage-pilot-pydantic-harness.cjs
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/ci.yml
  .github/workflows/genai-prices-triage-pilot.lock.yml
  .github/workflows/genai-prices-triage-pilot.md
  .github/workflows/shared/pydantic.md
Due: none

Resolve effective prices and notify every created PR
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
  .github/workflows/shared/price-update.md
  tests/test_price_update_workflows.py
Due: format-python, lint-python, typecheck-python

Preserve conditional pricing and constrain workflow permissions
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
  .github/workflows/shared/price-update.md
  tests/test_price_update_workflows.py
Due: format-python, lint-python, typecheck-python

Name Sonnet 5.5 in the Opus 5.5 cache-hit comments
  packages/go/internal/data/prices.json
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/providers/aws.yml
  prices/providers/google.yml
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Complete provider checks and validation before proposing updates
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/price-update-slack.yml
  .github/workflows/shared/price-update.md
  tests/test_price_update_workflows.py
Due: format-python, lint-python, typecheck-python

Exclude compiled workflows from Macroscope review
  .macroscope/ignore.md
Due: none

docs: name the price-check workflows in compile commands
  .github/workflows/AGENTIC_PRICE_CHECK.md
Due: none

Create daily price-update PRs and notify Slack (#758)
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
  .github/workflows/price-update-slack.yml
  .github/workflows/shared/price-update.md
  .macroscope/ignore.md
  tests/test_price_update_workflows.py
Due: format-python, lint-python, typecheck-python

Run the triage pilot on the upstream `pydantic-ai` engine with GLM 5.3 Flash (#760)
  .github/aw/actions-lock.json
  .github/aw/imports/.gitattributes
  .github/aw/imports/pydantic/pydantic-ai/5855737715205bafee933f842b413f7cb483ffa1/src_pydantic_ai_harness_gh-aw_pydantic.md
  .github/scripts/test-triage-pilot-pydantic-harness.cjs
  .github/workflows/ci.yml
  .github/workflows/genai-prices-triage-pilot.lock.yml
  .github/workflows/genai-prices-triage-pilot.md
  .github/workflows/shared/pydantic.md
Due: none

Run the triage pilot only on issue events
  .github/aw/imports/pydantic/pydantic-ai/36529f3a8ebc5a5675129fe6262223b9da0815ec/src_pydantic_ai_harness_gh-aw_pydantic.md
  .github/workflows/genai-prices-triage-pilot.lock.yml
  .github/workflows/genai-prices-triage-pilot.md
Due: none

Run the triage pilot only on issue events (#763)
  .github/aw/imports/pydantic/pydantic-ai/36529f3a8ebc5a5675129fe6262223b9da0815ec/src_pydantic_ai_harness_gh-aw_pydantic.md
  .github/workflows/genai-prices-triage-pilot.lock.yml
  .github/workflows/genai-prices-triage-pilot.md
Due: none

Preserve provider rates until effective dates are verified
  packages/go/deferred_price_updates_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/deferredPriceUpdates.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/avian.yml
  prices/providers/baseten.yml
  prices/providers/github_copilot.yml
  tests/test_deferred_price_updates.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Require evidence before changing provider prices
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
Due: none

Include the evidence check in the agent step sequence
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
Due: none

Require evidence before changing provider prices (#766)
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-direct-providers.md
Due: none

Consolidate daily provider price checks
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
  .github/workflows/agentic-price-check.lock.yml
  .github/workflows/agentic-price-check.md
  tests/test_price_update_workflows.py
Due: format-python, lint-python, typecheck-python

Clarify the number of covered providers
  .github/workflows/agentic-price-check.lock.yml
  .github/workflows/agentic-price-check.md
Due: none

Consolidate daily provider price checks (#767)
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-direct-providers.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
  .github/workflows/agentic-price-check.lock.yml
  .github/workflows/agentic-price-check.md
  tests/test_price_update_workflows.py
Due: format-python, lint-python, typecheck-python

Add OpenAI Decisions pricing
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check.lock.yml
  .github/workflows/agentic-price-check.md
  .pre-commit-config.yaml
  README.md
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai_decisions.yml
  tests/dataset/usages.json
  tests/test_price_calc.py
  tests/test_price_update_workflows.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Test model-only OpenAI pricing fallback
  packages/js/src/__tests__/matcher.test.ts
Due: lint-fix, typecheck-ts

Add OpenAI Decisions pricing (#768)
  .github/agentic-price-check-providers.yml
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check.lock.yml
  .github/workflows/agentic-price-check.md
  .pre-commit-config.yaml
  README.md
  packages/go/api_test.go
  packages/go/internal/data/prices.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/openai_decisions.yml
  tests/dataset/usages.json
  tests/test_price_calc.py
  tests/test_price_update_workflows.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
