Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Phase 3 spec: wrapper-aware setProviderData, no public setUnitFamilies
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
Due: none

Document green wrapper migration order
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
Due: none

Document extras-only slim price handling
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
Due: none

Document runtime dynamic price parsing
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
Due: none

Specify unit registry reset on updater stop
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
Due: none

Fix npm release publishing
  .github/workflows/ci.yml
Due: none

Fix npm release publishing (#363)
  .github/workflows/ci.yml
Due: none

Clarify dynamic price key validation flow
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
Due: none

Clarify phase 3 validation boundary
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
Due: none

Add active unit registry accessor
  packages/python/genai_prices/units.py
  tests/test_lifecycle.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Move unit publication validation to export path
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
  packages/python/genai_prices/units.py
  prices/src/prices/export_validation.py
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Expand built-in unit registry lattice
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data_units.py
  prices/units.yml
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-fix, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Allow typed build price extras
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/package_data.py
  prices/src/prices/prices_types.py
  tests/test_units.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Allow arbitrary build extractor destinations
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
  tests/test_units.py
Due: format-python, lint-python, collapse-models, build, typecheck-python

Add export payload validator helper
  prices/src/prices/export_validation.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Use export payload validator in build
  prices/src/prices/build.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Accept wrapped payloads for Python package data
  prices/src/prices/package_data.py
  tests/test_package_schema.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Accept wrapped payloads for TypeScript package data
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Wrap generated price payloads with unit families
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/src/prices/build.py
  tests/test_lifecycle.py
  tests/test_package_schema.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Remove package data units.yml fallback
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Store dynamic runtime model price keys
  packages/python/genai_prices/types.py
  prices/src/prices/package_data.py
  tests/test_custom_prices.py
Due: format-python, lint-python, build, typecheck-python

Include runtime price extras in key collection
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Render runtime model price extras
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Include runtime price extras in free checks
  packages/python/genai_prices/types.py
  tests/test_price_calc.py
Due: format-python, lint-python, build, typecheck-python

Cover dynamic price validation on use
  tests/test_price_calc.py
Due: format-python, lint-python, typecheck-python

Install unit registry from Python updates
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Rename active registry setter in TypeScript
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Accept wrapped provider data in TypeScript
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/api.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

Add Phase 3 wrapped payload integration tests
  packages/js/src/__tests__/phase3-integration.test.ts
  tests/test_phase_3_integration.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Validate runtime model price extras in package data
  prices/src/prices/package_data.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Fix Phase 3 CI regressions
  packages/js/src/__tests__/validation.test.ts
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Fix ModelPrice schema and Python 3.9 compatibility
  packages/python/genai_prices/types.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Validate JavaScript price key iterables once
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

Clarify unit validation ownership
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
Due: none

Align public unit keys with JavaScript identifiers
  prices/src/prices/export_validation.py
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Restore registry after update thread stops
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Handle request pricing before unit lookup
  packages/js/src/__tests__/usage.test.ts
  packages/js/src/usage.ts
Due: lint-fix, typecheck-ts

Rename wrapped payload integration tests
  packages/js/src/__tests__/wrappedPayloadIntegration.test.ts
  tests/test_wrapped_payload_integration.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Remove JavaScript unit publication validation
  packages/js/src/__tests__/units.test.ts
  packages/js/src/units.ts
Due: lint-fix, typecheck-ts

Assert unit publication validation boundary
  tests/test_units.py
Due: format-python, lint-python, typecheck-python
