Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

multi tier pricing tests
  packages/js/src/__tests__/tieredPricing.test.ts
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, typecheck-python, typecheck-ts

Add future annotations import
  tests/test_tiered_pricing.py
Due: format-python, lint-python, typecheck-python

Fix #241 Tiered pricing calculation (#242)
  package-lock.json
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/tieredPricing.test.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/python/genai_prices/types.py
  prices/data.schema.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/src/prices/prices_types.py
  tests/test_price_calc.py
  tests/test_tiered_pricing.py
Due: format-python, lint-fix, lint-python, collapse-models, build, typecheck-python, typecheck-ts

Prep 0.0.50 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.50 release (#258)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

improve custom provider documentation
  packages/js/README.md
Due: none

Update js sdk docs with custom provider instructions (#257)
  packages/js/README.md
Due: none

Add haiku, opus and sonnet 4.5
  prices/providers/openrouter.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Add Claude 4.5 models to OpenRouter pricing
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Added pricing
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Add Claude 4.5 models to OpenRouter pricing (#261)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

enforce unique model matching
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  prices/providers/mistral.yml
  prices/src/prices/build.py
  prices/src/prices/prices_types.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

check match logic
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
  prices/src/prices/prices_types.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Enforce unique model matching (#262)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/google.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/src/prices/build.py
  prices/src/prices/prices_types.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

add support for fallback_model_providers on providers
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/azure.yml
  prices/providers/google.yml
  prices/src/prices/prices_types.py
  tests/dataset/usages.json
  tests/test_cli.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

fix js library
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
Due: lint-fix, typecheck-ts

allow only one step of fallback
  packages/js/src/engine.ts
  packages/python/genai_prices/types.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

fix some js tests
  packages/js/src/__tests__/matcher.test.ts
Due: lint-fix, typecheck-ts

fix tests
  packages/python/genai_prices/types.py
  tests/dataset/usages.json
  tests/test_model_matching.py
Due: format-python, lint-python, build, typecheck-python

Fallback model providers (#255)
  README.md
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/data_snapshot.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/azure.yml
  prices/providers/google.yml
  prices/src/prices/prices_types.py
  tests/dataset/usages.json
  tests/test_cli.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prep 0.0.51 release
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

Prep 0.0.51 release (#264)
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: none

lint
  .github/copilot/actions-setup-steps.yml
  tests/test_model_matching.py
Due: format-python, lint-python, typecheck-python

Add Python tests for model fallback matching (#263)
  .github/copilot/actions-setup-steps.yml
  tests/test_model_matching.py
Due: format-python, lint-python, typecheck-python

feat: add gpt-5.2-codex
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: add gpt-5.2-codex (#267)
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Adding grok-4-fast in addition to grok-4-1-fast
  prices/providers/x_ai.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Sort models
  prices/providers/x_ai.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Fix pre-commit
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

feat: Adding grok-4-fast in addition to grok-4-1-fast (#268)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/x_ai.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Specially handle litellm provider so that price calculation is possible
  packages/python/genai_prices/data_snapshot.py
  tests/test_model_matching.py
Due: format-python, lint-python, build, typecheck-python

Reverted removal of test cases
  tests/test_model_matching.py
Due: format-python, lint-python, typecheck-python

Added a check for actual_provider_id
  packages/python/genai_prices/data_snapshot.py
Due: format-python, lint-python, build, typecheck-python

Change provider id only if the extracted one actually exists
  packages/python/genai_prices/data_snapshot.py
Due: format-python, lint-python, build, typecheck-python

Replicated logic in the JS API
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
Due: lint-fix, typecheck-ts

Made split logic consistent with Python implementation
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/api.ts
Due: lint-fix, typecheck-ts

Reverted useless test
  packages/js/src/__tests__/comprehensive.test.ts
Due: lint-fix, typecheck-ts

fix: look up Anthropic provider by ID instead of index
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

feat: add Kimi K2.5 and Qwen 3 Max Thinking to OpenRouter
  README.md
  package-lock.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Specially handle litellm provider so that price calculation is possible (#271)
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/api.ts
  packages/js/src/engine.ts
  packages/python/genai_prices/data_snapshot.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, build, typecheck-python, typecheck-ts

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
