Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Pin legacy price artifacts in tests
  tests/test_lifecycle.py
Due: format-python, lint-python, typecheck-python

Validate exports before writing schemas
  prices/src/prices/build.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Align transcription example with price convention
  specs/data-driven-unit-registry/examples.md
Due: none

Validate direct JavaScript extractor destinations
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/extractUsage.ts
Due: lint-fix, typecheck-ts

Exclude invariant failure reporting from coverage
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Remove obsolete model price unit collector
  packages/python/genai_prices/types.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Remove obsolete effective price key collector
  packages/python/genai_prices/types.py
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-python, build, typecheck-python

Cover unregistered price string display
  tests/test_units.py
Due: format-python, lint-python, typecheck-python

Drop exact v1 artifact pinning requirement
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

Remove exact v1 artifact hash test
  tests/test_lifecycle.py
Due: format-python, lint-python, typecheck-python

Relax export validation ordering requirement
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
Due: none

Restore simple schema generation order
  prices/src/prices/build.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Make registry unit mapping immutable
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Specify protected Python registry indexes
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
Due: none

Protect Python registry key indexes
  packages/python/genai_prices/types.py
  packages/python/genai_prices/units.py
  prices/src/prices/build.py
  prices/src/prices/package_data.py
  tests/test_units.py
  tests/test_validation.py
Due: format-python, lint-python, build, typecheck-python

Specify immutable JavaScript registry API
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
Due: none

Clarify read-only JavaScript registry access
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
Due: none

Make JavaScript unit registry immutable
  packages/js/src/__tests__/activation.test.ts
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/__tests__/validation.test.ts
  packages/js/src/decompose.ts
  packages/js/src/engine.ts
  packages/js/src/types.ts
  packages/js/src/units.ts
  packages/js/src/usage.ts
  packages/js/src/validation.ts
Due: lint-fix, typecheck-ts

Specify complete reasoning unit lattice
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Add reasoning modality unit lattice
  packages/js/src/__tests__/decompose.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/__tests__/units.test.ts
  packages/js/src/dataUnits.ts
  packages/python/genai_prices/data_units.py
  prices/data_v2.schema.json
  prices/providers/.schema.json
  prices/units.yml
  tests/test_units.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Extract provider reasoning token usage
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/providers/azure.yml
  prices/providers/google.yml
  prices/providers/groq.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  prices/providers/perplexity.yml
  prices/providers/x_ai.yml
  tests/dataset/usages.json
  tests/test_end_to_end.py
  tests/test_extract_usage.py
  tests/test_google_extractors.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Preserve distinct reasoning prices from sources
  prices/src/prices/source_litellm.py
  prices/src/prices/source_openrouter.py
  tests/test_source_litellm.py
  tests/test_source_openrouter.py
Due: format-python, lint-python, build, typecheck-python

Test Gemini reasoning extraction in JavaScript
  packages/js/src/__tests__/extractUsage.test.ts
Due: lint-fix, typecheck-ts

Price Perplexity reasoning tokens separately
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data_v2.json
  prices/providers/openrouter.yml
  prices/providers/perplexity.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Cover nullable optional extractor details
  tests/test_extract_usage.py
Due: format-python, lint-python, typecheck-python

Add agentic price-check workflows (OpenAI/Anthropic, Google/Mistral)
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
  .github/workflows/agentics-maintenance.yml
  .prettierignore
Due: none

prettier-format the workflow markdown + recompile locks
  .gitattributes
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Use static-HTML-readable pricing pages + exclude gh-aw locks from zizmor
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
  .pre-commit-config.yaml
Due: none

Fix pricing-page URLs from a manual dry-run of the agent instructions
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Lean, do-this prompts + markdown pricing pages
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Make the price-check prompts specific enough for minimax
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Address review: fix noop logic, enable threat detection, handle tiers/aliases
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Clarify that Step 4 files one combined issue, not one per provider
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Agentic price-check workflows: OpenAI/Anthropic + Google/Mistral vs official pricing pages (#479)
  .gitattributes
  .github/aw/actions-lock.json
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
  .github/workflows/agentics-maintenance.yml
  .pre-commit-config.yaml
  .prettierignore
Due: none

Fix price-check runs: disable gh-aw AI-credits guardrail
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Fix price-check runs: disable gh-aw AI-credits guardrail (#482)
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Fix price-check runs: pin gh-aw to v0.82.2
  .github/aw/actions-lock.json
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
  .github/workflows/agentics-maintenance.yml
Due: none

Fix price-check runs: pin gh-aw to v0.82.2 (#484)
  .github/aw/actions-lock.json
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
  .github/workflows/agentics-maintenance.yml
Due: none

Fix price-check runs: restore max-ai-credits:-1 to disable the guardrail
  .github/workflows/AGENTIC_PRICE_CHECK.md
  .github/workflows/agentic-price-check-google-mistral.lock.yml
  .github/workflows/agentic-price-check-google-mistral.md
  .github/workflows/agentic-price-check-openai-anthropic.lock.yml
  .github/workflows/agentic-price-check-openai-anthropic.md
Due: none

Specify text catch-all for partial modality details
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/code-spec.md
  specs/data-driven-unit-registry/phase-1-static-unit-registry-release/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
