Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, collapse-models, build, typecheck

format:
  name: format
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint:
  name: lint
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - package-data
  language: system
  pass_filenames: false

typecheck:
  name: typecheck
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

add gpt-5 to azure
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/azure.yml
  prices/providers/openai.yml
Due: format, lint, collapse-models, build, typecheck

add OpenAI GPT-5 (#109)
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/azure.yml
  prices/providers/openai.yml
  uv.lock
Due: format, lint, collapse-models, build, typecheck

add claude opus 4.1
  Makefile
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format, lint, collapse-models, build, typecheck

add claude opus 4.1 (#110)
  Makefile
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/anthropic.yml
Due: format, lint, collapse-models, build, typecheck

release with new models
  .changeset/chatty-brooms-arrive.md
Due: none

Release with new models (#111)
  .changeset/chatty-brooms-arrive.md
Due: none

remove changeset
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci.yml
  RELEASE.md
  package-lock.json
  package.json
  packages/js/CHANGELOG.md
  packages/js/package-lock.json
  packages/js/package.json
  packages/python/CHANGELOG.md
  packages/python/package.json
  packages/python/scripts/sync-versions.sh
Due: build

add uprev.sh
  RELEASE.md
  packages/python/pyproject.toml
  uprev.sh
  uv.lock
Due: none

set release url for release-npm
  .github/workflows/ci.yml
Due: none

remove packages/js/package-lock.json
  packages/js/package-lock.json
Due: build

Unchangeset (#113)
  .changeset/README.md
  .changeset/config.json
  .github/workflows/ci.yml
  RELEASE.md
  package-lock.json
  package.json
  packages/js/CHANGELOG.md
  packages/js/package-lock.json
  packages/js/package.json
  packages/python/CHANGELOG.md
  packages/python/package.json
  packages/python/pyproject.toml
  packages/python/scripts/sync-versions.sh
  uprev.sh
  uv.lock
Due: build

uprev to v0.0.20
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  uv.lock
Due: build

fix npm publish
  .github/workflows/ci.yml
  packages/js/package.json
Due: build

fix npm publish, take 2
  .github/workflows/ci.yml
Due: none

usage extractors
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
  prices/providers/groq.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/src/prices/types.py
  tests/test_extract_usage.py
  uv.lock
Due: format, lint, collapse-models, build, typecheck

rename field, more tests
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/google.yml
  prices/providers/groq.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/src/prices/types.py
  tests/test_extract_usage.py
Due: format, lint, collapse-models, build, typecheck

add "model" field, more tests
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/cohere.yml
  prices/providers/deepseek.yml
  prices/providers/fireworks.yml
  prices/providers/x_ai.yml
  prices/src/prices/types.py
  tests/test_extract_usage.py
Due: format, lint, collapse-models, build, typecheck

fix tests and linting
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  packages/python/tests/test_provider_matching.py
  pyproject.toml
  tests/test_auto_update.py
Due: format, lint, build, typecheck

add extractor types to ts
  .pre-commit-config.yaml
  package.json
  packages/js/package.json
  packages/js/src/types.ts
Due: build

js implementation
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/extractUsage.ts
  packages/js/src/index.ts
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
  tests/test_provider_matching.py
Due: format, lint, build, typecheck

more js tests
  packages/js/src/__tests__/extractUsage.test.ts
  tests/test_extract_usage.py
Due: format, lint, build, typecheck

improve signature
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/js/src/extractUsage.ts
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data_slim.json
  prices/providers/deepseek.yml
  prices/providers/fireworks.yml
  prices/providers/x_ai.yml
  tests/test_extract_usage.py
Due: format, lint, collapse-models, build, typecheck

support mappings in python interface
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format, lint, build, typecheck

ts cleanup
  packages/js/src/extractUsage.ts
Due: none

fix path extraction, added test for it
  packages/js/package.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/extractUsage.ts
Due: build

change from review comment
  prices/src/prices/types.py
Due: format, lint, build, typecheck

Extract `Usage` from API responses (#116)
  .pre-commit-config.yaml
  package.json
  packages/js/package.json
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/js/src/extractUsage.ts
  packages/js/src/index.ts
  packages/js/src/types.ts
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/data.py
  packages/python/genai_prices/types.py
  prices/data.json
  prices/data.schema.json
  prices/data_slim.json
  prices/data_slim.schema.json
  prices/providers/.schema.json
  prices/providers/anthropic.yml
  prices/providers/cohere.yml
  prices/providers/deepseek.yml
  prices/providers/fireworks.yml
  prices/providers/google.yml
  prices/providers/groq.yml
  prices/providers/mistral.yml
  prices/providers/openai.yml
  prices/providers/x_ai.yml
  prices/src/prices/types.py
  pyproject.toml
  tests/test_auto_update.py
  tests/test_extract_usage.py
  tests/test_provider_matching.py
  uv.lock
Due: format, lint, collapse-models, build, typecheck

Simplify API to `calcPrice`
  .gitignore
  .node-version
  package-lock.json
  packages/js/LICENSE
  packages/js/README.md
  packages/js/eslint.config.mjs
  packages/js/package.json
  packages/js/prettier.config.mjs
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/api.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/cli.ts
  packages/js/src/data.ts
  packages/js/src/dataLoader.ts
  packages/js/src/engine.ts
  packages/js/src/examples/browser/index.html
  packages/js/src/examples/browser/main.ts
  packages/js/src/examples/browser/vite.browser-preview.ts
  packages/js/src/examples/node-script.ts
  packages/js/src/extractUsage.ts
  packages/js/src/index.ts
  packages/js/src/matcher.ts
  packages/js/src/priceCalc.ts
  packages/js/src/sync/calcPriceSync.ts
  packages/js/src/types.ts
  packages/js/tests/test-browser.html
  packages/js/tests/test-cli.js
  packages/js/tests/test-error-handling.js
  packages/js/tsconfig.json
  packages/js/vite.config-cli.ts
  packages/js/vite.config.ts
  prices/src/prices/package_data.py
Due: format, lint, build, typecheck

Address comments
  packages/js/README.md
  packages/js/package.json
  packages/js/prettier.config.mjs
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/api.ts
  packages/js/src/data.ts
  packages/js/src/engine.ts
  packages/js/src/examples/browser/main.ts
  packages/js/src/examples/node-script.ts
  packages/js/src/types.ts
  prettier.config.mjs
  prices/src/prices/package_data.py
Due: format, lint, build, typecheck

new Python interface for updating prices, fix #114
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/calc.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  packages/python/genai_prices/update_prices.py
  tests/cassettes/test_auto_update/fail.yaml
  tests/cassettes/test_update_prices/fail.yaml
  tests/cassettes/test_update_prices/success.yaml
  tests/conftest.py
  tests/test_auto_update.py
  tests/test_custom_prices.py
  tests/test_price_calc.py
  tests/test_provider_matching.py
  tests/test_update_prices.py
Due: format, lint, build, typecheck

tweak signatures, fix tests
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/update_prices.py
  tests/test_custom_prices.py
  tests/test_update_prices.py
Due: format, lint, build, typecheck

dedicated extract_usage method
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/calc.py
  packages/python/genai_prices/types.py
  tests/test_extract_usage.py
Due: format, lint, build, typecheck

suggestion from review
  packages/python/genai_prices/update_prices.py
Due: format, lint, build, typecheck

Update example model ids
  packages/js/README.md
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/examples/browser/main.ts
  packages/js/src/examples/node-script.ts
Due: none

Simplify API to `calcPrice` (#117)
  .gitignore
  .node-version
  package-lock.json
  packages/js/LICENSE
  packages/js/README.md
  packages/js/eslint.config.mjs
  packages/js/package.json
  packages/js/prettier.config.mjs
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/comprehensive.test.ts
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/__tests__/matcher.test.ts
  packages/js/src/api.ts
  packages/js/src/async/calcPriceAsync.ts
  packages/js/src/cli.ts
  packages/js/src/data.ts
  packages/js/src/dataLoader.ts
  packages/js/src/engine.ts
  packages/js/src/examples/browser/index.html
  packages/js/src/examples/browser/main.ts
  packages/js/src/examples/browser/vite.browser-preview.ts
  packages/js/src/examples/node-script.ts
  packages/js/src/extractUsage.ts
  packages/js/src/index.ts
  packages/js/src/matcher.ts
  packages/js/src/priceCalc.ts
  packages/js/src/sync/calcPriceSync.ts
  packages/js/src/types.ts
  packages/js/tests/test-browser.html
  packages/js/tests/test-cli.js
  packages/js/tests/test-error-handling.js
  packages/js/tsconfig.json
  packages/js/vite.config-cli.ts
  packages/js/vite.config.ts
  prettier.config.mjs
  prices/src/prices/package_data.py
Due: format, lint, build, typecheck

add api_flavor parameter, update docs
  packages/python/README.md
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/calc.py
  packages/python/genai_prices/types.py
  packages/python/genai_prices/update_prices.py
  tests/test_custom_prices.py
  tests/test_extract_usage.py
  tests/test_update_prices.py
Due: format, lint, build, typecheck

fix typo
  tests/test_custom_prices.py
Due: format, lint, build, typecheck

New Python API (#118)
  packages/python/README.md
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/_cli.py
  packages/python/genai_prices/calc.py
  packages/python/genai_prices/sources.py
  packages/python/genai_prices/types.py
  packages/python/genai_prices/update_prices.py
  tests/cassettes/test_auto_update/fail.yaml
  tests/cassettes/test_update_prices/fail.yaml
  tests/cassettes/test_update_prices/success.yaml
  tests/conftest.py
  tests/test_auto_update.py
  tests/test_custom_prices.py
  tests/test_extract_usage.py
  tests/test_price_calc.py
  tests/test_provider_matching.py
  tests/test_update_prices.py
Due: format, lint, build, typecheck

prep release of v0.0.21
  package-lock.json
  packages/js/package.json
  packages/python/pyproject.toml
  prices/pyproject.toml
  uprev.sh
  uv.lock
Due: build

remove commit
  uprev.sh
Due: none

Path conditions:
  format: any of: \.py$
  lint: any of: \.py$
  collapse-models: any of: prices/providers/
  build: (any of: prices/) or (any of: \.py$, \.json$)
  typecheck: any of: \.py$
