Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: no-commit-to-branch # prevent direct commits to the `main` branch
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace

  - repo: https://github.com/sirosen/texthooks
    rev: 0.6.8
    hooks:
      - id: fix-smartquotes
      - id: fix-spaces
      - id: fix-ligatures

  - repo: https://github.com/codespell-project/codespell
    # Configuration for codespell is in pyproject.toml
    rev: v2.3.0
    hooks:
      - id: codespell
        additional_dependencies:
          - tomli

  - repo: local
    hooks:
      - id: format-python
        name: format python
        entry: make
        args: [format]
        language: system
        types: [python]
        pass_filenames: false
      - id: prettier
        name: prettier
        entry: npx
        args: [prettier, --write, --ignore-unknown]
        language: system
      - id: lint-fix
        name: lint fix
        entry: npm
        args: [run, lint-fix]
        files: "packages/js/"
        types_or: [ts, javascript]
        language: system
        pass_filenames: false
      - id: lint-python
        name: lint python
        entry: make
        args: [lint]
        types: [python]
        language: system
        pass_filenames: false
      - id: collapse-models
        name: collapse models
        entry: make
        args: [collapse-models]
        files: "prices/providers/"
        language: system
        pass_filenames: false
      - id: build
        name: build prices
        entry: make
        args: [build]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: check-for-price-discrepancies
        name: check for price discrepancies
        entry: make
        args: [check-for-price-discrepancies]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: inject-providers
        name: inject providers into README.md
        entry: make
        args: [inject-providers]
        types: [yaml]
        files: "prices/"
        language: system
        pass_filenames: false
      - id: typecheck-python
        name: typecheck python
        entry: make
        args: [typecheck]
        language: system
        types: [python]
        pass_filenames: false
      - id: typecheck-ts
        name: typecheck typescript
        entry: npm
        args: [run, typecheck]
        language: system
        types: [ts]
        pass_filenames: false

Trust fetched price payloads
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Move extractor validation to 1C
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify registry class exports
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Require Phase 2 registry detach
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/spec.md
Due: none

Clarify decomposition lattice wording
  specs/data-driven-unit-registry/algorithm.md
Due: none

Clarify fixed request pricing
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Leave Phase 2 registry staging open
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/spec.md
Due: none

Add OpenRouter usage extractor with cache write token support (#350)
  packages/js/src/__tests__/extractUsage.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/data.json
  prices/data_slim.json
  prices/providers/openrouter.yml
  tests/dataset/usages.json
  tests/test_extract_usage.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Defer join-closedness validation to 1C
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify request pricing unit semantics
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Specify missing usage inference
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Specify runtime trusted price validation context
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Add 1D dynamic key safety validation
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Document requests validation exception
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Require Usage constructor to reject unknown keys
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Fix pricing example arithmetic
  specs/data-driven-unit-registry/examples.md
Due: none

Document discarded unit registry proof of concept
  specs/data-driven-unit-registry/code-spec.md
Due: none

Tighten unit registry code spec decisions
  specs/data-driven-unit-registry/code-spec.md
Due: none

Move validation performance work to phase 1E
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Split unit registry specs into seven phases
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-2-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/phase-3-global-snapshot-enforcement/code-spec.md
  specs/data-driven-unit-registry/phase-3-global-snapshot-enforcement/spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/code-spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/phase-7-global-snapshot-enforcement/code-spec.md
  specs/data-driven-unit-registry/phase-7-global-snapshot-enforcement/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Remove redundant unit registry code spec index
  specs/data-driven-unit-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Restore unit registry spec foundations
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Expand unit registry spec rationale
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Restore runtime unit staging decisions
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/spec.md
Due: none

Expand unit registry spec implementation detail
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Leave runtime unit staging undecided
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/spec.md
Due: none

Restore unit registry spec rationale
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Defer runtime price trust validation to phase five
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/code-spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify unit registry phase three validation details
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
Due: none

Add data-driven unit registry specs
  specs/data-driven-unit-registry/algorithm.md
  specs/data-driven-unit-registry/examples.md
  specs/data-driven-unit-registry/implementation-flow.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-2-javascript-internal-registry/spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/code-spec.md
  specs/data-driven-unit-registry/phase-3-shared-data-contract/spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/code-spec.md
  specs/data-driven-unit-registry/phase-4-polish-compat-hardening/spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/code-spec.md
  specs/data-driven-unit-registry/phase-5-runtime-validation-performance/spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/code-spec.md
  specs/data-driven-unit-registry/phase-6-runtime-custom-units/spec.md
  specs/data-driven-unit-registry/phase-7-global-snapshot-enforcement/code-spec.md
  specs/data-driven-unit-registry/phase-7-global-snapshot-enforcement/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Clarify unit registry validation contracts
  specs/data-driven-unit-registry/phase-1-python-internal-registry/code-spec.md
  specs/data-driven-unit-registry/phase-1-python-internal-registry/spec.md
  specs/data-driven-unit-registry/spec.md
Due: none

Add current Python unit registry source
  prices/units.yml
  tests/test_units.py
Due: format-python, lint-python, build, check-for-price-discrepancies, inject-providers, typecheck-python

Add basic unit registry models
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add unit registry dimension indexes
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add unit registry compatibility helper
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add unit registry ancestor helper
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add unit registry join lookup
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Add reported usage key helper
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Validate unique registry usage and price keys
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python

Validate unique registry dimension sets
  packages/python/genai_prices/units.py
  tests/test_units.py
Due: format-python, lint-python, build, typecheck-python
