Repository pydantic/genai-prices: changes, and which pre-commit hooks are due for each by the changed paths.
All: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

format-python:
  name: format python
  entry: make
  args:
  - format
  language: system
  pass_filenames: false

lint-fix:
  name: lint fix
  entry: npm
  args:
  - run
  - lint-fix
  language: system
  pass_filenames: false

lint-python:
  name: lint python
  entry: make
  args:
  - lint
  language: system
  pass_filenames: false

collapse-models:
  name: collapse models
  entry: make
  args:
  - collapse-models
  language: system
  pass_filenames: false

build:
  name: build prices
  entry: make
  args:
  - build
  language: system
  pass_filenames: false

check-for-price-discrepancies:
  name: check for price discrepancies
  entry: make
  args:
  - check-for-price-discrepancies
  language: system
  pass_filenames: false

inject-providers:
  name: inject providers into README.md
  entry: make
  args:
  - inject-providers
  language: system
  pass_filenames: false

typecheck-python:
  name: typecheck python
  entry: make
  args:
  - typecheck
  language: system
  pass_filenames: false

typecheck-ts:
  name: typecheck typescript
  entry: npm
  args:
  - run
  - typecheck
  language: system
  pass_filenames: false

Fix provider context overrides and canonical lifecycle
  README.md
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/.schema.json
  prices/providers/aws.yml
  prices/providers/azure.yml
  prices/providers/openai.yml
  prices/src/prices/build.py
  prices/src/prices/prices_types.py
  tests/test_build_metadata.py
  tests/test_cli.py
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Keep Claude Sonnet 5 launch prices and update Voxtral Small
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/mistral.yml
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Prevent Mistral from claiming qualified model IDs
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Keep Claude Sonnet 5 launch prices and update Voxtral Small (#593)
  packages/js/src/__tests__/calcPrice.test.ts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/mistral.yml
  prices/providers/openrouter.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Split Mistral model generations and correct their prices
  README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/dataset/usages.json
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Apply Mistral Medium cached-input discounts
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Retain Mistral Medium 1 historical pricing
  README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Split Mistral model generations and correct their prices (#595)
  README.md
  packages/js/src/__tests__/generatedData.test.ts
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/mistral.yml
  tests/dataset/usages.json
  tests/test_model_matching.py
  tests/test_price_calc.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

adding background update helper method
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

fix in structure, do not rely on ref count to see if updater is running
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Simplify shared updater ownership
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Make shutdown publication interruption-safe
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Harden shared updater lifecycle
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Fix: discarded fetch must not report success to waiters (Codex review)
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

exception trace handling
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Keep updater failures process-wide
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Document shared wait results
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Make the shared background updater safe for library consumers
  packages/python/README.md
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Harden wait semantics and close review gaps in the shared updater
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Make stopping the shared updater non-blocking with a fencing gate
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Preserve shared updater error semantics
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Drop unrelated updater test rewrites
  packages/python/genai_prices/__init__.py
  tests/test_custom_prices.py
  tests/test_tiered_pricing.py
Due: format-python, lint-python, build, typecheck-python

Strip os.fork() handling into a follow-up PR
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Address review: timeout conflict warning, stop() re-raises, drop ADR
  docs/adr/0001-singleton-background-updater.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Remove the GENAI_PRICES_DISABLE_AUTO_UPDATE kill switch
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Tighten README ordering for shared-updater precedence docs
  packages/python/README.md
Due: none

Survive os.fork(): hold the lock across fork and restart the updater in the child
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Let a manually started UpdatePrices take over the shared background updater
  packages/python/README.md
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Prevent updater shutdown races
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Collapse the background updater into a process-global singleton
  docs/adr/0001-singleton-background-updater.md
  packages/python/genai_prices/update_prices.py
  tests/test_custom_prices.py
  tests/test_tiered_pricing.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

adding a comment for blocking on join for close
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Clarify shared failure observers
  packages/python/genai_prices/update_prices.py
Due: format-python, lint-python, build, typecheck-python

Update README for the singleton background updater
  packages/python/README.md
Due: none

Make UpdatePrices the ref-counted lease; drop update_prices_in_background
  packages/python/README.md
  packages/python/genai_prices/__init__.py
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Refactor lookup cache tests
  tests/test_model_matching.py
  tests/test_snapshot_cache.py
Due: format-python, lint-python, typecheck-python

Correct documented provider context limits
  packages/js/src/data.ts
  packages/python/genai_prices/data.py
  prices/new_data/v2/data.json
  prices/new_data/v2/data_slim.json
  prices/providers/anthropic.yml
  prices/providers/aws.yml
  prices/providers/azure.yml
  prices/providers/fireworks.yml
  prices/providers/google.yml
  prices/providers/openai.yml
  prices/providers/openrouter.yml
  tests/test_model_matching.py
Due: format-python, lint-fix, lint-python, collapse-models, build, check-for-price-discrepancies, inject-providers, typecheck-python, typecheck-ts

Gate interrupted worker startup
  packages/python/genai_prices/update_prices.py
  tests/test_update_prices.py
Due: format-python, lint-python, build, typecheck-python

Fix late-worker regression assertion
  tests/test_update_prices.py
Due: format-python, lint-python, typecheck-python

Fix order-dependent price lookup: cache write key must match its read key (#560)
  packages/python/genai_prices/data_snapshot.py
  tests/test_model_matching.py
Due: format-python, lint-python, build, typecheck-python

Clarify Sonnet 4.5 context retirement
  prices/providers/anthropic.yml
Due: collapse-models, build, check-for-price-discrepancies, inject-providers

Path conditions:
  format-python: any of: \.py$
  lint-fix: any of: packages/js/ and \.(ts|mts|cts)$, \.(js|mjs|cjs)$
  lint-python: any of: \.py$
  collapse-models: any of: prices/providers/
  build: any of: prices/
  check-for-price-discrepancies: any of: prices/ and \.(yaml|yml)$
  inject-providers: any of: prices/ and \.(yaml|yml)$
  typecheck-python: any of: \.py$
  typecheck-ts: any of: \.(ts|mts|cts)$
